<div class="embedPdf">
   <svg
      class="pdf"
      version="1.1"
      id="svg9"
      width="793.33301"
      height="1122.6667"
      viewBox="0 0 793.333 1122.6667">
     <defs
        id="defs13">
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath41907">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path41905" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath41967">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path41965" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath41999">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path41997" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath42011">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path42009" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath42031">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path42029" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath42059">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path42057" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath42089">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path42087" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath42103">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path42101" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath42115">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path42113" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath42127">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path42125" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath42139">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path42137" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath42151">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path42149" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath42179">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path42177" />
       </clipPath>
     </defs>
     <sodipodi:namedview
        id="namedview11"
        pagecolor="#ffffff"
        bordercolor="#000000"
        borderopacity="0.25"
        inkscape:showpageshadow="2"
        inkscape:pageopacity="0.0"
        inkscape:pagecheckerboard="0"
        inkscape:deskcolor="#d1d1d1"
        showgrid="false"
        inkscape:zoom="0.1269139"
        inkscape:cx="3849.0663"
        inkscape:cy="307.29496"
        inkscape:window-width="1920"
        inkscape:window-height="1009"
        inkscape:window-x="-8"
        inkscape:window-y="-8"
        inkscape:window-maximized="1"
        inkscape:current-layer="g449" />
     <g
        id="g41899"
        transform="matrix(1.3333333,0,0,-1.3333333,-5.514509e-5,1122.6667)">
       <g
          id="g41901">
         <g
            id="g41903"
            clip-path="url(#clipPath41907)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,291.5,72.425)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'MS Gothic';-inkscape-font-specification:MS-PGothic;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text41911"><tspan
                x="0 6"
                y="0"
                
                id="tspan41909">19</tspan></text>
         </g>
       </g>
       <g
          id="g41961">
         <g
            id="g41963"
            clip-path="url(#clipPath41967)">
           <g
              id="g41969">
             <path
                d="m 78.225,766.38 h 0.4 v 0.4 h -0.4 z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path41971" />
             <path
                d="m 78.225,766.38 h 0.4 v 0.4 h -0.4 z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path41973" />
             <path
                d="m 78.625,766.38 h 476.17 v 0.4 H 78.625 Z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path41975" />
             <path
                d="m 554.8,766.38 h 0.40002 v 0.4 H 554.8 Z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path41977" />
             <path
                d="m 554.8,766.38 h 0.40002 v 0.4 H 554.8 Z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path41979" />
             <path
                d="m 78.225,745.58 h 0.4 v 20.8 h -0.4 z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path41981" />
             <path
                d="m 554.8,745.58 h 0.40002 v 20.8 H 554.8 Z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path41983" />
           </g>
         </g>
       </g>
       <g
          id="g41993">
         <g
            id="g41995"
            clip-path="url(#clipPath41999)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,238.67,732.38)"
              style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text42003"><tspan
                x="0 13 26 39"
                y="0"
                
                id="tspan42001">スポーツ</tspan></text>
         </g>
       </g>
       <g
          id="g42005">
         <g
            id="g42007"
            clip-path="url(#clipPath42011)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,290.7,732.38)"
              style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text42015"><tspan
                x="0 13"
                y="0"
                
                id="tspan42013">大会</tspan></text>
         </g>
       </g>
       <g
          id="g42025">
         <g
            id="g42027"
            clip-path="url(#clipPath42031)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,321.13,732.38)"
              style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text42035"><tspan
                x="0 13 26 39 52 65"
                y="0"
                
                id="tspan42033">ルールブック</tspan></text>
         </g>
       </g>
       <g
          id="g42053">
         <g
            id="g42055"
            clip-path="url(#clipPath42059)">
           <g
              id="g42061">
             <path
                d="m 78.225,723.38 h 0.4 v 22.2 h -0.4 z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42063" />
             <path
                d="m 554.8,723.38 h 0.40002 v 22.2 H 554.8 Z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42065" />
           </g>
         </g>
       </g>
       <g
          id="g42083">
         <g
            id="g42085"
            clip-path="url(#clipPath42089)">
           <g
              id="g42091">
             <path
                d="m 78.225,702.58 h 0.4 v 20.8 h -0.4 z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42093" />
             <path
                d="m 554.8,702.58 h 0.40002 v 20.8 H 554.8 Z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42095" />
           </g>
         </g>
       </g>
       <g
          id="g42097">
         <g
            id="g42099"
            clip-path="url(#clipPath42103)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,80.025,689.38)"
              style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text42107"><tspan
                x="0 13 26 39"
                y="0"
                
                id="tspan42105">責任者：</tspan></text>
         </g>
       </g>
       <g
          id="g42109">
         <g
            id="g42111"
            clip-path="url(#clipPath42115)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,132.05,689.38)"
              style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text42119"><tspan
                x="0 13 26 39"
                y="0"
                
                id="tspan42117">体育局長</tspan></text>
         </g>
       </g>
       <g
          id="g42121">
         <g
            id="g42123"
            clip-path="url(#clipPath42127)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,187.27,689.38)"
              style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text42131"><tspan
                x="0"
                y="0"
                id="tspan42129">3</tspan></text>
         </g>
       </g>
       <g
          id="g42133">
         <g
            id="g42135"
            clip-path="url(#clipPath42139)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,196.88,689.38)"
              style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text42143"><tspan
                x="0 9"
                y="0"
                
                id="tspan42141">E </tspan></text>
         </g>
       </g>
       <g
          id="g42145">
         <g
            id="g42147"
            clip-path="url(#clipPath42151)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,210.28,689.38)"
              style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text42155"><tspan
                x="0 13 26 39 52"
                y="0"
                
                id="tspan42153">佐々木珠鈴</tspan></text>
         </g>
       </g>
       <g
          id="g42173">
         <g
            id="g42175"
            clip-path="url(#clipPath42179)">
           <g
              id="g42181">
             <path
                d="m 78.225,678.77 h 0.4 v 0.40001 h -0.4 z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42183" />
             <path
                d="m 78.225,678.77 h 0.4 v 0.40001 h -0.4 z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42185" />
             <path
                d="m 78.625,678.77 h 476.17 v 0.40001 H 78.625 Z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42187" />
             <path
                d="m 554.8,678.77 h 0.40002 v 0.40001 H 554.8 Z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42189" />
             <path
                d="m 554.8,678.77 h 0.40002 v 0.40001 H 554.8 Z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42191" />
             <path
                d="m 78.225,679.18 h 0.4 v 23.4 h -0.4 z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42193" />
             <path
                d="m 554.8,679.18 h 0.40002 v 23.4 H 554.8 Z"
                style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
                id="path42195" />
           </g>
         </g>
       </g>
     </g>
   </svg>
   
</div>

<style>
    .pdf {
        width: 100%;
        border: 2px solid var(--color-primary-orange-300);
        background-color: var(--color-white);
        margin-bottom: 10px;
    }
    .embedPdf {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
</style>