<div class="embedPdf">
  <svg
    class="pdf"
    version="1.1"
    id="svg9"
    width="793.33301"
    height="1122.6667"
    viewBox="0 0 793.333 1122.6667"
  >
    <defs id="defs13">
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath39917">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path39915"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath39961">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path39959"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath39973">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path39971"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40009">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40007"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40045">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40043"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40057">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40055"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40069">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40067"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40089">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40087"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40101">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40099"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40113">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40111"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40125">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40123"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40137">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40135"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40149">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40147"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40161">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40159"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40173">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40171"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40185">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40183"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40197">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40195"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40217">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40215"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40229">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40227"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40241">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40239"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40261">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40259"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40273">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40271"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40301">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40299"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40313">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40311"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40325">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40323"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40337">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40335"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40365">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40363"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40377">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40375"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40397">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40395"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40417">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40415"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40445">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40443"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40465">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40463"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40477">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40475"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40489">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40487"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40501">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40499"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40513">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40511"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40525">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40523"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40537">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40535"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40549">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40547"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40561">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40559"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40573">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40571"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40609">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40607"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40629">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40627"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40641">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40639"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40653">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40651"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40665">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40663"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40677">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40675"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40689">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40687"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40701">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40699"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40713">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40711"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40725">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40723"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40737">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40735"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40749">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40747"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40761">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40759"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40773">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40771"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40785">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40783"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40821">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40819"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40841">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40839"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40853">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40851"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40865">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40863"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40877">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40875"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40889">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40887"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40901">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40899"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40913">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40911"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40925">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40923"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40961">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40959"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40981">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40979"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath40993">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path40991"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41005">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41003"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41017">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41015"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41029">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41027"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41041">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41039"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41053">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41051"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41065">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41063"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41085">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41083"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41097">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41095"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41109">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41107"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41121">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41119"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41133">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41131"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41153">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41151"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41165">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41163"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41177">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41175"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41205">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41203"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41225">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41223"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41237">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41235"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41249">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41247"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41261">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41259"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41273">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41271"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41285">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41283"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41305">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41303"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41317">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41315"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41329">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41327"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41365">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41363"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41385">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41383"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41397">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41395"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41409">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41407"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41421">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41419"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41433">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41431"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41445">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41443"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41457">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41455"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41469">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41467"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41481">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41479"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41551">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41549"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41563">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41561"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41575">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41573"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41587">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41585"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41599">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41597"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41611">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41609"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41623">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41621"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41635">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41633"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41647">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41645"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41683">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41681"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41695">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41693"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41707">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41705"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41719">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41717"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41731">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41729"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41743">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41741"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41755">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41753"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41767">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41765"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41779">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41777"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41791">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41789"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41803">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41801"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41815">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41813"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath41827">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path41825"></path>
      </clipPath>
    </defs>
    <sodipodi:namedview
      id="namedview11"
      pagecolor="#ffffff"
      bordercolor="#000000"
      borderopacity="0.25"
      inkscape:showpageshadow="2"
      inkscape:pageopacity="0.0"
      inkscape:pagecheckerboard="0"
      inkscape:deskcolor="#d1d1d1"
      showgrid="false"
      inkscape:zoom="0.1269139"
      inkscape:cx="3849.0663"
      inkscape:cy="307.29496"
      inkscape:window-width="1920"
      inkscape:window-height="1009"
      inkscape:window-x="-8"
      inkscape:window-y="-8"
      inkscape:window-maximized="1"
      inkscape:current-layer="g449"></sodipodi:namedview>
    <g
      id="g39909"
      transform="matrix(1.3333333,0,0,-1.3333333,-4.4268976e-5,1122.6667)"
    >
      <g id="g39911">
        <g id="g39913" clip-path="url(#clipPath39917)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,291.5,72.425)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'MS Gothic';-inkscape-font-specification:MS-PGothic;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text39921"><tspan x="0 6" y="0" id="tspan39919">18</tspan></text
          >
        </g>
      </g>
      <g id="g39955">
        <g id="g39957" clip-path="url(#clipPath39961)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,237.47,730.58)"
            style="font-variant:normal;font-weight:normal;font-size:36px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text39965"
            ><tspan x="0 36.025002" y="0" id="tspan39963">綱引</tspan></text
          >
        </g>
      </g>
      <g id="g39967">
        <g id="g39969" clip-path="url(#clipPath39973)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,309.5,730.58)"
            style="font-variant:normal;font-weight:normal;font-size:36px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text39977"><tspan x="0" y="0" id="tspan39975">き</tspan></text
          >
        </g>
      </g>
      <g id="g40003">
        <g id="g40005" clip-path="url(#clipPath40009)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,264.3,695.78)"
            style="font-variant:normal;font-weight:normal;font-size:20px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40013"
            ><tspan x="0 20 40" y="0" id="tspan40011">ルール</tspan></text
          >
        </g>
      </g>
      <g id="g40039">
        <g id="g40041" clip-path="url(#clipPath40045)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,77.225,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40049"><tspan x="0" y="0" id="tspan40047">○</tspan></text
          >
        </g>
      </g>
      <g id="g40051">
        <g id="g40053" clip-path="url(#clipPath40057)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,89.225,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40061"
            ><tspan x="0 12 24 36" y="0" id="tspan40059">人数：各</tspan></text
          >
        </g>
      </g>
      <g id="g40063">
        <g id="g40065" clip-path="url(#clipPath40069)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,137.25,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40073"
            ><tspan x="0 12 24" y="0" id="tspan40071">クラス</tspan></text
          >
        </g>
      </g>
      <g id="g40083">
        <g id="g40085" clip-path="url(#clipPath40089)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,177.27,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40093"><tspan x="0 9" y="0" id="tspan40091">3</tspan></text
          >
        </g>
      </g>
      <g id="g40095">
        <g id="g40097" clip-path="url(#clipPath40101)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,190.27,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40105"
            ><tspan x="0 12" y="0" id="tspan40103">人（</tspan></text
          >
        </g>
      </g>
      <g id="g40107">
        <g id="g40109" clip-path="url(#clipPath40113)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,214.27,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40117"><tspan x="0" y="0" id="tspan40115">1</tspan></text
          >
        </g>
      </g>
      <g id="g40119">
        <g id="g40121" clip-path="url(#clipPath40125)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,226.27,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40129"
            ><tspan x="0 12" y="0" id="tspan40127">年生</tspan></text
          >
        </g>
      </g>
      <g id="g40131">
        <g id="g40133" clip-path="url(#clipPath40137)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,250.3,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40141"><tspan x="0" y="0" id="tspan40139">は</tspan></text
          >
        </g>
      </g>
      <g id="g40143">
        <g id="g40145" clip-path="url(#clipPath40149)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,265.1,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40153"><tspan x="0" y="0" id="tspan40151">4</tspan></text
          >
        </g>
      </g>
      <g id="g40155">
        <g id="g40157" clip-path="url(#clipPath40161)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,276.9,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40165"
            ><tspan x="0 12" y="0" id="tspan40163">人、</tspan></text
          >
        </g>
      </g>
      <g id="g40167">
        <g id="g40169" clip-path="url(#clipPath40173)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,300.9,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40177"><tspan x="0 9" y="0" id="tspan40175">5</tspan></text
          >
        </g>
      </g>
      <g id="g40179">
        <g id="g40181" clip-path="url(#clipPath40185)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,313.9,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40189"
            ><tspan x="0 12" y="0" id="tspan40187">年生</tspan></text
          >
        </g>
      </g>
      <g id="g40191">
        <g id="g40193" clip-path="url(#clipPath40197)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,337.92,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40201"><tspan x="0" y="0" id="tspan40199">は</tspan></text
          >
        </g>
      </g>
      <g id="g40211">
        <g id="g40213" clip-path="url(#clipPath40217)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,353.93,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40221"><tspan x="0 9" y="0" id="tspan40219">8</tspan></text
          >
        </g>
      </g>
      <g id="g40223">
        <g id="g40225" clip-path="url(#clipPath40229)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,366.92,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40233"
            ><tspan x="0 12 24 36 48 60" y="0" id="tspan40231"
              >人、専攻科生</tspan
            ></text
          >
        </g>
      </g>
      <g id="g40235">
        <g id="g40237" clip-path="url(#clipPath40241)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,438.95,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40245"><tspan x="0" y="0" id="tspan40243">は</tspan></text
          >
        </g>
      </g>
      <g id="g40255">
        <g id="g40257" clip-path="url(#clipPath40261)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,454.75,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40265"><tspan x="0 9" y="0" id="tspan40263">2</tspan></text
          >
        </g>
      </g>
      <g id="g40267">
        <g id="g40269" clip-path="url(#clipPath40273)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,467.77,675.78)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40277"
            ><tspan x="0 11.8" y="0" id="tspan40275">人）</tspan></text
          >
        </g>
      </g>
      <g id="g40295">
        <g id="g40297" clip-path="url(#clipPath40301)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,77.225,653.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40305"><tspan x="0" y="0" id="tspan40303">○</tspan></text
          >
        </g>
      </g>
      <g id="g40307">
        <g id="g40309" clip-path="url(#clipPath40313)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,89.225,653.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40317"
            ><tspan x="0 12 24 36 48" y="0" id="tspan40315">試合時間：</tspan
            ></text
          >
        </g>
      </g>
      <g id="g40319">
        <g id="g40321" clip-path="url(#clipPath40325)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,149.25,653.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40329"><tspan x="0 9" y="0" id="tspan40327">5</tspan></text
          >
        </g>
      </g>
      <g id="g40331">
        <g id="g40333" clip-path="url(#clipPath40337)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,162.25,653.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40341"><tspan x="0" y="0" id="tspan40339">分</tspan></text
          >
        </g>
      </g>
      <g id="g40359">
        <g id="g40361" clip-path="url(#clipPath40365)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,77.225,631.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40369"><tspan x="0" y="0" id="tspan40367">○</tspan></text
          >
        </g>
      </g>
      <g id="g40371">
        <g id="g40373" clip-path="url(#clipPath40377)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,89.225,631.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40381"
            ><tspan x="0 12 24" y="0" id="tspan40379">細則：</tspan></text
          >
        </g>
      </g>
      <g id="g40391">
        <g id="g40393" clip-path="url(#clipPath40397)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,54.025,609.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40401"><tspan x="0" y="0" id="tspan40399">・</tspan></text
          >
        </g>
      </g>
      <g id="g40411">
        <g id="g40413" clip-path="url(#clipPath40417)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,72.025,609.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40421"
            ><tspan x="0 12 24 36" y="0" id="tspan40419">学科対抗</tspan></text
          >
        </g>
      </g>
      <g id="g40439">
        <g id="g40441" clip-path="url(#clipPath40445)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,54.025,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40449"><tspan x="0" y="0" id="tspan40447">・</tspan></text
          >
        </g>
      </g>
      <g id="g40459">
        <g id="g40461" clip-path="url(#clipPath40465)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,72.025,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40469"><tspan x="0" y="0" id="tspan40467">綱</tspan></text
          >
        </g>
      </g>
      <g id="g40471">
        <g id="g40473" clip-path="url(#clipPath40477)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,84.025,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40481"><tspan x="0" y="0" id="tspan40479">を</tspan></text
          >
        </g>
      </g>
      <g id="g40483">
        <g id="g40485" clip-path="url(#clipPath40489)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,96.025,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40493"
            ><tspan x="0 12 24 36 48" y="0" id="tspan40491">一定以上引</tspan
            ></text
          >
        </g>
      </g>
      <g id="g40495">
        <g id="g40497" clip-path="url(#clipPath40501)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,156.05,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40505"><tspan x="0" y="0" id="tspan40503">き</tspan></text
          >
        </g>
      </g>
      <g id="g40507">
        <g id="g40509" clip-path="url(#clipPath40513)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,168.05,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40517"><tspan x="0" y="0" id="tspan40515">寄</tspan></text
          >
        </g>
      </g>
      <g id="g40519">
        <g id="g40521" clip-path="url(#clipPath40525)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,180.08,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40529"
            ><tspan x="0 12" y="0" id="tspan40527">せた</tspan></text
          >
        </g>
      </g>
      <g id="g40531">
        <g id="g40533" clip-path="url(#clipPath40537)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,204.08,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40541"
            ><tspan x="0 12 24" y="0" id="tspan40539">チーム</tspan></text
          >
        </g>
      </g>
      <g id="g40543">
        <g id="g40545" clip-path="url(#clipPath40549)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,240.08,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40553"><tspan x="0" y="0" id="tspan40551">の</tspan></text
          >
        </g>
      </g>
      <g id="g40555">
        <g id="g40557" clip-path="url(#clipPath40561)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,252.1,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40565"><tspan x="0" y="0" id="tspan40563">勝</tspan></text
          >
        </g>
      </g>
      <g id="g40567">
        <g id="g40569" clip-path="url(#clipPath40573)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,264.1,587.55)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40577"
            ><tspan x="0 12 24 36 48" y="0" id="tspan40575">ちとする。</tspan
            ></text
          >
        </g>
      </g>
      <g id="g40603">
        <g id="g40605" clip-path="url(#clipPath40609)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,54.025,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40613"><tspan x="0" y="0" id="tspan40611">・</tspan></text
          >
        </g>
      </g>
      <g id="g40623">
        <g id="g40625" clip-path="url(#clipPath40629)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,72.025,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40633"
            ><tspan x="0 12 24 36" y="0" id="tspan40631">時間以内</tspan></text
          >
        </g>
      </g>
      <g id="g40635">
        <g id="g40637" clip-path="url(#clipPath40641)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,120.05,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40645"><tspan x="0" y="0" id="tspan40643">に</tspan></text
          >
        </g>
      </g>
      <g id="g40647">
        <g id="g40649" clip-path="url(#clipPath40653)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,132.05,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40657"
            ><tspan x="0 12 24" y="0" id="tspan40655">未決着</tspan></text
          >
        </g>
      </g>
      <g id="g40659">
        <g id="g40661" clip-path="url(#clipPath40665)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,168.05,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40669"><tspan x="0" y="0" id="tspan40667">の</tspan></text
          >
        </g>
      </g>
      <g id="g40671">
        <g id="g40673" clip-path="url(#clipPath40677)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,180.08,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40681"
            ><tspan x="0 12 24 36" y="0" id="tspan40679">場合、綱</tspan></text
          >
        </g>
      </g>
      <g id="g40683">
        <g id="g40685" clip-path="url(#clipPath40689)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,228.08,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40693"
            ><tspan x="0 12 24" y="0" id="tspan40691">をより</tspan></text
          >
        </g>
      </g>
      <g id="g40695">
        <g id="g40697" clip-path="url(#clipPath40701)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,264.1,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40705"><tspan x="0" y="0" id="tspan40703">引</tspan></text
          >
        </g>
      </g>
      <g id="g40707">
        <g id="g40709" clip-path="url(#clipPath40713)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,276.1,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40717"><tspan x="0" y="0" id="tspan40715">き</tspan></text
          >
        </g>
      </g>
      <g id="g40719">
        <g id="g40721" clip-path="url(#clipPath40725)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,288.1,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40729"><tspan x="0" y="0" id="tspan40727">寄</tspan></text
          >
        </g>
      </g>
      <g id="g40731">
        <g id="g40733" clip-path="url(#clipPath40737)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,300.1,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40741"
            ><tspan x="0 12 24 36" y="0" id="tspan40739">せている</tspan></text
          >
        </g>
      </g>
      <g id="g40743">
        <g id="g40745" clip-path="url(#clipPath40749)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,348.13,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40753"
            ><tspan x="0 12 24" y="0" id="tspan40751">チーム</tspan></text
          >
        </g>
      </g>
      <g id="g40755">
        <g id="g40757" clip-path="url(#clipPath40761)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,384.13,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40765"><tspan x="0" y="0" id="tspan40763">の</tspan></text
          >
        </g>
      </g>
      <g id="g40767">
        <g id="g40769" clip-path="url(#clipPath40773)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,396.15,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40777"
            ><tspan x="0 12" y="0" id="tspan40775">勝利</tspan></text
          >
        </g>
      </g>
      <g id="g40779">
        <g id="g40781" clip-path="url(#clipPath40785)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,420.15,568.75)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40789"
            ><tspan x="0 12 24 36" y="0" id="tspan40787">とする。</tspan></text
          >
        </g>
      </g>
      <g id="g40815">
        <g id="g40817" clip-path="url(#clipPath40821)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,54.025,550.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40825"><tspan x="0" y="0" id="tspan40823">・</tspan></text
          >
        </g>
      </g>
      <g id="g40835">
        <g id="g40837" clip-path="url(#clipPath40841)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,72.025,550.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40845"
            ><tspan x="0 12 24" y="0" id="tspan40843">専攻科</tspan></text
          >
        </g>
      </g>
      <g id="g40847">
        <g id="g40849" clip-path="url(#clipPath40853)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,108.05,550.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40857"><tspan x="0" y="0" id="tspan40855">は</tspan></text
          >
        </g>
      </g>
      <g id="g40859">
        <g id="g40861" clip-path="url(#clipPath40865)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,120.05,550.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40869"
            ><tspan x="0 12" y="0" id="tspan40867">抽選</tspan></text
          >
        </g>
      </g>
      <g id="g40871">
        <g id="g40873" clip-path="url(#clipPath40877)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,144.05,550.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40881"
            ><tspan x="0 12 24 36 48 60 72 84 96" y="0" id="tspan40879"
              >によっていずれかの</tspan
            ></text
          >
        </g>
      </g>
      <g id="g40883">
        <g id="g40885" clip-path="url(#clipPath40889)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,252.1,550.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40893"
            ><tspan x="0 12" y="0" id="tspan40891">学科</tspan></text
          >
        </g>
      </g>
      <g id="g40895">
        <g id="g40897" clip-path="url(#clipPath40901)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,276.1,550.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40905"><tspan x="0" y="0" id="tspan40903">に</tspan></text
          >
        </g>
      </g>
      <g id="g40907">
        <g id="g40909" clip-path="url(#clipPath40913)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,288.1,550.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40917"><tspan x="0" y="0" id="tspan40915">入</tspan></text
          >
        </g>
      </g>
      <g id="g40919">
        <g id="g40921" clip-path="url(#clipPath40925)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,300.1,550.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40929"
            ><tspan x="0 12" y="0" id="tspan40927">る。</tspan></text
          >
        </g>
      </g>
      <g id="g40955">
        <g id="g40957" clip-path="url(#clipPath40961)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,54.025,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40965"><tspan x="0" y="0" id="tspan40963">・</tspan></text
          >
        </g>
      </g>
      <g id="g40975">
        <g id="g40977" clip-path="url(#clipPath40981)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,72.025,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40985"
            ><tspan x="0 12 24" y="0" id="tspan40983">専攻科</tspan></text
          >
        </g>
      </g>
      <g id="g40987">
        <g id="g40989" clip-path="url(#clipPath40993)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,108.05,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text40997"><tspan x="0" y="0" id="tspan40995">と</tspan></text
          >
        </g>
      </g>
      <g id="g40999">
        <g id="g41001" clip-path="url(#clipPath41005)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,120.05,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41009"
            ><tspan x="0 12" y="0" id="tspan41007">合同</tspan></text
          >
        </g>
      </g>
      <g id="g41011">
        <g id="g41013" clip-path="url(#clipPath41017)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,144.05,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41021"><tspan x="0" y="0" id="tspan41019">で</tspan></text
          >
        </g>
      </g>
      <g id="g41023">
        <g id="g41025" clip-path="url(#clipPath41029)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,156.05,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41033"
            ><tspan x="0 12" y="0" id="tspan41031">出場</tspan></text
          >
        </g>
      </g>
      <g id="g41035">
        <g id="g41037" clip-path="url(#clipPath41041)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,180.08,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41045"
            ><tspan x="0 12" y="0" id="tspan41043">する</tspan></text
          >
        </g>
      </g>
      <g id="g41047">
        <g id="g41049" clip-path="url(#clipPath41053)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,204.08,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41057"
            ><tspan x="0 12" y="0" id="tspan41055">学科</tspan></text
          >
        </g>
      </g>
      <g id="g41059">
        <g id="g41061" clip-path="url(#clipPath41065)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,228.08,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41069"><tspan x="0" y="0" id="tspan41067">の</tspan></text
          >
        </g>
      </g>
      <g id="g41079">
        <g id="g41081" clip-path="url(#clipPath41085)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,244.08,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41089"><tspan x="0 9" y="0" id="tspan41087">5</tspan></text
          >
        </g>
      </g>
      <g id="g41091">
        <g id="g41093" clip-path="url(#clipPath41097)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,257.1,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41101"
            ><tspan x="0 11.8" y="0" id="tspan41099">年生</tspan></text
          >
        </g>
      </g>
      <g id="g41103">
        <g id="g41105" clip-path="url(#clipPath41109)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,280.9,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41113"><tspan x="0" y="0" id="tspan41111">は</tspan></text
          >
        </g>
      </g>
      <g id="g41115">
        <g id="g41117" clip-path="url(#clipPath41121)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,292.9,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41125"
            ><tspan x="0 12 24" y="0" id="tspan41123">出場者</tspan></text
          >
        </g>
      </g>
      <g id="g41127">
        <g id="g41129" clip-path="url(#clipPath41133)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,328.92,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41137"><tspan x="0" y="0" id="tspan41135">を</tspan></text
          >
        </g>
      </g>
      <g id="g41147">
        <g id="g41149" clip-path="url(#clipPath41153)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,344.93,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41157"><tspan x="0 9" y="0" id="tspan41155">2</tspan></text
          >
        </g>
      </g>
      <g id="g41159">
        <g id="g41161" clip-path="url(#clipPath41165)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,357.92,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41169"
            ><tspan x="0 12" y="0" id="tspan41167">人減</tspan></text
          >
        </g>
      </g>
      <g id="g41171">
        <g id="g41173" clip-path="url(#clipPath41177)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,381.92,531.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41181"
            ><tspan x="0 12 24 36 48" y="0" id="tspan41179">じること。</tspan
            ></text
          >
        </g>
      </g>
      <g id="g41199">
        <g id="g41201" clip-path="url(#clipPath41205)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,54.025,508.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41209"><tspan x="0" y="0" id="tspan41207">・</tspan></text
          >
        </g>
      </g>
      <g id="g41219">
        <g id="g41221" clip-path="url(#clipPath41225)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,72.025,508.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41229"
            ><tspan x="0 12 24 36" y="0" id="tspan41227">選手以外</tspan></text
          >
        </g>
      </g>
      <g id="g41231">
        <g id="g41233" clip-path="url(#clipPath41237)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,120.05,508.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41241"><tspan x="0" y="0" id="tspan41239">の</tspan></text
          >
        </g>
      </g>
      <g id="g41243">
        <g id="g41245" clip-path="url(#clipPath41249)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,132.05,508.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41253"><tspan x="0" y="0" id="tspan41251">人</tspan></text
          >
        </g>
      </g>
      <g id="g41255">
        <g id="g41257" clip-path="url(#clipPath41261)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,144.05,508.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41265"><tspan x="0" y="0" id="tspan41263">は</tspan></text
          >
        </g>
      </g>
      <g id="g41267">
        <g id="g41269" clip-path="url(#clipPath41273)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,156.05,508.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41277"><tspan x="0" y="0" id="tspan41275">綱</tspan></text
          >
        </g>
      </g>
      <g id="g41279">
        <g id="g41281" clip-path="url(#clipPath41285)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,168.05,508.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41289"
            ><tspan x="0 12" y="0" id="tspan41287">から</tspan></text
          >
        </g>
      </g>
      <g id="g41299">
        <g id="g41301" clip-path="url(#clipPath41305)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,196.08,508.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41309"
            ><tspan x="0 8.9879999 17.976 29.16" y="0" id="tspan41307"
              >10m
            </tspan></text
          >
        </g>
      </g>
      <g id="g41311">
        <g id="g41313" clip-path="url(#clipPath41317)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,229.28,508.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41321"
            ><tspan x="0 12 24" y="0" id="tspan41319">以上離</tspan></text
          >
        </g>
      </g>
      <g id="g41323">
        <g id="g41325" clip-path="url(#clipPath41329)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,265.1,508.53)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41333"
            ><tspan x="0 12 24" y="0" id="tspan41331">れる。</tspan></text
          >
        </g>
      </g>
      <g id="g41359">
        <g id="g41361" clip-path="url(#clipPath41365)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,54.025,488.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41369"><tspan x="0" y="0" id="tspan41367">・</tspan></text
          >
        </g>
      </g>
      <g id="g41379">
        <g id="g41381" clip-path="url(#clipPath41385)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,72.025,488.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41389"
            ><tspan x="0 12 24" y="0" id="tspan41387">発砲音</tspan></text
          >
        </g>
      </g>
      <g id="g41391">
        <g id="g41393" clip-path="url(#clipPath41397)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,108.05,488.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41401"
            ><tspan x="0 12 24 36 48 60" y="0" id="tspan41399"
              >のするものを</tspan
            ></text
          >
        </g>
      </g>
      <g id="g41403">
        <g id="g41405" clip-path="url(#clipPath41409)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,180.08,488.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41413"
            ><tspan x="0 12" y="0" id="tspan41411">使用</tspan></text
          >
        </g>
      </g>
      <g id="g41415">
        <g id="g41417" clip-path="url(#clipPath41421)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,204.08,488.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41425"
            ><tspan x="0 12 24 36 48 60 72 84" y="0" id="tspan41423"
              >してはいけない。</tspan
            ></text
          >
        </g>
      </g>
      <g id="g41427">
        <g id="g41429" clip-path="url(#clipPath41433)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,300.1,488.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41437"><tspan x="0" y="0" id="tspan41435">笛</tspan></text
          >
        </g>
      </g>
      <g id="g41439">
        <g id="g41441" clip-path="url(#clipPath41445)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,312.1,488.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41449"
            ><tspan x="0 12 24" y="0" id="tspan41447">などの</tspan></text
          >
        </g>
      </g>
      <g id="g41451">
        <g id="g41453" clip-path="url(#clipPath41457)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,348.13,488.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41461"
            ><tspan x="0 12" y="0" id="tspan41459">使用</tspan></text
          >
        </g>
      </g>
      <g id="g41463">
        <g id="g41465" clip-path="url(#clipPath41469)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,372.13,488.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41473"><tspan x="0" y="0" id="tspan41471">は</tspan></text
          >
        </g>
      </g>
      <g id="g41475">
        <g id="g41477" clip-path="url(#clipPath41481)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,384.13,488.33)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41485"
            ><tspan x="0 12" y="0" id="tspan41483">可。</tspan></text
          >
        </g>
      </g>
      <path
        d="m 125.05,447.3 h 96.025 v 15.625 H 125.05 Z"
        style="fill:#00ffff;fill-opacity:1;fill-rule:evenodd;stroke:none"
        id="path41535"></path>
      <g id="g41545">
        <g id="g41547" clip-path="url(#clipPath41551)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,113.05,450.73)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41555"><tspan x="0" y="0" id="tspan41553">※</tspan></text
          >
        </g>
      </g>
      <g id="g41557">
        <g id="g41559" clip-path="url(#clipPath41563)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,125.05,450.73)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41567"><tspan x="0" y="0" id="tspan41565">同</tspan></text
          >
        </g>
      </g>
      <g id="g41569">
        <g id="g41571" clip-path="url(#clipPath41575)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,137.05,450.73)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41579"
            ><tspan x="0 12 24" y="0" id="tspan41577">クラス</tspan></text
          >
        </g>
      </g>
      <g id="g41581">
        <g id="g41583" clip-path="url(#clipPath41587)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,173.05,450.73)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41591"><tspan x="0" y="0" id="tspan41589">間</tspan></text
          >
        </g>
      </g>
      <g id="g41593">
        <g id="g41595" clip-path="url(#clipPath41599)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,185.08,450.73)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41603"
            ><tspan x="0 12 24" y="0" id="tspan41601">でのみ</tspan></text
          >
        </g>
      </g>
      <g id="g41605">
        <g id="g41607" clip-path="url(#clipPath41611)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,221.08,450.73)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41615"
            ><tspan x="0 12" y="0" id="tspan41613">補充</tspan></text
          >
        </g>
      </g>
      <g id="g41617">
        <g id="g41619" clip-path="url(#clipPath41623)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,245.08,450.73)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41627"><tspan x="0" y="0" id="tspan41625">を</tspan></text
          >
        </g>
      </g>
      <g id="g41629">
        <g id="g41631" clip-path="url(#clipPath41635)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,257.1,450.73)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41639"><tspan x="0" y="0" id="tspan41637">認</tspan></text
          >
        </g>
      </g>
      <g id="g41641">
        <g id="g41643" clip-path="url(#clipPath41647)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,269.1,450.73)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41651"
            ><tspan x="0 12 24" y="0" id="tspan41649">める。</tspan></text
          >
        </g>
      </g>
      <g id="g41677">
        <g id="g41679" clip-path="url(#clipPath41683)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,121.05,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41687"><tspan x="0" y="0" id="tspan41685">※</tspan></text
          >
        </g>
      </g>
      <g id="g41689">
        <g id="g41691" clip-path="url(#clipPath41695)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,133.05,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41699"
            ><tspan x="0 12 24" y="0" id="tspan41697">補充後</tspan></text
          >
        </g>
      </g>
      <g id="g41701">
        <g id="g41703" clip-path="url(#clipPath41707)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,169.05,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41711"><tspan x="0" y="0" id="tspan41709">の</tspan></text
          >
        </g>
      </g>
      <g id="g41713">
        <g id="g41715" clip-path="url(#clipPath41719)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,181.08,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41723"
            ><tspan x="0 12 24" y="0" id="tspan41721">クラス</tspan></text
          >
        </g>
      </g>
      <g id="g41725">
        <g id="g41727" clip-path="url(#clipPath41731)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,217.08,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41735"><tspan x="0" y="0" id="tspan41733">の</tspan></text
          >
        </g>
      </g>
      <g id="g41737">
        <g id="g41739" clip-path="url(#clipPath41743)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,229.08,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41747"
            ><tspan x="0 12 24 36" y="0" id="tspan41745">合計人数</tspan></text
          >
        </g>
      </g>
      <g id="g41749">
        <g id="g41751" clip-path="url(#clipPath41755)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,277.1,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41759"><tspan x="0" y="0" id="tspan41757">が</tspan></text
          >
        </g>
      </g>
      <g id="g41761">
        <g id="g41763" clip-path="url(#clipPath41767)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,289.1,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41771"
            ><tspan x="0 12" y="0" id="tspan41769">上記</tspan></text
          >
        </g>
      </g>
      <g id="g41773">
        <g id="g41775" clip-path="url(#clipPath41779)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,313.1,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41783"><tspan x="0" y="0" id="tspan41781">の</tspan></text
          >
        </g>
      </g>
      <g id="g41785">
        <g id="g41787" clip-path="url(#clipPath41791)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,325.13,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41795"
            ><tspan x="0 12" y="0" id="tspan41793">人数</tspan></text
          >
        </g>
      </g>
      <g id="g41797">
        <g id="g41799" clip-path="url(#clipPath41803)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,349.13,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41807"><tspan x="0" y="0" id="tspan41805">を</tspan></text
          >
        </g>
      </g>
      <g id="g41809">
        <g id="g41811" clip-path="url(#clipPath41815)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,361.13,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41819"><tspan x="0" y="0" id="tspan41817">超</tspan></text
          >
        </g>
      </g>
      <g id="g41821">
        <g id="g41823" clip-path="url(#clipPath41827)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,373.13,431.9)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text41831"
            ><tspan x="0 12 24 36 48 60 72 84" y="0" id="tspan41829"
              >えてはならない。</tspan
            ></text
          >
        </g>
      </g>
    </g>
  </svg>
</div>

<style>
  .pdf {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-primary-orange-300);
    background-color: var(--color-white);
    margin-bottom: 10px;
  }
  .embedPdf {
    width: 100%;
    aspect-ratio: 1/1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
</style>
