<div class="embedPdf">
  <svg
   class="pdf"
   version="1.1"
   id="svg9"
   width="793.33301"
   height="1122.6667"
   viewBox="0 0 793.333 1122.6667"
   sodipodi:docname="R5 ルールブック.pdf"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs13">
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30149">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30147" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30193">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30191" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30229">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30227" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30265">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30263" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30277">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30275" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30305">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30303" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30317">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30315" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30329">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30327" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30341">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30339" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30353">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30351" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30365">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30363" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30385">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30383" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30397">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30395" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30409">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30407" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30429">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30427" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30441">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30439" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30453">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30451" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30465">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30463" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30477">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30475" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30489">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30487" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30501">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30499" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30513">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30511" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30525">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30523" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30537">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30535" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30565">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30563" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30577">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30575" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30597">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30595" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30617">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30615" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30629">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30627" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30657">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30655" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30669">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30667" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30681">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30679" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30693">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30691" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30705">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30703" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30717">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30715" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30729">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30727" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30741">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30739" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30753">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30751" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30765">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30763" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30777">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30775" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30813">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30811" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30833">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30831" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30845">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30843" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30857">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30855" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30869">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30867" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30905">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30903" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30925">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30923" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30937">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30935" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30949">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30947" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30961">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30959" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30973">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30971" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30985">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30983" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath30997">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path30995" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31009">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31007" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31045">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31043" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31065">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31063" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31077">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31075" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31089">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31087" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31101">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31099" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31113">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31111" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31125">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31123" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31161">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31159" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31181">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31179" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31193">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31191" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31205">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31203" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31217">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31215" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31229">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31227" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31241">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31239" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31253">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31251" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31265">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31263" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31277">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31275" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31289">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31287" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31309">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31307" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31321">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31319" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31333">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31331" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31345">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31343" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31357">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31355" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31393">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31391" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31413">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31411" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31425">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31423" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31437">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31435" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31449">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31447" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31461">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31459" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31473">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31471" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31485">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31483" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31497">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31495" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31509">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31507" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31521">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31519" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31533">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31531" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31545">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31543" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31565">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31563" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31577">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31575" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31589">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31587" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31601">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31599" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31613">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31611" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31625">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31623" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31637">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31635" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31649">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31647" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31661">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31659" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31673">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31671" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31685">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31683" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31721">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31719" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31741">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31739" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31753">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31751" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31765">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31763" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31777">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31775" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31789">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31787" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31801">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31799" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31813">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31811" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31825">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31823" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31837">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31835" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31849">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31847" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31861">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31859" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31873">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31871" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath31885">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path31883" />
    </clipPath>
  </defs>
  <sodipodi:namedview
     id="namedview11"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     showgrid="false" />
  <g
     id="g30141"
     inkscape:groupmode="layer"
     inkscape:label="Page 13"
     transform="matrix(1.3333333,0,0,-1.3333333,-3.6763393e-5,1122.6667)">
    <g
       id="g30143">
      <g
         id="g30145"
         clip-path="url(#clipPath30149)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,291.5,72.425)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'MS Gothic';-inkscape-font-specification:MS-PGothic;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30153"><tspan
             x="0 6"
             y="0"
             sodipodi:role="line"
             id="tspan30151">13</tspan></text>
      </g>
    </g>
    <g
       id="g30187">
      <g
         id="g30189"
         clip-path="url(#clipPath30193)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,183.28,730.58)"
           style="font-variant:normal;font-weight:normal;font-size:36px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30197"><tspan
             x="0 36.025002 72.050003 108.075 144.10001 180.125"
             y="0"
             sodipodi:role="line"
             id="tspan30195">ソフトボール</tspan></text>
      </g>
    </g>
    <g
       id="g30223">
      <g
         id="g30225"
         clip-path="url(#clipPath30229)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,264.3,695.78)"
           style="font-variant:normal;font-weight:normal;font-size:20px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30233"><tspan
             x="0 20 40"
             y="0"
             sodipodi:role="line"
             id="tspan30231">ルール</tspan></text>
      </g>
    </g>
    <g
       id="g30259">
      <g
         id="g30261"
         clip-path="url(#clipPath30265)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.225,673.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30269"><tspan
             x="0"
             y="0"
             id="tspan30267">○</tspan></text>
      </g>
    </g>
    <g
       id="g30271">
      <g
         id="g30273"
         clip-path="url(#clipPath30277)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,89.225,673.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30281"><tspan
             x="0 12 24 36 48 60 72 84 96 108 120 132 144"
             y="0"
             sodipodi:role="line"
             id="tspan30279">人数：本登録９名、補欠６名</tspan></text>
      </g>
    </g>
    <g
       id="g30299">
      <g
         id="g30301"
         clip-path="url(#clipPath30305)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.225,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30309"><tspan
             x="0"
             y="0"
             id="tspan30307">○</tspan></text>
      </g>
    </g>
    <g
       id="g30311">
      <g
         id="g30313"
         clip-path="url(#clipPath30317)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,89.225,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30321"><tspan
             x="0 12 24 36 48"
             y="0"
             sodipodi:role="line"
             id="tspan30319">試合形式：</tspan></text>
      </g>
    </g>
    <g
       id="g30323">
      <g
         id="g30325"
         clip-path="url(#clipPath30329)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,149.25,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30333"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan30331">イニング</tspan></text>
      </g>
    </g>
    <g
       id="g30335">
      <g
         id="g30337"
         clip-path="url(#clipPath30341)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,197.28,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30345"><tspan
             x="0"
             y="0"
             id="tspan30343">数</tspan></text>
      </g>
    </g>
    <g
       id="g30347">
      <g
         id="g30349"
         clip-path="url(#clipPath30353)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,209.27,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30357"><tspan
             x="0"
             y="0"
             id="tspan30355">は</tspan></text>
      </g>
    </g>
    <g
       id="g30359">
      <g
         id="g30361"
         clip-path="url(#clipPath30365)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,221.27,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30369"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan30367">最大</tspan></text>
      </g>
    </g>
    <g
       id="g30379">
      <g
         id="g30381"
         clip-path="url(#clipPath30385)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,249.3,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30389"><tspan
             x="0 9"
             y="0"
             sodipodi:role="line"
             id="tspan30387">5 </tspan></text>
      </g>
    </g>
    <g
       id="g30391">
      <g
         id="g30393"
         clip-path="url(#clipPath30397)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,262.3,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30401"><tspan
             x="0"
             y="0"
             id="tspan30399">回</tspan></text>
      </g>
    </g>
    <g
       id="g30403">
      <g
         id="g30405"
         clip-path="url(#clipPath30409)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,274.1,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30413"><tspan
             x="0 12 24 36 48 60 72"
             y="0"
             sodipodi:role="line"
             id="tspan30411">とする（ただし</tspan></text>
      </g>
    </g>
    <g
       id="g30423">
      <g
         id="g30425"
         clip-path="url(#clipPath30429)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,362.13,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30433"><tspan
             x="0 9 18"
             y="0"
             sodipodi:role="line"
             id="tspan30431">30 </tspan></text>
      </g>
    </g>
    <g
       id="g30435">
      <g
         id="g30437"
         clip-path="url(#clipPath30441)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,384.13,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30445"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan30443">分以降</tspan></text>
      </g>
    </g>
    <g
       id="g30447">
      <g
         id="g30449"
         clip-path="url(#clipPath30453)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,420.15,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30457"><tspan
             x="0"
             y="0"
             id="tspan30455">は</tspan></text>
      </g>
    </g>
    <g
       id="g30459">
      <g
         id="g30461"
         clip-path="url(#clipPath30465)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,432.15,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30469"><tspan
             x="0"
             y="0"
             id="tspan30467">次</tspan></text>
      </g>
    </g>
    <g
       id="g30471">
      <g
         id="g30473"
         clip-path="url(#clipPath30477)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,444.15,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30481"><tspan
             x="0"
             y="0"
             id="tspan30479">の</tspan></text>
      </g>
    </g>
    <g
       id="g30483">
      <g
         id="g30485"
         clip-path="url(#clipPath30489)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,456.17,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30493"><tspan
             x="0 11.796 23.796 35.796001"
             y="0"
             sodipodi:role="line"
             id="tspan30491">イニング</tspan></text>
      </g>
    </g>
    <g
       id="g30495">
      <g
         id="g30497"
         clip-path="url(#clipPath30501)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,503.98,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30505"><tspan
             x="0"
             y="0"
             id="tspan30503">に</tspan></text>
      </g>
    </g>
    <g
       id="g30507">
      <g
         id="g30509"
         clip-path="url(#clipPath30513)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,515.97,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30517"><tspan
             x="0"
             y="0"
             id="tspan30515">入</tspan></text>
      </g>
    </g>
    <g
       id="g30519">
      <g
         id="g30521"
         clip-path="url(#clipPath30525)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,528,650.95)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30529"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan30527">らな</tspan></text>
      </g>
    </g>
    <g
       id="g30531">
      <g
         id="g30533"
         clip-path="url(#clipPath30537)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.825,626.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30541"><tspan
             x="0 12 18"
             y="0"
             sodipodi:role="line"
             id="tspan30539">い）。</tspan></text>
      </g>
    </g>
    <g
       id="g30559">
      <g
         id="g30561"
         clip-path="url(#clipPath30565)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.225,601.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30569"><tspan
             x="0"
             y="0"
             id="tspan30567">○</tspan></text>
      </g>
    </g>
    <g
       id="g30571">
      <g
         id="g30573"
         clip-path="url(#clipPath30577)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,89.225,601.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30581"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan30579">細則：</tspan></text>
      </g>
    </g>
    <g
       id="g30591">
      <g
         id="g30593"
         clip-path="url(#clipPath30597)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,579.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30601"><tspan
             x="0"
             y="0"
             id="tspan30599">・</tspan></text>
      </g>
    </g>
    <g
       id="g30611">
      <g
         id="g30613"
         clip-path="url(#clipPath30617)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,579.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30621"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan30619">盗塁</tspan></text>
      </g>
    </g>
    <g
       id="g30623">
      <g
         id="g30625"
         clip-path="url(#clipPath30629)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,96.025,579.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30633"><tspan
             x="0 12 24 36 48 60 72"
             y="0"
             sodipodi:role="line"
             id="tspan30631">はなしとする。</tspan></text>
      </g>
    </g>
    <g
       id="g30651">
      <g
         id="g30653"
         clip-path="url(#clipPath30657)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30661"><tspan
             x="0"
             y="0"
             id="tspan30659">※</tspan></text>
      </g>
    </g>
    <g
       id="g30663">
      <g
         id="g30665"
         clip-path="url(#clipPath30669)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,66.025,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30673"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan30671">ただし、</tspan></text>
      </g>
    </g>
    <g
       id="g30675">
      <g
         id="g30677"
         clip-path="url(#clipPath30681)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,114.05,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30685"><tspan
             x="0 12 24 36 48"
             y="0"
             sodipodi:role="line"
             id="tspan30683">ピッチャー</tspan></text>
      </g>
    </g>
    <g
       id="g30687">
      <g
         id="g30689"
         clip-path="url(#clipPath30693)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,174.05,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30697"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan30695">から</tspan></text>
      </g>
    </g>
    <g
       id="g30699">
      <g
         id="g30701"
         clip-path="url(#clipPath30705)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,198.08,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30709"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan30707">ボール</tspan></text>
      </g>
    </g>
    <g
       id="g30711">
      <g
         id="g30713"
         clip-path="url(#clipPath30717)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,234.08,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30721"><tspan
             x="0"
             y="0"
             id="tspan30719">が</tspan></text>
      </g>
    </g>
    <g
       id="g30723">
      <g
         id="g30725"
         clip-path="url(#clipPath30729)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,246.1,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30733"><tspan
             x="0"
             y="0"
             id="tspan30731">離</tspan></text>
      </g>
    </g>
    <g
       id="g30735">
      <g
         id="g30737"
         clip-path="url(#clipPath30741)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,258.1,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30745"><tspan
             x="0 12 24 36 48"
             y="0"
             sodipodi:role="line"
             id="tspan30743">れてからの</tspan></text>
      </g>
    </g>
    <g
       id="g30747">
      <g
         id="g30749"
         clip-path="url(#clipPath30753)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,318.13,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30757"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan30755">離塁</tspan></text>
      </g>
    </g>
    <g
       id="g30759">
      <g
         id="g30761"
         clip-path="url(#clipPath30765)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,342.13,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30769"><tspan
             x="0"
             y="0"
             id="tspan30767">は</tspan></text>
      </g>
    </g>
    <g
       id="g30771">
      <g
         id="g30773"
         clip-path="url(#clipPath30777)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,354.13,556.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30781"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan30779">可能</tspan></text>
      </g>
    </g>
    <g
       id="g30807">
      <g
         id="g30809"
         clip-path="url(#clipPath30813)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,534.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30817"><tspan
             x="0"
             y="0"
             id="tspan30815">・</tspan></text>
      </g>
    </g>
    <g
       id="g30827">
      <g
         id="g30829"
         clip-path="url(#clipPath30833)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,534.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30837"><tspan
             x="0"
             y="0"
             id="tspan30835">振</tspan></text>
      </g>
    </g>
    <g
       id="g30839">
      <g
         id="g30841"
         clip-path="url(#clipPath30845)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,84.025,534.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30849"><tspan
             x="0"
             y="0"
             id="tspan30847">り</tspan></text>
      </g>
    </g>
    <g
       id="g30851">
      <g
         id="g30853"
         clip-path="url(#clipPath30857)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,96.025,534.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30861"><tspan
             x="0"
             y="0"
             id="tspan30859">逃</tspan></text>
      </g>
    </g>
    <g
       id="g30863">
      <g
         id="g30865"
         clip-path="url(#clipPath30869)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,108.05,534.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30873"><tspan
             x="0 12 24 36 48 60 72 84"
             y="0"
             sodipodi:role="line"
             id="tspan30871">げはなしとする。</tspan></text>
      </g>
    </g>
    <g
       id="g30899">
      <g
         id="g30901"
         clip-path="url(#clipPath30905)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,512.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30909"><tspan
             x="0"
             y="0"
             id="tspan30907">・</tspan></text>
      </g>
    </g>
    <g
       id="g30919">
      <g
         id="g30921"
         clip-path="url(#clipPath30925)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,512.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30929"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan30927">バント</tspan></text>
      </g>
    </g>
    <g
       id="g30931">
      <g
         id="g30933"
         clip-path="url(#clipPath30937)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,108.05,512.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30941"><tspan
             x="0"
             y="0"
             id="tspan30939">(</tspan></text>
      </g>
    </g>
    <g
       id="g30943">
      <g
         id="g30945"
         clip-path="url(#clipPath30949)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,112.45,512.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30953"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan30951">スクイズ</tspan></text>
      </g>
    </g>
    <g
       id="g30955">
      <g
         id="g30957"
         clip-path="url(#clipPath30961)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,160.45,512.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30965"><tspan
             x="0"
             y="0"
             id="tspan30963">を</tspan></text>
      </g>
    </g>
    <g
       id="g30967">
      <g
         id="g30969"
         clip-path="url(#clipPath30973)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,172.45,512.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30977"><tspan
             x="0"
             y="0"
             id="tspan30975">含</tspan></text>
      </g>
    </g>
    <g
       id="g30979">
      <g
         id="g30981"
         clip-path="url(#clipPath30985)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,184.48,512.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text30989"><tspan
             x="0"
             y="0"
             id="tspan30987">む</tspan></text>
      </g>
    </g>
    <g
       id="g30991">
      <g
         id="g30993"
         clip-path="url(#clipPath30997)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,196.47,512.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31001"><tspan
             x="0"
             y="0"
             id="tspan30999">)</tspan></text>
      </g>
    </g>
    <g
       id="g31003">
      <g
         id="g31005"
         clip-path="url(#clipPath31009)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,200.88,512.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31013"><tspan
             x="0 12 24 36 48 60 71.795998"
             y="0"
             sodipodi:role="line"
             id="tspan31011">はなしとする。</tspan></text>
      </g>
    </g>
    <g
       id="g31039">
      <g
         id="g31041"
         clip-path="url(#clipPath31045)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,490.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31049"><tspan
             x="0"
             y="0"
             id="tspan31047">・</tspan></text>
      </g>
    </g>
    <g
       id="g31059">
      <g
         id="g31061"
         clip-path="url(#clipPath31065)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,490.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31069"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31067">自前</tspan></text>
      </g>
    </g>
    <g
       id="g31071">
      <g
         id="g31073"
         clip-path="url(#clipPath31077)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,96.025,490.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31081"><tspan
             x="0"
             y="0"
             id="tspan31079">の</tspan></text>
      </g>
    </g>
    <g
       id="g31083">
      <g
         id="g31085"
         clip-path="url(#clipPath31089)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,108.05,490.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31093"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan31091">バット</tspan></text>
      </g>
    </g>
    <g
       id="g31095">
      <g
         id="g31097"
         clip-path="url(#clipPath31101)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,144.05,490.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31105"><tspan
             x="0"
             y="0"
             id="tspan31103">は</tspan></text>
      </g>
    </g>
    <g
       id="g31107">
      <g
         id="g31109"
         clip-path="url(#clipPath31113)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,156.05,490.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31117"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31115">使用</tspan></text>
      </g>
    </g>
    <g
       id="g31119">
      <g
         id="g31121"
         clip-path="url(#clipPath31125)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,180.08,490.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31129"><tspan
             x="0 12 24 36 48 60 72 84"
             y="0"
             sodipodi:role="line"
             id="tspan31127">してはいけない。</tspan></text>
      </g>
    </g>
    <g
       id="g31155">
      <g
         id="g31157"
         clip-path="url(#clipPath31161)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31165"><tspan
             x="0"
             y="0"
             id="tspan31163">・</tspan></text>
      </g>
    </g>
    <g
       id="g31175">
      <g
         id="g31177"
         clip-path="url(#clipPath31181)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31185"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31183">試合</tspan></text>
      </g>
    </g>
    <g
       id="g31187">
      <g
         id="g31189"
         clip-path="url(#clipPath31193)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,96.025,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31197"><tspan
             x="0"
             y="0"
             id="tspan31195">が</tspan></text>
      </g>
    </g>
    <g
       id="g31199">
      <g
         id="g31201"
         clip-path="url(#clipPath31205)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,108.05,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31209"><tspan
             x="0"
             y="0"
             id="tspan31207">終</tspan></text>
      </g>
    </g>
    <g
       id="g31211">
      <g
         id="g31213"
         clip-path="url(#clipPath31217)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,120.05,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31221"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan31219">わって</tspan></text>
      </g>
    </g>
    <g
       id="g31223">
      <g
         id="g31225"
         clip-path="url(#clipPath31229)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,156.05,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31233"><tspan
             x="0"
             y="0"
             id="tspan31231">引</tspan></text>
      </g>
    </g>
    <g
       id="g31235">
      <g
         id="g31237"
         clip-path="url(#clipPath31241)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,168.05,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31245"><tspan
             x="0"
             y="0"
             id="tspan31243">き</tspan></text>
      </g>
    </g>
    <g
       id="g31247">
      <g
         id="g31249"
         clip-path="url(#clipPath31253)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,180.08,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31257"><tspan
             x="0"
             y="0"
             id="tspan31255">分</tspan></text>
      </g>
    </g>
    <g
       id="g31259">
      <g
         id="g31261"
         clip-path="url(#clipPath31265)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,192.08,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31269"><tspan
             x="0 12 24 36 48 60 72"
             y="0"
             sodipodi:role="line"
             id="tspan31267">けのときは、３</tspan></text>
      </g>
    </g>
    <g
       id="g31271">
      <g
         id="g31273"
         clip-path="url(#clipPath31277)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,276.1,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31281"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31279">対３</tspan></text>
      </g>
    </g>
    <g
       id="g31283">
      <g
         id="g31285"
         clip-path="url(#clipPath31289)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,300.1,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31293"><tspan
             x="0 12 24 36 48 60 72 84"
             y="0"
             sodipodi:role="line"
             id="tspan31291">のじゃんけんで、</tspan></text>
      </g>
    </g>
    <g
       id="g31303">
      <g
         id="g31305"
         clip-path="url(#clipPath31309)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,400.15,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31313"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31311">２勝</tspan></text>
      </g>
    </g>
    <g
       id="g31315">
      <g
         id="g31317"
         clip-path="url(#clipPath31321)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,424.15,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31325"><tspan
             x="0 12 24 36 48"
             y="0"
             sodipodi:role="line"
             id="tspan31323">したほうの</tspan></text>
      </g>
    </g>
    <g
       id="g31327">
      <g
         id="g31329"
         clip-path="url(#clipPath31333)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,484.17,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31337"><tspan
             x="0"
             y="0"
             id="tspan31335">勝</tspan></text>
      </g>
    </g>
    <g
       id="g31339">
      <g
         id="g31341"
         clip-path="url(#clipPath31345)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,496.17,468.92)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31349"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan31347">ちとす</tspan></text>
      </g>
    </g>
    <g
       id="g31351">
      <g
         id="g31353"
         clip-path="url(#clipPath31357)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,445.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31361"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31359">る。</tspan></text>
      </g>
    </g>
    <g
       id="g31387">
      <g
         id="g31389"
         clip-path="url(#clipPath31393)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31397"><tspan
             x="0"
             y="0"
             id="tspan31395">・</tspan></text>
      </g>
    </g>
    <g
       id="g31407">
      <g
         id="g31409"
         clip-path="url(#clipPath31413)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31417"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31415">審判</tspan></text>
      </g>
    </g>
    <g
       id="g31419">
      <g
         id="g31421"
         clip-path="url(#clipPath31425)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,96.025,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31429"><tspan
             x="0"
             y="0"
             id="tspan31427">の</tspan></text>
      </g>
    </g>
    <g
       id="g31431">
      <g
         id="g31433"
         clip-path="url(#clipPath31437)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,108.05,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31441"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31439">決定</tspan></text>
      </g>
    </g>
    <g
       id="g31443">
      <g
         id="g31445"
         clip-path="url(#clipPath31449)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,132.05,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31453"><tspan
             x="0"
             y="0"
             id="tspan31451">は</tspan></text>
      </g>
    </g>
    <g
       id="g31455">
      <g
         id="g31457"
         clip-path="url(#clipPath31461)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,144.05,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31465"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31463">絶対</tspan></text>
      </g>
    </g>
    <g
       id="g31467">
      <g
         id="g31469"
         clip-path="url(#clipPath31473)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,168.05,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31477"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan31475">であり、</tspan></text>
      </g>
    </g>
    <g
       id="g31479">
      <g
         id="g31481"
         clip-path="url(#clipPath31485)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,216.08,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31489"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31487">試合</tspan></text>
      </g>
    </g>
    <g
       id="g31491">
      <g
         id="g31493"
         clip-path="url(#clipPath31497)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,240.08,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31501"><tspan
             x="0"
             y="0"
             id="tspan31499">は</tspan></text>
      </g>
    </g>
    <g
       id="g31503">
      <g
         id="g31505"
         clip-path="url(#clipPath31509)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,252.1,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31513"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31511">審判</tspan></text>
      </g>
    </g>
    <g
       id="g31515">
      <g
         id="g31517"
         clip-path="url(#clipPath31521)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,276.1,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31525"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan31523">なしで</tspan></text>
      </g>
    </g>
    <g
       id="g31527">
      <g
         id="g31529"
         clip-path="url(#clipPath31533)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,312.1,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31537"><tspan
             x="0"
             y="0"
             id="tspan31535">進</tspan></text>
      </g>
    </g>
    <g
       id="g31539">
      <g
         id="g31541"
         clip-path="url(#clipPath31545)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,324.13,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31549"><tspan
             x="0 12 24 36 48 60 72 84"
             y="0"
             sodipodi:role="line"
             id="tspan31547">めてはいけない。</tspan></text>
      </g>
    </g>
    <g
       id="g31559">
      <g
         id="g31561"
         clip-path="url(#clipPath31565)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,424.15,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31569"><tspan
             x="0"
             y="0"
             id="tspan31567">引</tspan></text>
      </g>
    </g>
    <g
       id="g31571">
      <g
         id="g31573"
         clip-path="url(#clipPath31577)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,436.15,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31581"><tspan
             x="0"
             y="0"
             id="tspan31579">き</tspan></text>
      </g>
    </g>
    <g
       id="g31583">
      <g
         id="g31585"
         clip-path="url(#clipPath31589)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,448.15,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31593"><tspan
             x="0"
             y="0"
             id="tspan31591">分</tspan></text>
      </g>
    </g>
    <g
       id="g31595">
      <g
         id="g31597"
         clip-path="url(#clipPath31601)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,460.17,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31605"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31603">けの</tspan></text>
      </g>
    </g>
    <g
       id="g31607">
      <g
         id="g31609"
         clip-path="url(#clipPath31613)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,484.17,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31617"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan31615">後審判</tspan></text>
      </g>
    </g>
    <g
       id="g31619">
      <g
         id="g31621"
         clip-path="url(#clipPath31625)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,520.17,421.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31629"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31627">のい</tspan></text>
      </g>
    </g>
    <g
       id="g31631">
      <g
         id="g31633"
         clip-path="url(#clipPath31637)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,398.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31641"><tspan
             x="0 12 24 36 48 60"
             y="0"
             sodipodi:role="line"
             id="tspan31639">ないところで</tspan></text>
      </g>
    </g>
    <g
       id="g31643">
      <g
         id="g31645"
         clip-path="url(#clipPath31649)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,144.05,398.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31653"><tspan
             x="0"
             y="0"
             id="tspan31651">行</tspan></text>
      </g>
    </g>
    <g
       id="g31655">
      <g
         id="g31657"
         clip-path="url(#clipPath31661)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,156.05,398.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31665"><tspan
             x="0 12 24 36 48 60 72 84"
             y="0"
             sodipodi:role="line"
             id="tspan31663">ったじゃんけんは</tspan></text>
      </g>
    </g>
    <g
       id="g31667">
      <g
         id="g31669"
         clip-path="url(#clipPath31673)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,252.1,398.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31677"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31675">無効</tspan></text>
      </g>
    </g>
    <g
       id="g31679">
      <g
         id="g31681"
         clip-path="url(#clipPath31685)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,276.1,398.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31689"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan31687">とする。</tspan></text>
      </g>
    </g>
    <g
       id="g31715">
      <g
         id="g31717"
         clip-path="url(#clipPath31721)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31725"><tspan
             x="0"
             y="0"
             id="tspan31723">・</tspan></text>
      </g>
    </g>
    <g
       id="g31735">
      <g
         id="g31737"
         clip-path="url(#clipPath31741)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31745"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31743">その</tspan></text>
      </g>
    </g>
    <g
       id="g31747">
      <g
         id="g31749"
         clip-path="url(#clipPath31753)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,96.025,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31757"><tspan
             x="0"
             y="0"
             id="tspan31755">他</tspan></text>
      </g>
    </g>
    <g
       id="g31759">
      <g
         id="g31761"
         clip-path="url(#clipPath31765)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,108.05,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31769"><tspan
             x="0"
             y="0"
             id="tspan31767">の</tspan></text>
      </g>
    </g>
    <g
       id="g31771">
      <g
         id="g31773"
         clip-path="url(#clipPath31777)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,120.05,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31781"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan31779">ルール</tspan></text>
      </g>
    </g>
    <g
       id="g31783">
      <g
         id="g31785"
         clip-path="url(#clipPath31789)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,156.05,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31793"><tspan
             x="0"
             y="0"
             id="tspan31791">は</tspan></text>
      </g>
    </g>
    <g
       id="g31795">
      <g
         id="g31797"
         clip-path="url(#clipPath31801)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,168.05,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31805"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan31803">一般的</tspan></text>
      </g>
    </g>
    <g
       id="g31807">
      <g
         id="g31809"
         clip-path="url(#clipPath31813)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,204.08,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31817"><tspan
             x="0"
             y="0"
             id="tspan31815">な</tspan></text>
      </g>
    </g>
    <g
       id="g31819">
      <g
         id="g31821"
         clip-path="url(#clipPath31825)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,216.08,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31829"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan31827">野球</tspan></text>
      </g>
    </g>
    <g
       id="g31831">
      <g
         id="g31833"
         clip-path="url(#clipPath31837)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,240.08,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31841"><tspan
             x="0"
             y="0"
             id="tspan31839">の</tspan></text>
      </g>
    </g>
    <g
       id="g31843">
      <g
         id="g31845"
         clip-path="url(#clipPath31849)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,252.1,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31853"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan31851">ルール</tspan></text>
      </g>
    </g>
    <g
       id="g31855">
      <g
         id="g31857"
         clip-path="url(#clipPath31861)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,288.1,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31865"><tspan
             x="0"
             y="0"
             id="tspan31863">に</tspan></text>
      </g>
    </g>
    <g
       id="g31867">
      <g
         id="g31869"
         clip-path="url(#clipPath31873)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,300.1,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31877"><tspan
             x="0"
             y="0"
             id="tspan31875">従</tspan></text>
      </g>
    </g>
    <g
       id="g31879">
      <g
         id="g31881"
         clip-path="url(#clipPath31885)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,312.1,375.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text31889"><tspan
             x="0 12 24 36 48 60 72"
             y="0"
             sodipodi:role="line"
             id="tspan31887">うものとする。</tspan></text>
      </g>
    </g>
  </g>
</svg>
</div>

<style>
  .pdf {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-primary-orange-300);
    background-color: var(--color-white);
    margin-bottom: 10px;
  }
  .embedPdf {
    width: 100%;
    aspect-ratio: 1/1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
</style>
