<div class="embedPdf">

  <svg
   class="pdf"
   version="1.1"
   id="svg9"
   width="793.33301"
   height="1122.6667"
   viewBox="0 0 793.333 1122.6667"
   sodipodi:docname="R5 ルールブック.pdf"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs13">
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42191">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42189" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42251">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42249" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42283">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42281" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42295">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42293" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42315">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42313" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42343">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42341" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42373">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42371" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42387">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42385" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42399">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42397" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42411">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42409" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42423">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42421" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42435">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42433" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath42463">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path42461" />
    </clipPath>
  </defs>
  <sodipodi:namedview
     id="namedview11"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     showgrid="false" />
  <g
     id="g42183"
     inkscape:groupmode="layer"
     inkscape:label="Page 19"
     transform="matrix(1.3333333,0,0,-1.3333333,-5.514509e-5,1122.6667)">
    <g
       id="g42185">
      <g
         id="g42187"
         clip-path="url(#clipPath42191)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,291.5,72.425)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'MS Gothic';-inkscape-font-specification:MS-PGothic;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text42195"><tspan
             x="0 6"
             y="0"
             sodipodi:role="line"
             id="tspan42193">19</tspan></text>
      </g>
    </g>
    <g
       id="g42245">
      <g
         id="g42247"
         clip-path="url(#clipPath42251)">
        <g
           id="g42253">
          <path
             d="m 78.225,766.38 h 0.4 v 0.4 h -0.4 z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42255" />
          <path
             d="m 78.225,766.38 h 0.4 v 0.4 h -0.4 z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42257" />
          <path
             d="m 78.625,766.38 h 476.17 v 0.4 H 78.625 Z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42259" />
          <path
             d="m 554.8,766.38 h 0.40002 v 0.4 H 554.8 Z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42261" />
          <path
             d="m 554.8,766.38 h 0.40002 v 0.4 H 554.8 Z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42263" />
          <path
             d="m 78.225,745.58 h 0.4 v 20.8 h -0.4 z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42265" />
          <path
             d="m 554.8,745.58 h 0.40002 v 20.8 H 554.8 Z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42267" />
        </g>
      </g>
    </g>
    <g
       id="g42277">
      <g
         id="g42279"
         clip-path="url(#clipPath42283)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,238.67,732.38)"
           style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text42287"><tspan
             x="0 13 26 39"
             y="0"
             sodipodi:role="line"
             id="tspan42285">スポーツ</tspan></text>
      </g>
    </g>
    <g
       id="g42289">
      <g
         id="g42291"
         clip-path="url(#clipPath42295)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,290.7,732.38)"
           style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text42299"><tspan
             x="0 13"
             y="0"
             sodipodi:role="line"
             id="tspan42297">大会</tspan></text>
      </g>
    </g>
    <g
       id="g42309">
      <g
         id="g42311"
         clip-path="url(#clipPath42315)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,321.13,732.38)"
           style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text42319"><tspan
             x="0 13 26 39 52 65"
             y="0"
             sodipodi:role="line"
             id="tspan42317">ルールブック</tspan></text>
      </g>
    </g>
    <g
       id="g42337">
      <g
         id="g42339"
         clip-path="url(#clipPath42343)">
        <g
           id="g42345">
          <path
             d="m 78.225,723.38 h 0.4 v 22.2 h -0.4 z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42347" />
          <path
             d="m 554.8,723.38 h 0.40002 v 22.2 H 554.8 Z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42349" />
        </g>
      </g>
    </g>
    <g
       id="g42367">
      <g
         id="g42369"
         clip-path="url(#clipPath42373)">
        <g
           id="g42375">
          <path
             d="m 78.225,702.58 h 0.4 v 20.8 h -0.4 z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42377" />
          <path
             d="m 554.8,702.58 h 0.40002 v 20.8 H 554.8 Z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42379" />
        </g>
      </g>
    </g>
    <g
       id="g42381">
      <g
         id="g42383"
         clip-path="url(#clipPath42387)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,80.025,689.38)"
           style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text42391"><tspan
             x="0 13 26 39"
             y="0"
             sodipodi:role="line"
             id="tspan42389">責任者：</tspan></text>
      </g>
    </g>
    <g
       id="g42393">
      <g
         id="g42395"
         clip-path="url(#clipPath42399)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,132.05,689.38)"
           style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text42403"><tspan
             x="0 13 26 39"
             y="0"
             sodipodi:role="line"
             id="tspan42401">体育局長</tspan></text>
      </g>
    </g>
    <g
       id="g42405">
      <g
         id="g42407"
         clip-path="url(#clipPath42411)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,187.27,689.38)"
           style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text42415"><tspan
             x="0"
             y="0"
             id="tspan42413">3</tspan></text>
      </g>
    </g>
    <g
       id="g42417">
      <g
         id="g42419"
         clip-path="url(#clipPath42423)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,196.88,689.38)"
           style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text42427"><tspan
             x="0 9"
             y="0"
             sodipodi:role="line"
             id="tspan42425">E </tspan></text>
      </g>
    </g>
    <g
       id="g42429">
      <g
         id="g42431"
         clip-path="url(#clipPath42435)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,210.28,689.38)"
           style="font-variant:normal;font-weight:normal;font-size:13px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text42439"><tspan
             x="0 13 26 39 52"
             y="0"
             sodipodi:role="line"
             id="tspan42437">佐々木珠鈴</tspan></text>
      </g>
    </g>
    <g
       id="g42457">
      <g
         id="g42459"
         clip-path="url(#clipPath42463)">
        <g
           id="g42465">
          <path
             d="m 78.225,678.77 h 0.4 v 0.40001 h -0.4 z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42467" />
          <path
             d="m 78.225,678.77 h 0.4 v 0.40001 h -0.4 z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42469" />
          <path
             d="m 78.625,678.77 h 476.17 v 0.40001 H 78.625 Z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42471" />
          <path
             d="m 554.8,678.77 h 0.40002 v 0.40001 H 554.8 Z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42473" />
          <path
             d="m 554.8,678.77 h 0.40002 v 0.40001 H 554.8 Z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42475" />
          <path
             d="m 78.225,679.18 h 0.4 v 23.4 h -0.4 z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42477" />
          <path
             d="m 554.8,679.18 h 0.40002 v 23.4 H 554.8 Z"
             style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none"
             id="path42479" />
        </g>
      </g>
    </g>
  </g>
</svg>
</div>

<style>
  .pdf {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-primary-orange-300);
    background-color: var(--color-white);
    margin-bottom: 10px;
  }
  .embedPdf {
    width: 100%;
    aspect-ratio: 1/1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
</style>
