<div class="embedPdf">

  <svg
   class="pdf"
   version="1.1"
   id="svg9"
   width="793.3335"
   height="1122.6667"
   viewBox="0 0 793.33349 1122.6667"
   sodipodi:docname="R5 ルールブック.pdf"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs13">
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16083">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16081" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16127">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16125" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16155">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16153" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16167">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16165" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16179">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16177" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16191">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16189" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16211">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16209" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16223">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16221" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16235">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16233" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16247">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16245" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16259">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16257" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16271">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16269" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16283">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16281" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16295">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16293" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16307">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16305" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16319">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16317" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16331">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16329" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16343">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16341" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16355">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16353" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16367">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16365" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16387">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16385" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16399">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16397" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16411">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16409" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16423">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16421" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16435">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16433" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16447">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16445" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16459">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16457" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16471">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16469" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16483">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16481" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16495">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16493" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16507">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16505" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16519">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16517" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16539">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16537" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16551">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16549" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16579">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16577" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16591">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16589" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16603">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16601" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16615">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16613" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16627">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16625" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16639">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16637" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16651">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16649" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16663">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16661" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16675">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16673" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16687">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16685" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16699">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16697" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16711">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16709" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16731">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16729" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16743">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16741" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16755">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16753" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16767">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16765" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16779">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16777" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16791">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16789" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16803">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16801" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16815">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16813" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16827">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16825" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16839">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16837" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16851">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16849" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16863">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16861" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16875">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16873" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16887">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16885" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16899">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16897" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16911">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16909" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16923">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16921" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16935">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16933" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16947">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16945" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16959">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16957" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16971">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16969" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16983">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16981" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath16995">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path16993" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17007">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17005" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17019">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17017" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17039">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17037" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17051">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17049" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17063">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17061" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17075">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17073" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17087">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17085" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17099">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17097" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17111">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17109" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17123">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17121" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17135">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17133" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17147">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17145" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17159">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17157" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17171">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17169" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17183">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17181" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath17195">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path17193" />
    </clipPath>
  </defs>
  <sodipodi:namedview
     id="namedview11"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     showgrid="false" />
  <g
     id="g16075"
     inkscape:groupmode="layer"
     inkscape:label="Page 7"
     transform="matrix(1.3333333,0,0,-1.3333333,-1.8381696e-5,1122.6667)">
    <g
       id="g16077">
      <g
         id="g16079"
         clip-path="url(#clipPath16083)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,294.5,72.425)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'MS Gothic';-inkscape-font-specification:MS-PGothic;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16087"><tspan
             x="0"
             y="0"
             id="tspan16085">7</tspan></text>
      </g>
    </g>
    <g
       id="g16121">
      <g
         id="g16123"
         clip-path="url(#clipPath16127)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,267.7,746.78)"
           style="font-variant:normal;font-weight:normal;font-size:20px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16131"><tspan
             x="0 20 40"
             y="0"
             sodipodi:role="line"
             id="tspan16129">ハンデ</tspan></text>
      </g>
    </g>
    <g
       id="g16149">
      <g
         id="g16151"
         clip-path="url(#clipPath16155)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.225,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16159"><tspan
             x="0"
             y="0"
             id="tspan16157">○</tspan></text>
      </g>
    </g>
    <g
       id="g16161">
      <g
         id="g16163"
         clip-path="url(#clipPath16167)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,89.225,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16171"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16169">経験者</tspan></text>
      </g>
    </g>
    <g
       id="g16173">
      <g
         id="g16175"
         clip-path="url(#clipPath16179)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,125.25,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16183"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan16181">ハンデ：</tspan></text>
      </g>
    </g>
    <g
       id="g16185">
      <g
         id="g16187"
         clip-path="url(#clipPath16191)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,173.25,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16195"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16193">対象</tspan></text>
      </g>
    </g>
    <g
       id="g16205">
      <g
         id="g16207"
         clip-path="url(#clipPath16211)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,201.28,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16215"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16213">・男女</tspan></text>
      </g>
    </g>
    <g
       id="g16217">
      <g
         id="g16219"
         clip-path="url(#clipPath16223)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,237.28,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16227"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16225">ともに</tspan></text>
      </g>
    </g>
    <g
       id="g16229">
      <g
         id="g16231"
         clip-path="url(#clipPath16235)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,273.3,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16239"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16237">小学生</tspan></text>
      </g>
    </g>
    <g
       id="g16241">
      <g
         id="g16243"
         clip-path="url(#clipPath16247)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,309.3,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16251"><tspan
             x="0"
             y="0"
             id="tspan16249">～</tspan></text>
      </g>
    </g>
    <g
       id="g16253">
      <g
         id="g16255"
         clip-path="url(#clipPath16259)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,321.33,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16263"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16261">現在</tspan></text>
      </g>
    </g>
    <g
       id="g16265">
      <g
         id="g16267"
         clip-path="url(#clipPath16271)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,345.33,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16275"><tspan
             x="0 12 24 36 48"
             y="0"
             sodipodi:role="line"
             id="tspan16273">にかけて、</tspan></text>
      </g>
    </g>
    <g
       id="g16277">
      <g
         id="g16279"
         clip-path="url(#clipPath16283)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,405.35,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16287"><tspan
             x="0 12 24 36 48 60"
             y="0"
             sodipodi:role="line"
             id="tspan16285">バドミントン</tspan></text>
      </g>
    </g>
    <g
       id="g16289">
      <g
         id="g16291"
         clip-path="url(#clipPath16295)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,477.38,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16299"><tspan
             x="0"
             y="0"
             id="tspan16297">の</tspan></text>
      </g>
    </g>
    <g
       id="g16301">
      <g
         id="g16303"
         clip-path="url(#clipPath16307)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,489.38,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16311"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16309">部活動</tspan></text>
      </g>
    </g>
    <g
       id="g16313">
      <g
         id="g16315"
         clip-path="url(#clipPath16319)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,525.38,724.17)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16323"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16321">もし</tspan></text>
      </g>
    </g>
    <g
       id="g16325">
      <g
         id="g16327"
         clip-path="url(#clipPath16331)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,173.45,699.97)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16335"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16333">くは</tspan></text>
      </g>
    </g>
    <g
       id="g16337">
      <g
         id="g16339"
         clip-path="url(#clipPath16343)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,197.48,699.97)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16347"><tspan
             x="0 12 24 36 48 60"
             y="0"
             sodipodi:role="line"
             id="tspan16345">クラブチーム</tspan></text>
      </g>
    </g>
    <g
       id="g16349">
      <g
         id="g16351"
         clip-path="url(#clipPath16355)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,269.5,699.97)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16359"><tspan
             x="0"
             y="0"
             id="tspan16357">に</tspan></text>
      </g>
    </g>
    <g
       id="g16361">
      <g
         id="g16363"
         clip-path="url(#clipPath16367)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,281.5,699.97)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16371"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16369">三年</tspan></text>
      </g>
    </g>
    <g
       id="g16381">
      <g
         id="g16383"
         clip-path="url(#clipPath16387)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,309.5,699.97)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16391"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan16389">以上所属</tspan></text>
      </g>
    </g>
    <g
       id="g16393">
      <g
         id="g16395"
         clip-path="url(#clipPath16399)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,357.52,699.97)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16403"><tspan
             x="0 12 24 36 48 60 72 84 96"
             y="0"
             sodipodi:role="line"
             id="tspan16401">していたことのある</tspan></text>
      </g>
    </g>
    <g
       id="g16405">
      <g
         id="g16407"
         clip-path="url(#clipPath16411)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,465.58,699.97)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16415"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16413">者。</tspan></text>
      </g>
    </g>
    <g
       id="g16417">
      <g
         id="g16419"
         clip-path="url(#clipPath16423)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,489.57,699.97)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16427"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16425">また、</tspan></text>
      </g>
    </g>
    <g
       id="g16429">
      <g
         id="g16431"
         clip-path="url(#clipPath16435)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,525.58,699.97)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16439"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16437">現在</tspan></text>
      </g>
    </g>
    <g
       id="g16441">
      <g
         id="g16443"
         clip-path="url(#clipPath16447)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,173.45,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16451"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan16449">明石高専</tspan></text>
      </g>
    </g>
    <g
       id="g16453">
      <g
         id="g16455"
         clip-path="url(#clipPath16459)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,221.48,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16463"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan16461">において</tspan></text>
      </g>
    </g>
    <g
       id="g16465">
      <g
         id="g16467"
         clip-path="url(#clipPath16471)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,269.5,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16475"><tspan
             x="0 12 24 36 48 60"
             y="0"
             sodipodi:role="line"
             id="tspan16473">バドミントン</tspan></text>
      </g>
    </g>
    <g
       id="g16477">
      <g
         id="g16479"
         clip-path="url(#clipPath16483)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,341.53,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16487"><tspan
             x="0"
             y="0"
             id="tspan16485">部</tspan></text>
      </g>
    </g>
    <g
       id="g16489">
      <g
         id="g16491"
         clip-path="url(#clipPath16495)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,353.52,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16499"><tspan
             x="0"
             y="0"
             id="tspan16497">に</tspan></text>
      </g>
    </g>
    <g
       id="g16501">
      <g
         id="g16503"
         clip-path="url(#clipPath16507)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,365.52,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16511"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16509">所属</tspan></text>
      </g>
    </g>
    <g
       id="g16513">
      <g
         id="g16515"
         clip-path="url(#clipPath16519)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,389.55,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16523"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16521">して</tspan></text>
      </g>
    </g>
    <g
       id="g16533">
      <g
         id="g16535"
         clip-path="url(#clipPath16539)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,417.55,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16543"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16541">いる</tspan></text>
      </g>
    </g>
    <g
       id="g16545">
      <g
         id="g16547"
         clip-path="url(#clipPath16551)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,441.55,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16555"><tspan
             x="0"
             y="0"
             id="tspan16553">者</tspan></text>
      </g>
    </g>
    <g
       id="g16573">
      <g
         id="g16575"
         clip-path="url(#clipPath16579)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.225,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16583"><tspan
             x="0"
             y="0"
             id="tspan16581">※</tspan></text>
      </g>
    </g>
    <g
       id="g16585">
      <g
         id="g16587"
         clip-path="url(#clipPath16591)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,89.225,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16595"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16593">経験者</tspan></text>
      </g>
    </g>
    <g
       id="g16597">
      <g
         id="g16599"
         clip-path="url(#clipPath16603)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,125.25,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16607"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16605">がいる</tspan></text>
      </g>
    </g>
    <g
       id="g16609">
      <g
         id="g16611"
         clip-path="url(#clipPath16615)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,161.25,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16619"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16617">場合</tspan></text>
      </g>
    </g>
    <g
       id="g16621">
      <g
         id="g16623"
         clip-path="url(#clipPath16627)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,185.27,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16631"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16629">は、</tspan></text>
      </g>
    </g>
    <g
       id="g16633">
      <g
         id="g16635"
         clip-path="url(#clipPath16639)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,209.27,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16643"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16641">相手</tspan></text>
      </g>
    </g>
    <g
       id="g16645">
      <g
         id="g16647"
         clip-path="url(#clipPath16651)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,233.28,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16655"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16653">チーム</tspan></text>
      </g>
    </g>
    <g
       id="g16657">
      <g
         id="g16659"
         clip-path="url(#clipPath16663)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,269.3,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16667"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16665">に４</tspan></text>
      </g>
    </g>
    <g
       id="g16669">
      <g
         id="g16671"
         clip-path="url(#clipPath16675)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,293.3,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16679"><tspan
             x="0"
             y="0"
             id="tspan16677">点</tspan></text>
      </g>
    </g>
    <g
       id="g16681">
      <g
         id="g16683"
         clip-path="url(#clipPath16687)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,305.3,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16691"><tspan
             x="0"
             y="0"
             id="tspan16689">を</tspan></text>
      </g>
    </g>
    <g
       id="g16693">
      <g
         id="g16695"
         clip-path="url(#clipPath16699)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,317.33,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16703"><tspan
             x="0"
             y="0"
             id="tspan16701">加</tspan></text>
      </g>
    </g>
    <g
       id="g16705">
      <g
         id="g16707"
         clip-path="url(#clipPath16711)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,329.33,627.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16715"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16713">える。</tspan></text>
      </g>
    </g>
    <g
       id="g16725">
      <g
         id="g16727"
         clip-path="url(#clipPath16731)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.225,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16735"><tspan
             x="0"
             y="0"
             id="tspan16733">※</tspan></text>
      </g>
    </g>
    <g
       id="g16737">
      <g
         id="g16739"
         clip-path="url(#clipPath16743)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,89.225,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16747"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan16745">ダブルス</tspan></text>
      </g>
    </g>
    <g
       id="g16749">
      <g
         id="g16751"
         clip-path="url(#clipPath16755)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,137.25,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16759"><tspan
             x="0"
             y="0"
             id="tspan16757">の</tspan></text>
      </g>
    </g>
    <g
       id="g16761">
      <g
         id="g16763"
         clip-path="url(#clipPath16767)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,149.25,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16771"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16769">試合</tspan></text>
      </g>
    </g>
    <g
       id="g16773">
      <g
         id="g16775"
         clip-path="url(#clipPath16779)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,173.25,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16783"><tspan
             x="0"
             y="0"
             id="tspan16781">の</tspan></text>
      </g>
    </g>
    <g
       id="g16785">
      <g
         id="g16787"
         clip-path="url(#clipPath16791)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,185.27,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16795"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16793">場合、</tspan></text>
      </g>
    </g>
    <g
       id="g16797">
      <g
         id="g16799"
         clip-path="url(#clipPath16803)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,221.27,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16807"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16805">ペア</tspan></text>
      </g>
    </g>
    <g
       id="g16809">
      <g
         id="g16811"
         clip-path="url(#clipPath16815)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,245.27,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16819"><tspan
             x="0 12 24 36 48"
             y="0"
             sodipodi:role="line"
             id="tspan16817">がどちらも</tspan></text>
      </g>
    </g>
    <g
       id="g16821">
      <g
         id="g16823"
         clip-path="url(#clipPath16827)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,305.3,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16831"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan16829">経験者</tspan></text>
      </g>
    </g>
    <g
       id="g16833">
      <g
         id="g16835"
         clip-path="url(#clipPath16839)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,341.32,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16843"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan16841">であった</tspan></text>
      </g>
    </g>
    <g
       id="g16845">
      <g
         id="g16847"
         clip-path="url(#clipPath16851)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,389.35,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16855"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16853">場合</tspan></text>
      </g>
    </g>
    <g
       id="g16857">
      <g
         id="g16859"
         clip-path="url(#clipPath16863)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,413.35,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16867"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16865">でも</tspan></text>
      </g>
    </g>
    <g
       id="g16869">
      <g
         id="g16871"
         clip-path="url(#clipPath16875)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,437.35,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16879"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16877">相手</tspan></text>
      </g>
    </g>
    <g
       id="g16881">
      <g
         id="g16883"
         clip-path="url(#clipPath16887)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,461.38,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16891"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16889">には</tspan></text>
      </g>
    </g>
    <g
       id="g16893">
      <g
         id="g16895"
         clip-path="url(#clipPath16899)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,490.77,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16903"><tspan
             x="0"
             y="0"
             id="tspan16901">4</tspan></text>
      </g>
    </g>
    <g
       id="g16905">
      <g
         id="g16907"
         clip-path="url(#clipPath16911)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,505.17,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16915"><tspan
             x="0"
             y="0"
             id="tspan16913">点</tspan></text>
      </g>
    </g>
    <g
       id="g16917">
      <g
         id="g16919"
         clip-path="url(#clipPath16923)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,517.17,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16927"><tspan
             x="0"
             y="0"
             id="tspan16925">の</tspan></text>
      </g>
    </g>
    <g
       id="g16929">
      <g
         id="g16931"
         clip-path="url(#clipPath16935)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,529.2,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16939"><tspan
             x="0"
             y="0"
             id="tspan16937">加</tspan></text>
      </g>
    </g>
    <g
       id="g16941">
      <g
         id="g16943"
         clip-path="url(#clipPath16947)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,541.2,603.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16951"><tspan
             x="0"
             y="0"
             id="tspan16949">点</tspan></text>
      </g>
    </g>
    <g
       id="g16953">
      <g
         id="g16955"
         clip-path="url(#clipPath16959)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,173.45,579.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16963"><tspan
             x="0"
             y="0"
             id="tspan16961">と</tspan></text>
      </g>
    </g>
    <g
       id="g16965">
      <g
         id="g16967"
         clip-path="url(#clipPath16971)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,185.48,579.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16975"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan16973">なる</tspan></text>
      </g>
    </g>
    <g
       id="g16977">
      <g
         id="g16979"
         clip-path="url(#clipPath16983)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,209.47,579.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16987"><tspan
             x="0"
             y="0"
             id="tspan16985">(</tspan></text>
      </g>
    </g>
    <g
       id="g16989">
      <g
         id="g16991"
         clip-path="url(#clipPath16995)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,213.88,579.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text16999"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan16997">８点加点</tspan></text>
      </g>
    </g>
    <g
       id="g17001">
      <g
         id="g17003"
         clip-path="url(#clipPath17007)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,261.9,579.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17011"><tspan
             x="0 12 24 36 48 60 72"
             y="0"
             sodipodi:role="line"
             id="tspan17009">とはならない！</tspan></text>
      </g>
    </g>
    <g
       id="g17013">
      <g
         id="g17015"
         clip-path="url(#clipPath17019)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,345.92,579.35)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17023"><tspan
             x="0"
             y="0"
             id="tspan17021">)</tspan></text>
      </g>
    </g>
    <g
       id="g17033">
      <g
         id="g17035"
         clip-path="url(#clipPath17039)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.225,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17043"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan17041">※両</tspan></text>
      </g>
    </g>
    <g
       id="g17045">
      <g
         id="g17047"
         clip-path="url(#clipPath17051)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,101.22,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17055"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan17053">チーム</tspan></text>
      </g>
    </g>
    <g
       id="g17057">
      <g
         id="g17059"
         clip-path="url(#clipPath17063)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,137.25,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17067"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan17065">とも、</tspan></text>
      </g>
    </g>
    <g
       id="g17069">
      <g
         id="g17071"
         clip-path="url(#clipPath17075)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,173.25,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17079"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan17077">経験者</tspan></text>
      </g>
    </g>
    <g
       id="g17081">
      <g
         id="g17083"
         clip-path="url(#clipPath17087)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,209.27,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17091"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan17089">がいる</tspan></text>
      </g>
    </g>
    <g
       id="g17093">
      <g
         id="g17095"
         clip-path="url(#clipPath17099)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,245.27,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17103"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan17101">場合</tspan></text>
      </g>
    </g>
    <g
       id="g17105">
      <g
         id="g17107"
         clip-path="url(#clipPath17111)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,269.3,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17115"><tspan
             x="0"
             y="0"
             id="tspan17113">は</tspan></text>
      </g>
    </g>
    <g
       id="g17117">
      <g
         id="g17119"
         clip-path="url(#clipPath17123)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,281.3,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17127"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan17125">ハンデ</tspan></text>
      </g>
    </g>
    <g
       id="g17129">
      <g
         id="g17131"
         clip-path="url(#clipPath17135)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,317.33,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17139"><tspan
             x="0"
             y="0"
             id="tspan17137">は</tspan></text>
      </g>
    </g>
    <g
       id="g17141">
      <g
         id="g17143"
         clip-path="url(#clipPath17147)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,329.33,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17151"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan17149">相殺</tspan></text>
      </g>
    </g>
    <g
       id="g17153">
      <g
         id="g17155"
         clip-path="url(#clipPath17159)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,353.33,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17163"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan17161">され</tspan></text>
      </g>
    </g>
    <g
       id="g17165">
      <g
         id="g17167"
         clip-path="url(#clipPath17171)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,377.32,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17175"><tspan
             x="0"
             y="0"
             id="tspan17173">、</tspan></text>
      </g>
    </g>
    <g
       id="g17177">
      <g
         id="g17179"
         clip-path="url(#clipPath17183)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,389.35,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17187"><tspan
             x="0"
             y="0"
             id="tspan17185">無</tspan></text>
      </g>
    </g>
    <g
       id="g17189">
      <g
         id="g17191"
         clip-path="url(#clipPath17195)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,401.35,555.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text17199"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan17197">くなる。</tspan></text>
      </g>
    </g>
  </g>
</svg>
</div>

<style>
  .pdf {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-primary-orange-300);
    background-color: var(--color-white);
    margin-bottom: 10px;
  }
  .embedPdf {
    width: 100%;
    aspect-ratio: 1/1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
</style>
