<div class="embedPdf">

  <svg
   class="pdf"
   version="1.1"
   id="svg9"
   width="793.33331"
   height="1122.6667"
   viewBox="0 0 793.33331 1122.6667"
   sodipodi:docname="R5 ルールブック.pdf"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs13">
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath925">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path923" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath969">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path967" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath997">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path995" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1009">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1007" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1029">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1027" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1049">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1047" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1077">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1075" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1097">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1095" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1117">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1115" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1145">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1143" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1165">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1163" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1185">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1183" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1213">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1211" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1233">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1231" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1253">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1251" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1281">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1279" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1301">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1299" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1321">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1319" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1333">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1331" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1361">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1359" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1373">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1371" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1393">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1391" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1413">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1411" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1425">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1423" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1453">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1451" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1473">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1471" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1493">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1491" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1505">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1503" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1533">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1531" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1553">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1551" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1573">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1571" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1601">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1599" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1621">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1619" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1641">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1639" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1669">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1667" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1681">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1679" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1701">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1699" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1721">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1719" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1733">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1731" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1753">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1751" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1765">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1763" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1777">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1775" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1805">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1803" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1817">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1815" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1829">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1827" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1841">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1839" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1853">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1851" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1865">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1863" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1877">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1875" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1889">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1887" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1901">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1899" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1913">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1911" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1925">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1923" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1937">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1935" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1957">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1955" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1969">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1967" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1981">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1979" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath1993">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path1991" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2005">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2003" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2017">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2015" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2029">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2027" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2041">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2039" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2053">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2051" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2065">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2063" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2077">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2075" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2089">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2087" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2101">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2099" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2113">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2111" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2125">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2123" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2137">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2135" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2149">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2147" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2161">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2159" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2173">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2171" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2185">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2183" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2197">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2195" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2209">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2207" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2221">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2219" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2233">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2231" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2245">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2243" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2257">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path2255" />
    </clipPath>
  </defs>
  <sodipodi:namedview
     id="namedview11"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     showgrid="false" />
  <g
     id="g917"
     inkscape:groupmode="layer"
     inkscape:label="Page 2"
     transform="matrix(1.3333333,0,0,-1.3333333,1.3948103e-5,1122.6667)">
    <g
       id="g919">
      <g
         id="g921"
         clip-path="url(#clipPath925)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,294.5,72.425)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'MS Gothic';-inkscape-font-specification:MS-PGothic;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text929"><tspan
             x="0"
             y="0"
             id="tspan927">2</tspan></text>
      </g>
    </g>
    <g
       id="g963">
      <g
         id="g965"
         clip-path="url(#clipPath969)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,261.5,730.58)"
           style="font-variant:normal;font-weight:normal;font-size:36px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text973"><tspan
             x="0 36.025002"
             y="0"
             sodipodi:role="line"
             id="tspan971">目次</tspan></text>
      </g>
    </g>
    <g
       id="g991">
      <g
         id="g993"
         clip-path="url(#clipPath997)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,228.08,705.38)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1001"><tspan
             x="0 10.6"
             y="0"
             sodipodi:role="line"
             id="tspan999">共通</tspan></text>
      </g>
    </g>
    <g
       id="g1003">
      <g
         id="g1005"
         clip-path="url(#clipPath1009)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,249.3,705.38)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1013"><tspan
             x="0 10.3986 20.9986"
             y="0"
             sodipodi:role="line"
             id="tspan1011">ルール</tspan></text>
      </g>
    </g>
    <g
       id="g1023">
      <g
         id="g1025"
         clip-path="url(#clipPath1029)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,284.1,705.38)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1033"><tspan
             x="0 10.6 20.9986 31.5986 41.9972 52.597198 62.9958 73.595802"
             y="0"
             sodipodi:role="line"
             id="tspan1031">・・・・・・・・</tspan></text>
      </g>
    </g>
    <g
       id="g1043">
      <g
         id="g1045"
         clip-path="url(#clipPath1049)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,371.72,705.38)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1053"><tspan
             x="0"
             y="0"
             id="tspan1051">3</tspan></text>
      </g>
    </g>
    <g
       id="g1071">
      <g
         id="g1073"
         clip-path="url(#clipPath1077)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,211.67,671.55)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1081"><tspan
             x="0 10.6 21.200001 31.5986 42.198601 52.597198 63.197201 73.595802"
             y="0"
             sodipodi:role="line"
             id="tspan1079">バスケットボール</tspan></text>
      </g>
    </g>
    <g
       id="g1091">
      <g
         id="g1093"
         clip-path="url(#clipPath1097)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,299.3,671.55)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1101"><tspan
             x="0 10.3986 20.9986 31.3972 41.9972 52.395802"
             y="0"
             sodipodi:role="line"
             id="tspan1099">・・・・・・</tspan></text>
      </g>
    </g>
    <g
       id="g1111">
      <g
         id="g1113"
         clip-path="url(#clipPath1117)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,365.92,671.55)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1121"><tspan
             x="0 7.8016 9.9958"
             y="0"
             sodipodi:role="line"
             id="tspan1119">4,5</tspan></text>
      </g>
    </g>
    <g
       id="g1139">
      <g
         id="g1141"
         clip-path="url(#clipPath1145)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,211.67,619.75)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1149"><tspan
             x="0 10.6 21.200001 31.5986 42.198601 52.597198"
             y="0"
             sodipodi:role="line"
             id="tspan1147">バドミントン</tspan></text>
      </g>
    </g>
    <g
       id="g1159">
      <g
         id="g1161"
         clip-path="url(#clipPath1165)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,278.3,619.75)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1169"><tspan
             x="0 10.3986 20.9986 31.3972 41.9972 52.395802 62.9958 73.394402"
             y="0"
             sodipodi:role="line"
             id="tspan1167">・・・・・・・・</tspan></text>
      </g>
    </g>
    <g
       id="g1179">
      <g
         id="g1181"
         clip-path="url(#clipPath1185)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,365.92,619.75)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1189"><tspan
             x="0 7.8016 9.9958"
             y="0"
             sodipodi:role="line"
             id="tspan1187">6,7</tspan></text>
      </g>
    </g>
    <g
       id="g1207">
      <g
         id="g1209"
         clip-path="url(#clipPath1213)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,228.08,567.95)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1217"><tspan
             x="0 10.6 21.200001 31.5986 42.198601 52.597198"
             y="0"
             sodipodi:role="line"
             id="tspan1215">バレーボール</tspan></text>
      </g>
    </g>
    <g
       id="g1227">
      <g
         id="g1229"
         clip-path="url(#clipPath1233)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,294.7,567.95)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1237"><tspan
             x="0 10.3986 20.9986 31.3972 41.9972 52.395802 62.9958"
             y="0"
             sodipodi:role="line"
             id="tspan1235">・・・・・・・</tspan></text>
      </g>
    </g>
    <g
       id="g1247">
      <g
         id="g1249"
         clip-path="url(#clipPath1253)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,371.72,567.95)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1257"><tspan
             x="0"
             y="0"
             id="tspan1255">8</tspan></text>
      </g>
    </g>
    <g
       id="g1275">
      <g
         id="g1277"
         clip-path="url(#clipPath1281)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,219.08,516.33)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1285"><tspan
             x="0 10.6"
             y="0"
             sodipodi:role="line"
             id="tspan1283">卓球</tspan></text>
      </g>
    </g>
    <g
       id="g1295">
      <g
         id="g1297"
         clip-path="url(#clipPath1301)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,243.68,516.33)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1305"><tspan
             x="0 10.3986 20.9986 31.3972 41.9972 52.395802 62.9958 73.394402 83.9944 94.392998 104.993"
             y="0"
             sodipodi:role="line"
             id="tspan1303">・・・・・・・・・・・</tspan></text>
      </g>
    </g>
    <g
       id="g1315">
      <g
         id="g1317"
         clip-path="url(#clipPath1321)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,362.72,516.33)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1325"><tspan
             x="0"
             y="0"
             id="tspan1323">9</tspan></text>
      </g>
    </g>
    <g
       id="g1327">
      <g
         id="g1329"
         clip-path="url(#clipPath1333)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,370.52,516.33)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1337"><tspan
             x="0 2.1942 9.9958"
             y="0"
             sodipodi:role="line"
             id="tspan1335">.10</tspan></text>
      </g>
    </g>
    <g
       id="g1355">
      <g
         id="g1357"
         clip-path="url(#clipPath1361)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,198.48,464.53)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1365"><tspan
             x="0 10.6"
             y="0"
             sodipodi:role="line"
             id="tspan1363">硬式</tspan></text>
      </g>
    </g>
    <g
       id="g1367">
      <g
         id="g1369"
         clip-path="url(#clipPath1373)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,219.67,464.53)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1377"><tspan
             x="0 10.3986 20.9986"
             y="0"
             sodipodi:role="line"
             id="tspan1375">テニス</tspan></text>
      </g>
    </g>
    <g
       id="g1387">
      <g
         id="g1389"
         clip-path="url(#clipPath1393)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,254.5,464.53)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1397"><tspan
             x="0 10.6 20.9986 31.5986 41.9972 52.597198 62.9958 73.595802 83.9944 94.594398"
             y="0"
             sodipodi:role="line"
             id="tspan1395">・・・・・・・・・・</tspan></text>
      </g>
    </g>
    <g
       id="g1407">
      <g
         id="g1409"
         clip-path="url(#clipPath1413)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,363.13,464.53)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1417"><tspan
             x="0 7.8000002"
             y="0"
             sodipodi:role="line"
             id="tspan1415">11</tspan></text>
      </g>
    </g>
    <g
       id="g1419">
      <g
         id="g1421"
         clip-path="url(#clipPath1425)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,378.73,464.53)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1429"><tspan
             x="0 2.1942 9.9958"
             y="0"
             sodipodi:role="line"
             id="tspan1427">,12</tspan></text>
      </g>
    </g>
    <g
       id="g1447">
      <g
         id="g1449"
         clip-path="url(#clipPath1453)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,215.28,412.7)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1457"><tspan
             x="0 10.6 21.200001 31.5986 42.198601 52.597198"
             y="0"
             sodipodi:role="line"
             id="tspan1455">ソフトボール</tspan></text>
      </g>
    </g>
    <g
       id="g1467">
      <g
         id="g1469"
         clip-path="url(#clipPath1473)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,281.9,412.7)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1477"><tspan
             x="0 10.3986 20.9986 31.3972 41.9972 52.395802 62.9958"
             y="0"
             sodipodi:role="line"
             id="tspan1475">・・・・・・・</tspan></text>
      </g>
    </g>
    <g
       id="g1487">
      <g
         id="g1489"
         clip-path="url(#clipPath1493)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,358.92,412.7)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1497"><tspan
             x="0"
             y="0"
             id="tspan1495">1</tspan></text>
      </g>
    </g>
    <g
       id="g1499">
      <g
         id="g1501"
         clip-path="url(#clipPath1505)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,366.73,412.7)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1509"><tspan
             x="0 7.8016 9.9958 17.7974"
             y="0"
             sodipodi:role="line"
             id="tspan1507">3,14</tspan></text>
      </g>
    </g>
    <g
       id="g1527">
      <g
         id="g1529"
         clip-path="url(#clipPath1533)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,219.47,360.9)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1537"><tspan
             x="0 10.6 21.200001 31.5986"
             y="0"
             sodipodi:role="line"
             id="tspan1535">サッカー</tspan></text>
      </g>
    </g>
    <g
       id="g1547">
      <g
         id="g1549"
         clip-path="url(#clipPath1553)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,265.1,360.9)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1557"><tspan
             x="0 10.3986 20.9986 31.3972 41.9972 52.395802 62.9958"
             y="0"
             sodipodi:role="line"
             id="tspan1555">・・・・・・・</tspan></text>
      </g>
    </g>
    <g
       id="g1567">
      <g
         id="g1569"
         clip-path="url(#clipPath1573)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,342.13,360.9)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1577"><tspan
             x="0 7.8016 15.6032 17.7974 25.599001"
             y="0"
             sodipodi:role="line"
             id="tspan1575">15,16</tspan></text>
      </g>
    </g>
    <g
       id="g1595">
      <g
         id="g1597"
         clip-path="url(#clipPath1601)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,224.08,309.08)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1605"><tspan
             x="0 10.6 21.200001"
             y="0"
             sodipodi:role="line"
             id="tspan1603">リレー</tspan></text>
      </g>
    </g>
    <g
       id="g1615">
      <g
         id="g1617"
         clip-path="url(#clipPath1621)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,259.1,309.08)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1625"><tspan
             x="0 10.6 20.9986 31.5986 41.9972 52.597198 62.9958 73.595802 83.9944 94.594398"
             y="0"
             sodipodi:role="line"
             id="tspan1623">・・・・・・・・・・</tspan></text>
      </g>
    </g>
    <g
       id="g1635">
      <g
         id="g1637"
         clip-path="url(#clipPath1641)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,367.73,309.08)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1645"><tspan
             x="0 7.8000002"
             y="0"
             sodipodi:role="line"
             id="tspan1643">17</tspan></text>
      </g>
    </g>
    <g
       id="g1663">
      <g
         id="g1665"
         clip-path="url(#clipPath1669)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,224.08,257.48)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1673"><tspan
             x="0 10.6"
             y="0"
             sodipodi:role="line"
             id="tspan1671">綱引</tspan></text>
      </g>
    </g>
    <g
       id="g1675">
      <g
         id="g1677"
         clip-path="url(#clipPath1681)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,245.27,257.48)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1685"><tspan
             x="0"
             y="0"
             id="tspan1683">き</tspan></text>
      </g>
    </g>
    <g
       id="g1695">
      <g
         id="g1697"
         clip-path="url(#clipPath1701)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,259.1,257.48)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1705"><tspan
             x="0 10.6 20.9986 31.5986 41.9972 52.597198 62.9958 73.595802 83.9944 94.594398"
             y="0"
             sodipodi:role="line"
             id="tspan1703">・・・・・・・・・・</tspan></text>
      </g>
    </g>
    <g
       id="g1715">
      <g
         id="g1717"
         clip-path="url(#clipPath1721)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,367.73,257.48)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1725"><tspan
             x="0"
             y="0"
             id="tspan1723">1</tspan></text>
      </g>
    </g>
    <g
       id="g1727">
      <g
         id="g1729"
         clip-path="url(#clipPath1733)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,375.52,257.48)"
           style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1737"><tspan
             x="0"
             y="0"
             id="tspan1735">8</tspan></text>
      </g>
    </g>
    <g
       id="g1747">
      <g
         id="g1749"
         clip-path="url(#clipPath1753)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,273.5,226.25)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1757"><tspan
             x="0"
             y="0"
             id="tspan1755">お</tspan></text>
      </g>
    </g>
    <g
       id="g1759">
      <g
         id="g1761"
         clip-path="url(#clipPath1765)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,285.5,226.25)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1769"><tspan
             x="0"
             y="0"
             id="tspan1767">知</tspan></text>
      </g>
    </g>
    <g
       id="g1771">
      <g
         id="g1773"
         clip-path="url(#clipPath1777)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,297.5,226.25)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1781"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan1779">らせ</tspan></text>
      </g>
    </g>
    <g
       id="g1799">
      <g
         id="g1801"
         clip-path="url(#clipPath1805)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1809"><tspan
             x="0 11 22"
             y="0"
             sodipodi:role="line"
             id="tspan1807">今年度</tspan></text>
      </g>
    </g>
    <g
       id="g1811">
      <g
         id="g1813"
         clip-path="url(#clipPath1817)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,87.025,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1821"><tspan
             x="0"
             y="0"
             id="tspan1819">も</tspan></text>
      </g>
    </g>
    <g
       id="g1823">
      <g
         id="g1825"
         clip-path="url(#clipPath1829)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,98.025,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1833"><tspan
             x="0 11"
             y="0"
             sodipodi:role="line"
             id="tspan1831">新型</tspan></text>
      </g>
    </g>
    <g
       id="g1835">
      <g
         id="g1837"
         clip-path="url(#clipPath1841)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,120.05,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1845"><tspan
             x="0 11 22"
             y="0"
             sodipodi:role="line"
             id="tspan1843">コロナ</tspan></text>
      </g>
    </g>
    <g
       id="g1847">
      <g
         id="g1849"
         clip-path="url(#clipPath1853)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,153.05,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1857"><tspan
             x="0 11 22 33"
             y="0"
             sodipodi:role="line"
             id="tspan1855">感染対策</tspan></text>
      </g>
    </g>
    <g
       id="g1859">
      <g
         id="g1861"
         clip-path="url(#clipPath1865)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,197.08,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1869"><tspan
             x="0 11 22 33"
             y="0"
             sodipodi:role="line"
             id="tspan1867">のため、</tspan></text>
      </g>
    </g>
    <g
       id="g1871">
      <g
         id="g1873"
         clip-path="url(#clipPath1877)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,241.08,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1881"><tspan
             x="0 11 22 33 44 55 66 77 88 99 110"
             y="0"
             sodipodi:role="line"
             id="tspan1879">ソーシャルディスタンス</tspan></text>
      </g>
    </g>
    <g
       id="g1883">
      <g
         id="g1885"
         clip-path="url(#clipPath1889)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,362.13,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1893"><tspan
             x="0"
             y="0"
             id="tspan1891">を</tspan></text>
      </g>
    </g>
    <g
       id="g1895">
      <g
         id="g1897"
         clip-path="url(#clipPath1901)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,373.13,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1905"><tspan
             x="0 11"
             y="0"
             sodipodi:role="line"
             id="tspan1903">考慮</tspan></text>
      </g>
    </g>
    <g
       id="g1907">
      <g
         id="g1909"
         clip-path="url(#clipPath1913)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,395.15,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1917"><tspan
             x="0 11 22 33 44"
             y="0"
             sodipodi:role="line"
             id="tspan1915">し「しっぽ</tspan></text>
      </g>
    </g>
    <g
       id="g1919">
      <g
         id="g1921"
         clip-path="url(#clipPath1925)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,450.15,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1929"><tspan
             x="0"
             y="0"
             id="tspan1927">取</tspan></text>
      </g>
    </g>
    <g
       id="g1931">
      <g
         id="g1933"
         clip-path="url(#clipPath1937)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,461.17,199.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1941"><tspan
             x="0 11"
             y="0"
             sodipodi:role="line"
             id="tspan1939">り」</tspan></text>
      </g>
    </g>
    <g
       id="g1951">
      <g
         id="g1953"
         clip-path="url(#clipPath1957)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1961"><tspan
             x="0 11 22 33 44 55 66 77 82.598999"
             y="0"
             sodipodi:role="line"
             id="tspan1959">「ドッチボール」「</tspan></text>
      </g>
    </g>
    <g
       id="g1963">
      <g
         id="g1965"
         clip-path="url(#clipPath1969)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,147.65,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1973"><tspan
             x="0 11 22 33"
             y="0"
             sodipodi:role="line"
             id="tspan1971">騎馬戦」</tspan></text>
      </g>
    </g>
    <g
       id="g1975">
      <g
         id="g1977"
         clip-path="url(#clipPath1981)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,191.68,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1985"><tspan
             x="0"
             y="0"
             id="tspan1983">を</tspan></text>
      </g>
    </g>
    <g
       id="g1987">
      <g
         id="g1989"
         clip-path="url(#clipPath1993)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,202.67,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text1997"><tspan
             x="0"
             y="0"
             id="tspan1995">取</tspan></text>
      </g>
    </g>
    <g
       id="g1999">
      <g
         id="g2001"
         clip-path="url(#clipPath2005)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,213.68,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2009"><tspan
             x="0 11 22 33 44 55 66 77 88 99"
             y="0"
             sodipodi:role="line"
             id="tspan2007">りやめました。また、</tspan></text>
      </g>
    </g>
    <g
       id="g2011">
      <g
         id="g2013"
         clip-path="url(#clipPath2017)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,323.73,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2021"><tspan
             x="0 11 22"
             y="0"
             sodipodi:role="line"
             id="tspan2019">各種目</tspan></text>
      </g>
    </g>
    <g
       id="g2023">
      <g
         id="g2025"
         clip-path="url(#clipPath2029)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,356.73,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2033"><tspan
             x="0"
             y="0"
             id="tspan2031">の</tspan></text>
      </g>
    </g>
    <g
       id="g2035">
      <g
         id="g2037"
         clip-path="url(#clipPath2041)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,367.73,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2045"><tspan
             x="0 11"
             y="0"
             sodipodi:role="line"
             id="tspan2043">得点</tspan></text>
      </g>
    </g>
    <g
       id="g2047">
      <g
         id="g2049"
         clip-path="url(#clipPath2053)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,389.75,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2057"><tspan
             x="0"
             y="0"
             id="tspan2055">を</tspan></text>
      </g>
    </g>
    <g
       id="g2059">
      <g
         id="g2061"
         clip-path="url(#clipPath2065)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,400.75,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2069"><tspan
             x="0 11"
             y="0"
             sodipodi:role="line"
             id="tspan2067">明記</tspan></text>
      </g>
    </g>
    <g
       id="g2071">
      <g
         id="g2073"
         clip-path="url(#clipPath2077)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,422.75,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2081"><tspan
             x="0 11"
             y="0"
             sodipodi:role="line"
             id="tspan2079">し、</tspan></text>
      </g>
    </g>
    <g
       id="g2083">
      <g
         id="g2085"
         clip-path="url(#clipPath2089)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,444.75,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2093"><tspan
             x="0 11 22 33"
             y="0"
             sodipodi:role="line"
             id="tspan2091">一部競技</tspan></text>
      </g>
    </g>
    <g
       id="g2095">
      <g
         id="g2097"
         clip-path="url(#clipPath2101)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,488.78,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2105"><tspan
             x="0"
             y="0"
             id="tspan2103">の</tspan></text>
      </g>
    </g>
    <g
       id="g2107">
      <g
         id="g2109"
         clip-path="url(#clipPath2113)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,499.77,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2117"><tspan
             x="0 11 22"
             y="0"
             sodipodi:role="line"
             id="tspan2115">ルール</tspan></text>
      </g>
    </g>
    <g
       id="g2119">
      <g
         id="g2121"
         clip-path="url(#clipPath2125)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,532.8,178.45)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2129"><tspan
             x="0"
             y="0"
             id="tspan2127">が</tspan></text>
      </g>
    </g>
    <g
       id="g2131">
      <g
         id="g2133"
         clip-path="url(#clipPath2137)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.625,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2141"><tspan
             x="0 11"
             y="0"
             sodipodi:role="line"
             id="tspan2139">変更</tspan></text>
      </g>
    </g>
    <g
       id="g2143">
      <g
         id="g2145"
         clip-path="url(#clipPath2149)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,76.625,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2153"><tspan
             x="0 11 22 33 44 55 66 77"
             y="0"
             sodipodi:role="line"
             id="tspan2151">となっています。</tspan></text>
      </g>
    </g>
    <g
       id="g2155">
      <g
         id="g2157"
         clip-path="url(#clipPath2161)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,164.65,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2165"><tspan
             x="0 8.1999998"
             y="0"
             sodipodi:role="line"
             id="tspan2163">2 </tspan></text>
      </g>
    </g>
    <g
       id="g2167">
      <g
         id="g2169"
         clip-path="url(#clipPath2173)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,176.48,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2177"><tspan
             x="0 11 22 33"
             y="0"
             sodipodi:role="line"
             id="tspan2175">年生以上</tspan></text>
      </g>
    </g>
    <g
       id="g2179">
      <g
         id="g2181"
         clip-path="url(#clipPath2185)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,220.48,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2189"><tspan
             x="0"
             y="0"
             id="tspan2187">の</tspan></text>
      </g>
    </g>
    <g
       id="g2191">
      <g
         id="g2193"
         clip-path="url(#clipPath2197)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,231.48,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2201"><tspan
             x="0 11"
             y="0"
             sodipodi:role="line"
             id="tspan2199">学生</tspan></text>
      </g>
    </g>
    <g
       id="g2203">
      <g
         id="g2205"
         clip-path="url(#clipPath2209)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,253.5,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2213"><tspan
             x="0"
             y="0"
             id="tspan2211">も</tspan></text>
      </g>
    </g>
    <g
       id="g2215">
      <g
         id="g2217"
         clip-path="url(#clipPath2221)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,264.5,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2225"><tspan
             x="0 11"
             y="0"
             sodipodi:role="line"
             id="tspan2223">確認</tspan></text>
      </g>
    </g>
    <g
       id="g2227">
      <g
         id="g2229"
         clip-path="url(#clipPath2233)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,286.5,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2237"><tspan
             x="0 11 22 33 44 55 66"
             y="0"
             sodipodi:role="line"
             id="tspan2235">するようにして</tspan></text>
      </g>
    </g>
    <g
       id="g2239">
      <g
         id="g2241"
         clip-path="url(#clipPath2245)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,363.52,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2249"><tspan
             x="0"
             y="0"
             id="tspan2247">下</tspan></text>
      </g>
    </g>
    <g
       id="g2251">
      <g
         id="g2253"
         clip-path="url(#clipPath2257)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,374.52,156.25)"
           style="font-variant:normal;font-weight:normal;font-size:11px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text2261"><tspan
             x="0 11 22"
             y="0"
             sodipodi:role="line"
             id="tspan2259">さい。</tspan></text>
      </g>
    </g>
  </g>
</svg>

</div>

<style>
  .pdf {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-primary-orange-300);
    background-color: var(--color-white);
    margin-bottom: 10px;
  }
  .embedPdf {
    width: 100%;
    aspect-ratio: 1/1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
</style>
