<div class="embedPdf">
   <svg
      class="pdf"
      version="1.1"
      id="svg9"
      width="793.3335"
      height="1122.6667"
      viewBox="0 0 793.33349 1122.6667">
     <defs
        id="defs13">
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath15931">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path15929" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath15975">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path15973" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16003">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16001" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16015">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16013" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16027">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16025" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16039">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16037" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16059">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16057" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16071">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16069" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16083">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16081" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16095">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16093" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16107">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16105" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16119">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16117" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16131">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16129" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16143">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16141" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16155">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16153" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16167">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16165" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16179">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16177" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16191">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16189" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16203">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16201" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16215">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16213" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16235">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16233" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16247">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16245" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16259">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16257" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16271">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16269" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16283">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16281" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16295">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16293" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16307">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16305" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16319">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16317" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16331">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16329" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16343">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16341" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16355">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16353" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16367">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16365" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16387">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16385" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16399">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16397" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16427">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16425" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16439">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16437" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16451">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16449" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16463">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16461" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16475">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16473" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16487">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16485" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16499">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16497" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16511">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16509" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16523">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16521" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16535">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16533" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16547">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16545" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16559">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16557" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16579">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16577" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16591">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16589" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16603">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16601" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16615">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16613" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16627">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16625" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16639">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16637" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16651">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16649" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16663">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16661" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16675">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16673" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16687">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16685" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16699">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16697" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16711">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16709" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16723">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16721" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16735">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16733" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16747">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16745" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16759">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16757" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16771">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16769" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16783">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16781" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16795">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16793" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16807">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16805" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16819">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16817" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16831">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16829" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16843">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16841" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16855">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16853" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16867">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16865" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16887">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16885" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16899">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16897" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16911">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16909" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16923">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16921" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16935">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16933" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16947">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16945" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16959">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16957" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16971">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16969" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16983">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16981" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath16995">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path16993" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath17007">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path17005" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath17019">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path17017" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath17031">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path17029" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath17043">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path17041" />
       </clipPath>
     </defs>
     <sodipodi:namedview
        id="namedview11"
        pagecolor="#ffffff"
        bordercolor="#000000"
        borderopacity="0.25"
        inkscape:showpageshadow="2"
        inkscape:pageopacity="0.0"
        inkscape:pagecheckerboard="0"
        inkscape:deskcolor="#d1d1d1"
        showgrid="false"
        inkscape:zoom="0.1269139"
        inkscape:cx="3849.0663"
        inkscape:cy="307.29496"
        inkscape:window-width="1920"
        inkscape:window-height="1009"
        inkscape:window-x="-8"
        inkscape:window-y="-8"
        inkscape:window-maximized="1"
        inkscape:current-layer="g449" />
     <g
        id="g15923"
        transform="matrix(1.3333333,0,0,-1.3333333,-1.8381696e-5,1122.6667)">
       <g
          id="g15925">
         <g
            id="g15927"
            clip-path="url(#clipPath15931)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,294.5,72.425)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'MS Gothic';-inkscape-font-specification:MS-PGothic;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text15935"><tspan
                x="0"
                y="0"
                id="tspan15933">7</tspan></text>
         </g>
       </g>
       <g
          id="g15969">
         <g
            id="g15971"
            clip-path="url(#clipPath15975)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,267.7,746.78)"
              style="font-variant:normal;font-weight:normal;font-size:20px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text15979"><tspan
                x="0 20 40"
                y="0"
                
                id="tspan15977">ハンデ</tspan></text>
         </g>
       </g>
       <g
          id="g15997">
         <g
            id="g15999"
            clip-path="url(#clipPath16003)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,77.225,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16007"><tspan
                x="0"
                y="0"
                id="tspan16005">○</tspan></text>
         </g>
       </g>
       <g
          id="g16009">
         <g
            id="g16011"
            clip-path="url(#clipPath16015)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,89.225,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16019"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16017">経験者</tspan></text>
         </g>
       </g>
       <g
          id="g16021">
         <g
            id="g16023"
            clip-path="url(#clipPath16027)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,125.25,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16031"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan16029">ハンデ：</tspan></text>
         </g>
       </g>
       <g
          id="g16033">
         <g
            id="g16035"
            clip-path="url(#clipPath16039)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,173.25,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16043"><tspan
                x="0 12"
                y="0"
                
                id="tspan16041">対象</tspan></text>
         </g>
       </g>
       <g
          id="g16053">
         <g
            id="g16055"
            clip-path="url(#clipPath16059)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,201.28,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16063"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16061">・男女</tspan></text>
         </g>
       </g>
       <g
          id="g16065">
         <g
            id="g16067"
            clip-path="url(#clipPath16071)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,237.28,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16075"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16073">ともに</tspan></text>
         </g>
       </g>
       <g
          id="g16077">
         <g
            id="g16079"
            clip-path="url(#clipPath16083)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,273.3,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16087"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16085">小学生</tspan></text>
         </g>
       </g>
       <g
          id="g16089">
         <g
            id="g16091"
            clip-path="url(#clipPath16095)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,309.3,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16099"><tspan
                x="0"
                y="0"
                id="tspan16097">～</tspan></text>
         </g>
       </g>
       <g
          id="g16101">
         <g
            id="g16103"
            clip-path="url(#clipPath16107)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,321.33,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16111"><tspan
                x="0 12"
                y="0"
                
                id="tspan16109">現在</tspan></text>
         </g>
       </g>
       <g
          id="g16113">
         <g
            id="g16115"
            clip-path="url(#clipPath16119)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,345.33,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16123"><tspan
                x="0 12 24 36 48"
                y="0"
                
                id="tspan16121">にかけて、</tspan></text>
         </g>
       </g>
       <g
          id="g16125">
         <g
            id="g16127"
            clip-path="url(#clipPath16131)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,405.35,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16135"><tspan
                x="0 12 24 36 48 60"
                y="0"
                
                id="tspan16133">バドミントン</tspan></text>
         </g>
       </g>
       <g
          id="g16137">
         <g
            id="g16139"
            clip-path="url(#clipPath16143)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,477.38,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16147"><tspan
                x="0"
                y="0"
                id="tspan16145">の</tspan></text>
         </g>
       </g>
       <g
          id="g16149">
         <g
            id="g16151"
            clip-path="url(#clipPath16155)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,489.38,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16159"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16157">部活動</tspan></text>
         </g>
       </g>
       <g
          id="g16161">
         <g
            id="g16163"
            clip-path="url(#clipPath16167)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,525.38,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16171"><tspan
                x="0 12"
                y="0"
                
                id="tspan16169">もし</tspan></text>
         </g>
       </g>
       <g
          id="g16173">
         <g
            id="g16175"
            clip-path="url(#clipPath16179)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,173.45,699.97)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16183"><tspan
                x="0 12"
                y="0"
                
                id="tspan16181">くは</tspan></text>
         </g>
       </g>
       <g
          id="g16185">
         <g
            id="g16187"
            clip-path="url(#clipPath16191)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,197.48,699.97)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16195"><tspan
                x="0 12 24 36 48 60"
                y="0"
                
                id="tspan16193">クラブチーム</tspan></text>
         </g>
       </g>
       <g
          id="g16197">
         <g
            id="g16199"
            clip-path="url(#clipPath16203)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,269.5,699.97)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16207"><tspan
                x="0"
                y="0"
                id="tspan16205">に</tspan></text>
         </g>
       </g>
       <g
          id="g16209">
         <g
            id="g16211"
            clip-path="url(#clipPath16215)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,281.5,699.97)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16219"><tspan
                x="0 12"
                y="0"
                
                id="tspan16217">三年</tspan></text>
         </g>
       </g>
       <g
          id="g16229">
         <g
            id="g16231"
            clip-path="url(#clipPath16235)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,309.5,699.97)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16239"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan16237">以上所属</tspan></text>
         </g>
       </g>
       <g
          id="g16241">
         <g
            id="g16243"
            clip-path="url(#clipPath16247)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,357.52,699.97)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16251"><tspan
                x="0 12 24 36 48 60 72 84 96"
                y="0"
                
                id="tspan16249">していたことのある</tspan></text>
         </g>
       </g>
       <g
          id="g16253">
         <g
            id="g16255"
            clip-path="url(#clipPath16259)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,465.58,699.97)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16263"><tspan
                x="0 12"
                y="0"
                
                id="tspan16261">者。</tspan></text>
         </g>
       </g>
       <g
          id="g16265">
         <g
            id="g16267"
            clip-path="url(#clipPath16271)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,489.57,699.97)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16275"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16273">また、</tspan></text>
         </g>
       </g>
       <g
          id="g16277">
         <g
            id="g16279"
            clip-path="url(#clipPath16283)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,525.58,699.97)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16287"><tspan
                x="0 12"
                y="0"
                
                id="tspan16285">現在</tspan></text>
         </g>
       </g>
       <g
          id="g16289">
         <g
            id="g16291"
            clip-path="url(#clipPath16295)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,173.45,675.78)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16299"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan16297">明石高専</tspan></text>
         </g>
       </g>
       <g
          id="g16301">
         <g
            id="g16303"
            clip-path="url(#clipPath16307)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,221.48,675.78)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16311"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan16309">において</tspan></text>
         </g>
       </g>
       <g
          id="g16313">
         <g
            id="g16315"
            clip-path="url(#clipPath16319)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,269.5,675.78)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16323"><tspan
                x="0 12 24 36 48 60"
                y="0"
                
                id="tspan16321">バドミントン</tspan></text>
         </g>
       </g>
       <g
          id="g16325">
         <g
            id="g16327"
            clip-path="url(#clipPath16331)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,341.53,675.78)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16335"><tspan
                x="0"
                y="0"
                id="tspan16333">部</tspan></text>
         </g>
       </g>
       <g
          id="g16337">
         <g
            id="g16339"
            clip-path="url(#clipPath16343)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,353.52,675.78)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16347"><tspan
                x="0"
                y="0"
                id="tspan16345">に</tspan></text>
         </g>
       </g>
       <g
          id="g16349">
         <g
            id="g16351"
            clip-path="url(#clipPath16355)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,365.52,675.78)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16359"><tspan
                x="0 12"
                y="0"
                
                id="tspan16357">所属</tspan></text>
         </g>
       </g>
       <g
          id="g16361">
         <g
            id="g16363"
            clip-path="url(#clipPath16367)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,389.55,675.78)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16371"><tspan
                x="0 12"
                y="0"
                
                id="tspan16369">して</tspan></text>
         </g>
       </g>
       <g
          id="g16381">
         <g
            id="g16383"
            clip-path="url(#clipPath16387)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,417.55,675.78)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16391"><tspan
                x="0 12"
                y="0"
                
                id="tspan16389">いる</tspan></text>
         </g>
       </g>
       <g
          id="g16393">
         <g
            id="g16395"
            clip-path="url(#clipPath16399)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,441.55,675.78)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16403"><tspan
                x="0"
                y="0"
                id="tspan16401">者</tspan></text>
         </g>
       </g>
       <g
          id="g16421">
         <g
            id="g16423"
            clip-path="url(#clipPath16427)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,77.225,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16431"><tspan
                x="0"
                y="0"
                id="tspan16429">※</tspan></text>
         </g>
       </g>
       <g
          id="g16433">
         <g
            id="g16435"
            clip-path="url(#clipPath16439)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,89.225,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16443"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16441">経験者</tspan></text>
         </g>
       </g>
       <g
          id="g16445">
         <g
            id="g16447"
            clip-path="url(#clipPath16451)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,125.25,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16455"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16453">がいる</tspan></text>
         </g>
       </g>
       <g
          id="g16457">
         <g
            id="g16459"
            clip-path="url(#clipPath16463)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,161.25,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16467"><tspan
                x="0 12"
                y="0"
                
                id="tspan16465">場合</tspan></text>
         </g>
       </g>
       <g
          id="g16469">
         <g
            id="g16471"
            clip-path="url(#clipPath16475)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,185.27,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16479"><tspan
                x="0 12"
                y="0"
                
                id="tspan16477">は、</tspan></text>
         </g>
       </g>
       <g
          id="g16481">
         <g
            id="g16483"
            clip-path="url(#clipPath16487)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,209.27,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16491"><tspan
                x="0 12"
                y="0"
                
                id="tspan16489">相手</tspan></text>
         </g>
       </g>
       <g
          id="g16493">
         <g
            id="g16495"
            clip-path="url(#clipPath16499)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,233.28,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16503"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16501">チーム</tspan></text>
         </g>
       </g>
       <g
          id="g16505">
         <g
            id="g16507"
            clip-path="url(#clipPath16511)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,269.3,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16515"><tspan
                x="0 12"
                y="0"
                
                id="tspan16513">に４</tspan></text>
         </g>
       </g>
       <g
          id="g16517">
         <g
            id="g16519"
            clip-path="url(#clipPath16523)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,293.3,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16527"><tspan
                x="0"
                y="0"
                id="tspan16525">点</tspan></text>
         </g>
       </g>
       <g
          id="g16529">
         <g
            id="g16531"
            clip-path="url(#clipPath16535)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,305.3,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16539"><tspan
                x="0"
                y="0"
                id="tspan16537">を</tspan></text>
         </g>
       </g>
       <g
          id="g16541">
         <g
            id="g16543"
            clip-path="url(#clipPath16547)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,317.33,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16551"><tspan
                x="0"
                y="0"
                id="tspan16549">加</tspan></text>
         </g>
       </g>
       <g
          id="g16553">
         <g
            id="g16555"
            clip-path="url(#clipPath16559)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,329.33,627.55)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16563"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16561">える。</tspan></text>
         </g>
       </g>
       <g
          id="g16573">
         <g
            id="g16575"
            clip-path="url(#clipPath16579)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,77.225,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16583"><tspan
                x="0"
                y="0"
                id="tspan16581">※</tspan></text>
         </g>
       </g>
       <g
          id="g16585">
         <g
            id="g16587"
            clip-path="url(#clipPath16591)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,89.225,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16595"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan16593">ダブルス</tspan></text>
         </g>
       </g>
       <g
          id="g16597">
         <g
            id="g16599"
            clip-path="url(#clipPath16603)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,137.25,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16607"><tspan
                x="0"
                y="0"
                id="tspan16605">の</tspan></text>
         </g>
       </g>
       <g
          id="g16609">
         <g
            id="g16611"
            clip-path="url(#clipPath16615)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,149.25,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16619"><tspan
                x="0 12"
                y="0"
                
                id="tspan16617">試合</tspan></text>
         </g>
       </g>
       <g
          id="g16621">
         <g
            id="g16623"
            clip-path="url(#clipPath16627)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,173.25,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16631"><tspan
                x="0"
                y="0"
                id="tspan16629">の</tspan></text>
         </g>
       </g>
       <g
          id="g16633">
         <g
            id="g16635"
            clip-path="url(#clipPath16639)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,185.27,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16643"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16641">場合、</tspan></text>
         </g>
       </g>
       <g
          id="g16645">
         <g
            id="g16647"
            clip-path="url(#clipPath16651)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,221.27,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16655"><tspan
                x="0 12"
                y="0"
                
                id="tspan16653">ペア</tspan></text>
         </g>
       </g>
       <g
          id="g16657">
         <g
            id="g16659"
            clip-path="url(#clipPath16663)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,245.27,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16667"><tspan
                x="0 12 24 36 48"
                y="0"
                
                id="tspan16665">がどちらも</tspan></text>
         </g>
       </g>
       <g
          id="g16669">
         <g
            id="g16671"
            clip-path="url(#clipPath16675)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,305.3,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16679"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16677">経験者</tspan></text>
         </g>
       </g>
       <g
          id="g16681">
         <g
            id="g16683"
            clip-path="url(#clipPath16687)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,341.32,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16691"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan16689">であった</tspan></text>
         </g>
       </g>
       <g
          id="g16693">
         <g
            id="g16695"
            clip-path="url(#clipPath16699)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,389.35,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16703"><tspan
                x="0 12"
                y="0"
                
                id="tspan16701">場合</tspan></text>
         </g>
       </g>
       <g
          id="g16705">
         <g
            id="g16707"
            clip-path="url(#clipPath16711)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,413.35,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16715"><tspan
                x="0 12"
                y="0"
                
                id="tspan16713">でも</tspan></text>
         </g>
       </g>
       <g
          id="g16717">
         <g
            id="g16719"
            clip-path="url(#clipPath16723)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,437.35,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16727"><tspan
                x="0 12"
                y="0"
                
                id="tspan16725">相手</tspan></text>
         </g>
       </g>
       <g
          id="g16729">
         <g
            id="g16731"
            clip-path="url(#clipPath16735)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,461.38,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16739"><tspan
                x="0 12"
                y="0"
                
                id="tspan16737">には</tspan></text>
         </g>
       </g>
       <g
          id="g16741">
         <g
            id="g16743"
            clip-path="url(#clipPath16747)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,490.77,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16751"><tspan
                x="0"
                y="0"
                id="tspan16749">4</tspan></text>
         </g>
       </g>
       <g
          id="g16753">
         <g
            id="g16755"
            clip-path="url(#clipPath16759)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,505.17,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16763"><tspan
                x="0"
                y="0"
                id="tspan16761">点</tspan></text>
         </g>
       </g>
       <g
          id="g16765">
         <g
            id="g16767"
            clip-path="url(#clipPath16771)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,517.17,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16775"><tspan
                x="0"
                y="0"
                id="tspan16773">の</tspan></text>
         </g>
       </g>
       <g
          id="g16777">
         <g
            id="g16779"
            clip-path="url(#clipPath16783)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,529.2,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16787"><tspan
                x="0"
                y="0"
                id="tspan16785">加</tspan></text>
         </g>
       </g>
       <g
          id="g16789">
         <g
            id="g16791"
            clip-path="url(#clipPath16795)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,541.2,603.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16799"><tspan
                x="0"
                y="0"
                id="tspan16797">点</tspan></text>
         </g>
       </g>
       <g
          id="g16801">
         <g
            id="g16803"
            clip-path="url(#clipPath16807)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,173.45,579.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16811"><tspan
                x="0"
                y="0"
                id="tspan16809">と</tspan></text>
         </g>
       </g>
       <g
          id="g16813">
         <g
            id="g16815"
            clip-path="url(#clipPath16819)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,185.48,579.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16823"><tspan
                x="0 12"
                y="0"
                
                id="tspan16821">なる</tspan></text>
         </g>
       </g>
       <g
          id="g16825">
         <g
            id="g16827"
            clip-path="url(#clipPath16831)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,209.47,579.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16835"><tspan
                x="0"
                y="0"
                id="tspan16833">(</tspan></text>
         </g>
       </g>
       <g
          id="g16837">
         <g
            id="g16839"
            clip-path="url(#clipPath16843)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,213.88,579.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16847"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan16845">８点加点</tspan></text>
         </g>
       </g>
       <g
          id="g16849">
         <g
            id="g16851"
            clip-path="url(#clipPath16855)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,261.9,579.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16859"><tspan
                x="0 12 24 36 48 60 72"
                y="0"
                
                id="tspan16857">とはならない！</tspan></text>
         </g>
       </g>
       <g
          id="g16861">
         <g
            id="g16863"
            clip-path="url(#clipPath16867)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,345.92,579.35)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16871"><tspan
                x="0"
                y="0"
                id="tspan16869">)</tspan></text>
         </g>
       </g>
       <g
          id="g16881">
         <g
            id="g16883"
            clip-path="url(#clipPath16887)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,77.225,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16891"><tspan
                x="0 12"
                y="0"
                
                id="tspan16889">※両</tspan></text>
         </g>
       </g>
       <g
          id="g16893">
         <g
            id="g16895"
            clip-path="url(#clipPath16899)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,101.22,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16903"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16901">チーム</tspan></text>
         </g>
       </g>
       <g
          id="g16905">
         <g
            id="g16907"
            clip-path="url(#clipPath16911)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,137.25,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16915"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16913">とも、</tspan></text>
         </g>
       </g>
       <g
          id="g16917">
         <g
            id="g16919"
            clip-path="url(#clipPath16923)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,173.25,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16927"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16925">経験者</tspan></text>
         </g>
       </g>
       <g
          id="g16929">
         <g
            id="g16931"
            clip-path="url(#clipPath16935)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,209.27,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16939"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16937">がいる</tspan></text>
         </g>
       </g>
       <g
          id="g16941">
         <g
            id="g16943"
            clip-path="url(#clipPath16947)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,245.27,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16951"><tspan
                x="0 12"
                y="0"
                
                id="tspan16949">場合</tspan></text>
         </g>
       </g>
       <g
          id="g16953">
         <g
            id="g16955"
            clip-path="url(#clipPath16959)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,269.3,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16963"><tspan
                x="0"
                y="0"
                id="tspan16961">は</tspan></text>
         </g>
       </g>
       <g
          id="g16965">
         <g
            id="g16967"
            clip-path="url(#clipPath16971)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,281.3,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16975"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan16973">ハンデ</tspan></text>
         </g>
       </g>
       <g
          id="g16977">
         <g
            id="g16979"
            clip-path="url(#clipPath16983)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,317.33,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16987"><tspan
                x="0"
                y="0"
                id="tspan16985">は</tspan></text>
         </g>
       </g>
       <g
          id="g16989">
         <g
            id="g16991"
            clip-path="url(#clipPath16995)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,329.33,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text16999"><tspan
                x="0 12"
                y="0"
                
                id="tspan16997">相殺</tspan></text>
         </g>
       </g>
       <g
          id="g17001">
         <g
            id="g17003"
            clip-path="url(#clipPath17007)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,353.33,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text17011"><tspan
                x="0 12"
                y="0"
                
                id="tspan17009">され</tspan></text>
         </g>
       </g>
       <g
          id="g17013">
         <g
            id="g17015"
            clip-path="url(#clipPath17019)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,377.32,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text17023"><tspan
                x="0"
                y="0"
                id="tspan17021">、</tspan></text>
         </g>
       </g>
       <g
          id="g17025">
         <g
            id="g17027"
            clip-path="url(#clipPath17031)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,389.35,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text17035"><tspan
                x="0"
                y="0"
                id="tspan17033">無</tspan></text>
         </g>
       </g>
       <g
          id="g17037">
         <g
            id="g17039"
            clip-path="url(#clipPath17043)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,401.35,555.13)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text17047"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan17045">くなる。</tspan></text>
         </g>
       </g>
     </g>
   </svg>
   
</div>

<style>
    .pdf {
        width: 100%;
        border: 2px solid var(--color-primary-orange-300);
        background-color: var(--color-white);
        margin-bottom: 10px;
    }
    .embedPdf {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
</style>