<div class="embedPdf">

  <svg
   class="pdf"
   version="1.1"
   id="svg9"
   width="793.33301"
   height="1122.6667"
   viewBox="0 0 793.333 1122.6667"
   sodipodi:docname="R5 ルールブック.pdf"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs13">
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38333">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38331" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38377">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38375" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38405">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38403" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38441">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38439" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38453">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38451" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38465">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38463" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38485">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38483" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38497">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38495" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38525">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38523" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38537">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38535" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38549">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38547" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38561">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38559" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38589">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38587" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38601">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38599" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38621">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38619" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38641">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38639" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38653">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38651" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38683">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38681" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38703">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38701" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38715">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38713" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38727">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38725" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38739">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38737" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38751">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38749" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38763">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38761" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38775">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38773" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38787">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38785" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38799">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38797" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38811">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38809" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38823">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38821" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38835">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38833" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38847">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38845" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38859">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38857" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38871">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38869" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38899">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38897" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38919">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38917" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38931">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38929" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38943">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38941" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38955">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38953" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38967">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38965" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38979">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38977" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath38991">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path38989" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39003">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39001" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39015">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39013" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39027">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39025" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39055">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39053" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39075">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39073" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39087">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39085" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39099">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39097" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39111">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39109" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39123">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39121" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39135">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39133" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39147">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39145" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39159">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39157" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39171">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39169" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39183">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39181" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39195">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39193" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39207">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39205" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39219">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39217" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39231">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39229" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39243">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39241" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39255">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39253" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39267">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39265" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39279">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39277" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39307">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39305" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39327">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39325" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39339">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39337" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39351">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39349" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39363">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39361" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39375">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39373" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39387">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39385" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39399">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39397" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39411">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39409" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39423">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39421" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39435">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39433" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39489">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39487" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39501">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39499" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39513">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39511" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39525">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39523" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39537">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39535" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39549">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39547" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39561">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39559" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39573">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39571" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39585">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39583" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39597">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39595" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39609">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39607" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39621">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39619" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39673">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39671" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39693">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39691" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39705">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39703" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39717">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39715" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39729">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39727" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39749">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39747" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39769">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39767" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39781">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39779" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39793">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39791" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39805">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39803" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39817">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39815" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39837">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39835" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39857">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39855" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39869">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39867" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39881">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39879" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39893">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39891" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39913">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39911" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39933">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39931" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39945">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39943" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39957">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39955" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39969">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39967" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath39989">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path39987" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath40009">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path40007" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath40021">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path40019" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath40033">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path40031" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath40045">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path40043" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath40065">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path40063" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath40077">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path40075" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath40089">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path40087" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath40101">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path40099" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath40113">
      <path
         d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
         clip-rule="evenodd"
         id="path40111" />
    </clipPath>
  </defs>
  <sodipodi:namedview
     id="namedview11"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     showgrid="false" />
  <g
     id="g38325"
     inkscape:groupmode="layer"
     inkscape:label="Page 17"
     transform="matrix(1.3333333,0,0,-1.3333333,-5.6830357e-5,1122.6667)">
    <g
       id="g38327">
      <g
         id="g38329"
         clip-path="url(#clipPath38333)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,291.5,72.425)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'MS Gothic';-inkscape-font-specification:MS-PGothic;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38337"><tspan
             x="0 6"
             y="0"
             sodipodi:role="line"
             id="tspan38335">17</tspan></text>
      </g>
    </g>
    <g
       id="g38371">
      <g
         id="g38373"
         clip-path="url(#clipPath38377)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,243.48,730.58)"
           style="font-variant:normal;font-weight:normal;font-size:36px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38381"><tspan
             x="0 36.025002 72.050003"
             y="0"
             sodipodi:role="line"
             id="tspan38379">リレー</tspan></text>
      </g>
    </g>
    <g
       id="g38399">
      <g
         id="g38401"
         clip-path="url(#clipPath38405)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,264.3,695.78)"
           style="font-variant:normal;font-weight:normal;font-size:20px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38409"><tspan
             x="0 20 40"
             y="0"
             sodipodi:role="line"
             id="tspan38407">ルール</tspan></text>
      </g>
    </g>
    <g
       id="g38435">
      <g
         id="g38437"
         clip-path="url(#clipPath38441)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.225,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38445"><tspan
             x="0"
             y="0"
             id="tspan38443">○</tspan></text>
      </g>
    </g>
    <g
       id="g38447">
      <g
         id="g38449"
         clip-path="url(#clipPath38453)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,89.225,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38457"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan38455">人数：各</tspan></text>
      </g>
    </g>
    <g
       id="g38459">
      <g
         id="g38461"
         clip-path="url(#clipPath38465)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,137.25,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38469"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan38467">クラス</tspan></text>
      </g>
    </g>
    <g
       id="g38479">
      <g
         id="g38481"
         clip-path="url(#clipPath38485)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,177.27,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38489"><tspan
             x="0 9"
             y="0"
             sodipodi:role="line"
             id="tspan38487">3 </tspan></text>
      </g>
    </g>
    <g
       id="g38491">
      <g
         id="g38493"
         clip-path="url(#clipPath38497)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,190.27,675.78)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38501"><tspan
             x="0"
             y="0"
             id="tspan38499">人</tspan></text>
      </g>
    </g>
    <g
       id="g38519">
      <g
         id="g38521"
         clip-path="url(#clipPath38525)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.225,653.75)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38529"><tspan
             x="0"
             y="0"
             id="tspan38527">○</tspan></text>
      </g>
    </g>
    <g
       id="g38531">
      <g
         id="g38533"
         clip-path="url(#clipPath38537)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,89.225,653.75)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38541"><tspan
             x="0 12 24 36 48"
             y="0"
             sodipodi:role="line"
             id="tspan38539">試合時間：</tspan></text>
      </g>
    </g>
    <g
       id="g38543">
      <g
         id="g38545"
         clip-path="url(#clipPath38549)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,149.25,653.75)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38553"><tspan
             x="0 9 18"
             y="0"
             sodipodi:role="line"
             id="tspan38551">60 </tspan></text>
      </g>
    </g>
    <g
       id="g38555">
      <g
         id="g38557"
         clip-path="url(#clipPath38561)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,171.25,653.75)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38565"><tspan
             x="0"
             y="0"
             id="tspan38563">分</tspan></text>
      </g>
    </g>
    <g
       id="g38583">
      <g
         id="g38585"
         clip-path="url(#clipPath38589)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,77.225,631.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38593"><tspan
             x="0"
             y="0"
             id="tspan38591">○</tspan></text>
      </g>
    </g>
    <g
       id="g38595">
      <g
         id="g38597"
         clip-path="url(#clipPath38601)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,89.225,631.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38605"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan38603">細則：</tspan></text>
      </g>
    </g>
    <g
       id="g38615">
      <g
         id="g38617"
         clip-path="url(#clipPath38621)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,609.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38625"><tspan
             x="0"
             y="0"
             id="tspan38623">・</tspan></text>
      </g>
    </g>
    <g
       id="g38635">
      <g
         id="g38637"
         clip-path="url(#clipPath38641)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,609.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38645"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan38643">学科対抗</tspan></text>
      </g>
    </g>
    <g
       id="g38647">
      <g
         id="g38649"
         clip-path="url(#clipPath38653)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,120.05,609.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38657"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan38655">リレー。</tspan></text>
      </g>
    </g>
    <path
       d="m 132.05,584.15 h 38 v 15.6 h -38 z"
       style="fill:#00ffff;fill-opacity:1;fill-rule:evenodd;stroke:none"
       id="path38675" />
    <g
       id="g38677">
      <g
         id="g38679"
         clip-path="url(#clipPath38683)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38687"><tspan
             x="0"
             y="0"
             id="tspan38685">・</tspan></text>
      </g>
    </g>
    <g
       id="g38697">
      <g
         id="g38699"
         clip-path="url(#clipPath38703)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38707"><tspan
             x="0 12 24 36 48"
             y="0"
             sodipodi:role="line"
             id="tspan38705">トラック（</tspan></text>
      </g>
    </g>
    <g
       id="g38709">
      <g
         id="g38711"
         clip-path="url(#clipPath38715)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,132.05,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38719"><tspan
             x="0 8.9879999 17.976 26.771999"
             y="0"
             sodipodi:role="line"
             id="tspan38717">200m</tspan></text>
      </g>
    </g>
    <g
       id="g38721">
      <g
         id="g38723"
         clip-path="url(#clipPath38727)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,170.05,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38731"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan38729">）を</tspan></text>
      </g>
    </g>
    <g
       id="g38733">
      <g
         id="g38735"
         clip-path="url(#clipPath38739)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,194.08,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38743"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan38741">用意</tspan></text>
      </g>
    </g>
    <g
       id="g38745">
      <g
         id="g38747"
         clip-path="url(#clipPath38751)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,218.08,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38755"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan38753">し、</tspan></text>
      </g>
    </g>
    <g
       id="g38757">
      <g
         id="g38759"
         clip-path="url(#clipPath38763)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,242.08,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38767"><tspan
             x="0 12 23.796 35.796001"
             y="0"
             sodipodi:role="line"
             id="tspan38765">最終走者</tspan></text>
      </g>
    </g>
    <g
       id="g38769">
      <g
         id="g38771"
         clip-path="url(#clipPath38775)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,289.9,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38779"><tspan
             x="0"
             y="0"
             id="tspan38777">が</tspan></text>
      </g>
    </g>
    <g
       id="g38781">
      <g
         id="g38783"
         clip-path="url(#clipPath38787)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,301.9,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38791"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan38789">ゴール</tspan></text>
      </g>
    </g>
    <g
       id="g38793">
      <g
         id="g38795"
         clip-path="url(#clipPath38799)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,337.92,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38803"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan38801">した</tspan></text>
      </g>
    </g>
    <g
       id="g38805">
      <g
         id="g38807"
         clip-path="url(#clipPath38811)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,361.93,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38815"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan38813">順番</tspan></text>
      </g>
    </g>
    <g
       id="g38817">
      <g
         id="g38819"
         clip-path="url(#clipPath38823)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,385.95,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38827"><tspan
             x="0"
             y="0"
             id="tspan38825">に</tspan></text>
      </g>
    </g>
    <g
       id="g38829">
      <g
         id="g38831"
         clip-path="url(#clipPath38835)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,397.95,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38839"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan38837">順位</tspan></text>
      </g>
    </g>
    <g
       id="g38841">
      <g
         id="g38843"
         clip-path="url(#clipPath38847)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,421.95,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38851"><tspan
             x="0"
             y="0"
             id="tspan38849">が</tspan></text>
      </g>
    </g>
    <g
       id="g38853">
      <g
         id="g38855"
         clip-path="url(#clipPath38859)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,433.95,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38863"><tspan
             x="0"
             y="0"
             id="tspan38861">付</tspan></text>
      </g>
    </g>
    <g
       id="g38865">
      <g
         id="g38867"
         clip-path="url(#clipPath38871)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,445.95,587.55)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38875"><tspan
             x="0 12 24 36 48 60 72"
             y="0"
             sodipodi:role="line"
             id="tspan38873">くものとする。</tspan></text>
      </g>
    </g>
    <g
       id="g38893">
      <g
         id="g38895"
         clip-path="url(#clipPath38899)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38903"><tspan
             x="0"
             y="0"
             id="tspan38901">・</tspan></text>
      </g>
    </g>
    <g
       id="g38913">
      <g
         id="g38915"
         clip-path="url(#clipPath38919)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38923"><tspan
             x="0 12 24 36 48 60 72 84"
             y="0"
             sodipodi:role="line"
             id="tspan38921">バトンパスゾーン</tspan></text>
      </g>
    </g>
    <g
       id="g38925">
      <g
         id="g38927"
         clip-path="url(#clipPath38931)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,168.05,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38935"><tspan
             x="0"
             y="0"
             id="tspan38933">で</tspan></text>
      </g>
    </g>
    <g
       id="g38937">
      <g
         id="g38939"
         clip-path="url(#clipPath38943)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,180.08,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38947"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan38945">バトン</tspan></text>
      </g>
    </g>
    <g
       id="g38949">
      <g
         id="g38951"
         clip-path="url(#clipPath38955)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,216.08,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38959"><tspan
             x="0"
             y="0"
             id="tspan38957">を</tspan></text>
      </g>
    </g>
    <g
       id="g38961">
      <g
         id="g38963"
         clip-path="url(#clipPath38967)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,228.08,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38971"><tspan
             x="0"
             y="0"
             id="tspan38969">次</tspan></text>
      </g>
    </g>
    <g
       id="g38973">
      <g
         id="g38975"
         clip-path="url(#clipPath38979)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,240.08,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38983"><tspan
             x="0"
             y="0"
             id="tspan38981">の</tspan></text>
      </g>
    </g>
    <g
       id="g38985">
      <g
         id="g38987"
         clip-path="url(#clipPath38991)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,252.1,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text38995"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan38993">走者</tspan></text>
      </g>
    </g>
    <g
       id="g38997">
      <g
         id="g38999"
         clip-path="url(#clipPath39003)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,276.1,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39007"><tspan
             x="0"
             y="0"
             id="tspan39005">に</tspan></text>
      </g>
    </g>
    <g
       id="g39009">
      <g
         id="g39011"
         clip-path="url(#clipPath39015)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,288.1,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39019"><tspan
             x="0"
             y="0"
             id="tspan39017">渡</tspan></text>
      </g>
    </g>
    <g
       id="g39021">
      <g
         id="g39023"
         clip-path="url(#clipPath39027)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,300.1,564.15)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39031"><tspan
             x="0 12 24 36 48 60 72"
             y="0"
             sodipodi:role="line"
             id="tspan39029">すものとする。</tspan></text>
      </g>
    </g>
    <g
       id="g39049">
      <g
         id="g39051"
         clip-path="url(#clipPath39055)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39059"><tspan
             x="0"
             y="0"
             id="tspan39057">・</tspan></text>
      </g>
    </g>
    <g
       id="g39069">
      <g
         id="g39071"
         clip-path="url(#clipPath39075)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39079"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan39077">コース</tspan></text>
      </g>
    </g>
    <g
       id="g39081">
      <g
         id="g39083"
         clip-path="url(#clipPath39087)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,108.05,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39091"><tspan
             x="0"
             y="0"
             id="tspan39089">奥</tspan></text>
      </g>
    </g>
    <g
       id="g39093">
      <g
         id="g39095"
         clip-path="url(#clipPath39099)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,120.05,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39103"><tspan
             x="0"
             y="0"
             id="tspan39101">に</tspan></text>
      </g>
    </g>
    <g
       id="g39105">
      <g
         id="g39107"
         clip-path="url(#clipPath39111)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,132.05,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39115"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan39113">設置</tspan></text>
      </g>
    </g>
    <g
       id="g39117">
      <g
         id="g39119"
         clip-path="url(#clipPath39123)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,156.05,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39127"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan39125">した</tspan></text>
      </g>
    </g>
    <g
       id="g39129">
      <g
         id="g39131"
         clip-path="url(#clipPath39135)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,180.08,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39139"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan39137">コーン</tspan></text>
      </g>
    </g>
    <g
       id="g39141">
      <g
         id="g39143"
         clip-path="url(#clipPath39147)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,216.08,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39151"><tspan
             x="0"
             y="0"
             id="tspan39149">を</tspan></text>
      </g>
    </g>
    <g
       id="g39153">
      <g
         id="g39155"
         clip-path="url(#clipPath39159)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,228.08,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39163"><tspan
             x="0"
             y="0"
             id="tspan39161">早</tspan></text>
      </g>
    </g>
    <g
       id="g39165">
      <g
         id="g39167"
         clip-path="url(#clipPath39171)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,240.08,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39175"><tspan
             x="0"
             y="0"
             id="tspan39173">く</tspan></text>
      </g>
    </g>
    <g
       id="g39177">
      <g
         id="g39179"
         clip-path="url(#clipPath39183)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,252.1,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39187"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan39185">通過</tspan></text>
      </g>
    </g>
    <g
       id="g39189">
      <g
         id="g39191"
         clip-path="url(#clipPath39195)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,276.1,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39199"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan39197">した</tspan></text>
      </g>
    </g>
    <g
       id="g39201">
      <g
         id="g39203"
         clip-path="url(#clipPath39207)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,300.1,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39211"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan39209">学科</tspan></text>
      </g>
    </g>
    <g
       id="g39213">
      <g
         id="g39215"
         clip-path="url(#clipPath39219)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,324.13,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39223"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan39221">から</tspan></text>
      </g>
    </g>
    <g
       id="g39225">
      <g
         id="g39227"
         clip-path="url(#clipPath39231)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,348.13,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39235"><tspan
             x="0 12 24 36 48 60 72 84"
             y="0"
             sodipodi:role="line"
             id="tspan39233">バトンパスゾーン</tspan></text>
      </g>
    </g>
    <g
       id="g39237">
      <g
         id="g39239"
         clip-path="url(#clipPath39243)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,444.15,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39247"><tspan
             x="0"
             y="0"
             id="tspan39245">に</tspan></text>
      </g>
    </g>
    <g
       id="g39249">
      <g
         id="g39251"
         clip-path="url(#clipPath39255)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,456.17,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39259"><tspan
             x="0"
             y="0"
             id="tspan39257">入</tspan></text>
      </g>
    </g>
    <g
       id="g39261">
      <g
         id="g39263"
         clip-path="url(#clipPath39267)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,468.17,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39271"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan39269">っていく</tspan></text>
      </g>
    </g>
    <g
       id="g39273">
      <g
         id="g39275"
         clip-path="url(#clipPath39279)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,516.17,542.13)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39283"><tspan
             x="0"
             y="0"
             id="tspan39281">。</tspan></text>
      </g>
    </g>
    <g
       id="g39301">
      <g
         id="g39303"
         clip-path="url(#clipPath39307)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39311"><tspan
             x="0"
             y="0"
             id="tspan39309">・</tspan></text>
      </g>
    </g>
    <g
       id="g39321">
      <g
         id="g39323"
         clip-path="url(#clipPath39327)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39331"><tspan
             x="0 9"
             y="0"
             sodipodi:role="line"
             id="tspan39329">3 </tspan></text>
      </g>
    </g>
    <g
       id="g39333">
      <g
         id="g39335"
         clip-path="url(#clipPath39339)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,85.025,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39343"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan39341">試合行</tspan></text>
      </g>
    </g>
    <g
       id="g39345">
      <g
         id="g39347"
         clip-path="url(#clipPath39351)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,121.05,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39355"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan39353">い、</tspan></text>
      </g>
    </g>
    <g
       id="g39357">
      <g
         id="g39359"
         clip-path="url(#clipPath39363)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,145.05,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39367"><tspan
             x="0 9"
             y="0"
             sodipodi:role="line"
             id="tspan39365">1 </tspan></text>
      </g>
    </g>
    <g
       id="g39369">
      <g
         id="g39371"
         clip-path="url(#clipPath39375)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,158.05,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39379"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan39377">試合</tspan></text>
      </g>
    </g>
    <g
       id="g39381">
      <g
         id="g39383"
         clip-path="url(#clipPath39387)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,182.08,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39391"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan39389">ごとに</tspan></text>
      </g>
    </g>
    <g
       id="g39393">
      <g
         id="g39395"
         clip-path="url(#clipPath39399)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,218.08,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39403"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan39401">得点</tspan></text>
      </g>
    </g>
    <g
       id="g39405">
      <g
         id="g39407"
         clip-path="url(#clipPath39411)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,242.08,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39415"><tspan
             x="0"
             y="0"
             id="tspan39413">が</tspan></text>
      </g>
    </g>
    <g
       id="g39417">
      <g
         id="g39419"
         clip-path="url(#clipPath39423)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,254.1,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39427"><tspan
             x="0"
             y="0"
             id="tspan39425">入</tspan></text>
      </g>
    </g>
    <g
       id="g39429">
      <g
         id="g39431"
         clip-path="url(#clipPath39435)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,265.9,518.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39439"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan39437">ります。</tspan></text>
      </g>
    </g>
    <path
       d="m 270.1,472.52 h 96.025 v 15.6 H 270.1 Z"
       style="fill:#00ffff;fill-opacity:1;fill-rule:evenodd;stroke:none"
       id="path39481" />
    <g
       id="g39483">
      <g
         id="g39485"
         clip-path="url(#clipPath39489)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39493"><tspan
             x="0"
             y="0"
             id="tspan39491">※</tspan></text>
      </g>
    </g>
    <g
       id="g39495">
      <g
         id="g39497"
         clip-path="url(#clipPath39501)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,66.025,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39505"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan39503">該当時間</tspan></text>
      </g>
    </g>
    <g
       id="g39507">
      <g
         id="g39509"
         clip-path="url(#clipPath39513)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,114.05,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39517"><tspan
             x="0 12 24 36 48 60 72 84 96 108"
             y="0"
             sodipodi:role="line"
             id="tspan39515">になってもそろわない</tspan></text>
      </g>
    </g>
    <g
       id="g39519">
      <g
         id="g39521"
         clip-path="url(#clipPath39525)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,234.08,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39529"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan39527">場合、</tspan></text>
      </g>
    </g>
    <g
       id="g39531">
      <g
         id="g39533"
         clip-path="url(#clipPath39537)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,270.1,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39541"><tspan
             x="0"
             y="0"
             id="tspan39539">同</tspan></text>
      </g>
    </g>
    <g
       id="g39543">
      <g
         id="g39545"
         clip-path="url(#clipPath39549)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,282.1,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39553"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan39551">クラス</tspan></text>
      </g>
    </g>
    <g
       id="g39555">
      <g
         id="g39557"
         clip-path="url(#clipPath39561)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,318.13,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39565"><tspan
             x="0"
             y="0"
             id="tspan39563">内</tspan></text>
      </g>
    </g>
    <g
       id="g39567">
      <g
         id="g39569"
         clip-path="url(#clipPath39573)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,330.13,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39577"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan39575">でのみ</tspan></text>
      </g>
    </g>
    <g
       id="g39579">
      <g
         id="g39581"
         clip-path="url(#clipPath39585)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,366.13,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39589"><tspan
             x="0 12 24 36"
             y="0"
             sodipodi:role="line"
             id="tspan39587">選手交代</tspan></text>
      </g>
    </g>
    <g
       id="g39591">
      <g
         id="g39593"
         clip-path="url(#clipPath39597)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,414.15,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39601"><tspan
             x="0"
             y="0"
             id="tspan39599">を</tspan></text>
      </g>
    </g>
    <g
       id="g39603">
      <g
         id="g39605"
         clip-path="url(#clipPath39609)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,426.15,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39613"><tspan
             x="0"
             y="0"
             id="tspan39611">認</tspan></text>
      </g>
    </g>
    <g
       id="g39615">
      <g
         id="g39617"
         clip-path="url(#clipPath39621)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,438.15,475.93)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39625"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan39623">める。</tspan></text>
      </g>
    </g>
    <g
       id="g39667">
      <g
         id="g39669"
         clip-path="url(#clipPath39673)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,54.025,432.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39677"><tspan
             x="0"
             y="0"
             id="tspan39675">・</tspan></text>
      </g>
    </g>
    <g
       id="g39687">
      <g
         id="g39689"
         clip-path="url(#clipPath39693)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,72.025,432.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39697"><tspan
             x="0 12 24"
             y="0"
             sodipodi:role="line"
             id="tspan39695">１年生</tspan></text>
      </g>
    </g>
    <g
       id="g39699">
      <g
         id="g39701"
         clip-path="url(#clipPath39705)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,108.05,432.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39709"><tspan
             x="0"
             y="0"
             id="tspan39707">は</tspan></text>
      </g>
    </g>
    <g
       id="g39711">
      <g
         id="g39713"
         clip-path="url(#clipPath39717)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,118.25,432.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39721"><tspan
             x="0 8.1999998 16.4"
             y="0"
             sodipodi:role="line"
             id="tspan39719">クラス</tspan></text>
      </g>
    </g>
    <g
       id="g39723">
      <g
         id="g39725"
         clip-path="url(#clipPath39729)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,143.85,432.3)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39733"><tspan
             x="0 9 17.988001 28.584 38.172001 48.768002"
             y="0"
             sodipodi:role="line"
             id="tspan39731">をそれぞれ、</tspan></text>
      </g>
    </g>
    <g
       id="g39743">
      <g
         id="g39745"
         clip-path="url(#clipPath39749)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,78.025,408.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:Wingdings;-inkscape-font-specification:Wingdings-Regular;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39753"><tspan
             x="0"
             y="0"
             id="tspan39751">➢</tspan></text>
      </g>
    </g>
    <g
       id="g39763">
      <g
         id="g39765"
         clip-path="url(#clipPath39769)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,100.02,408.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39773"><tspan
             x="0"
             y="0"
             id="tspan39771">1</tspan></text>
      </g>
    </g>
    <g
       id="g39775">
      <g
         id="g39777"
         clip-path="url(#clipPath39781)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,107.45,408.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39785"><tspan
             x="0"
             y="0"
             id="tspan39783">-</tspan></text>
      </g>
    </g>
    <g
       id="g39787">
      <g
         id="g39789"
         clip-path="url(#clipPath39793)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,112.65,408.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39797"><tspan
             x="0 7.4039998"
             y="0"
             sodipodi:role="line"
             id="tspan39795">1 </tspan></text>
      </g>
    </g>
    <g
       id="g39799">
      <g
         id="g39801"
         clip-path="url(#clipPath39805)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,128.25,408.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39809"><tspan
             x="0"
             y="0"
             id="tspan39807">1</tspan></text>
      </g>
    </g>
    <g
       id="g39811">
      <g
         id="g39813"
         clip-path="url(#clipPath39817)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,135.65,408.9)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39821"><tspan
             x="0"
             y="0"
             id="tspan39819">m</tspan></text>
      </g>
    </g>
    <g
       id="g39831">
      <g
         id="g39833"
         clip-path="url(#clipPath39837)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,78.025,385.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:Wingdings;-inkscape-font-specification:Wingdings-Regular;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39841"><tspan
             x="0"
             y="0"
             id="tspan39839">➢</tspan></text>
      </g>
    </g>
    <g
       id="g39851">
      <g
         id="g39853"
         clip-path="url(#clipPath39857)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,100.02,385.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39861"><tspan
             x="0"
             y="0"
             id="tspan39859">1</tspan></text>
      </g>
    </g>
    <g
       id="g39863">
      <g
         id="g39865"
         clip-path="url(#clipPath39869)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,107.45,385.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39873"><tspan
             x="0"
             y="0"
             id="tspan39871">-</tspan></text>
      </g>
    </g>
    <g
       id="g39875">
      <g
         id="g39877"
         clip-path="url(#clipPath39881)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,112.65,385.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39885"><tspan
             x="0 7.4039998"
             y="0"
             sodipodi:role="line"
             id="tspan39883">2 </tspan></text>
      </g>
    </g>
    <g
       id="g39887">
      <g
         id="g39889"
         clip-path="url(#clipPath39893)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,128.25,385.5)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39897"><tspan
             x="0 7.4000001"
             y="0"
             sodipodi:role="line"
             id="tspan39895">1e</tspan></text>
      </g>
    </g>
    <g
       id="g39907">
      <g
         id="g39909"
         clip-path="url(#clipPath39913)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,78.025,362.1)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:Wingdings;-inkscape-font-specification:Wingdings-Regular;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39917"><tspan
             x="0"
             y="0"
             id="tspan39915">➢</tspan></text>
      </g>
    </g>
    <g
       id="g39927">
      <g
         id="g39929"
         clip-path="url(#clipPath39933)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,100.02,362.1)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39937"><tspan
             x="0"
             y="0"
             id="tspan39935">1</tspan></text>
      </g>
    </g>
    <g
       id="g39939">
      <g
         id="g39941"
         clip-path="url(#clipPath39945)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,107.45,362.1)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39949"><tspan
             x="0"
             y="0"
             id="tspan39947">-</tspan></text>
      </g>
    </g>
    <g
       id="g39951">
      <g
         id="g39953"
         clip-path="url(#clipPath39957)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,112.65,362.1)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39961"><tspan
             x="0 7.4039998"
             y="0"
             sodipodi:role="line"
             id="tspan39959">3 </tspan></text>
      </g>
    </g>
    <g
       id="g39963">
      <g
         id="g39965"
         clip-path="url(#clipPath39969)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,128.25,362.1)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39973"><tspan
             x="0 7.4000001"
             y="0"
             sodipodi:role="line"
             id="tspan39971">1c</tspan></text>
      </g>
    </g>
    <g
       id="g39983">
      <g
         id="g39985"
         clip-path="url(#clipPath39989)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,78.025,338.7)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:Wingdings;-inkscape-font-specification:Wingdings-Regular;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text39993"><tspan
             x="0"
             y="0"
             id="tspan39991">➢</tspan></text>
      </g>
    </g>
    <g
       id="g40003">
      <g
         id="g40005"
         clip-path="url(#clipPath40009)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,100.02,338.7)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text40013"><tspan
             x="0"
             y="0"
             id="tspan40011">1</tspan></text>
      </g>
    </g>
    <g
       id="g40015">
      <g
         id="g40017"
         clip-path="url(#clipPath40021)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,107.45,338.7)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text40025"><tspan
             x="0"
             y="0"
             id="tspan40023">-</tspan></text>
      </g>
    </g>
    <g
       id="g40027">
      <g
         id="g40029"
         clip-path="url(#clipPath40033)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,112.65,338.7)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text40037"><tspan
             x="0 7.4039998"
             y="0"
             sodipodi:role="line"
             id="tspan40035">4 </tspan></text>
      </g>
    </g>
    <g
       id="g40039">
      <g
         id="g40041"
         clip-path="url(#clipPath40045)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,128.25,338.7)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text40049"><tspan
             x="0 7.4000001"
             y="0"
             sodipodi:role="line"
             id="tspan40047">1a</tspan></text>
      </g>
    </g>
    <g
       id="g40059">
      <g
         id="g40061"
         clip-path="url(#clipPath40065)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,100.02,315.27)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text40069"><tspan
             x="0 7.5840001 16.188 25.608"
             y="0"
             sodipodi:role="line"
             id="tspan40067">として、</tspan></text>
      </g>
    </g>
    <g
       id="g40071">
      <g
         id="g40073"
         clip-path="url(#clipPath40077)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,133.65,315.27)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text40081"><tspan
             x="0 7.0320001 15.996"
             y="0"
             sodipodi:role="line"
             id="tspan40079">リレー</tspan></text>
      </g>
    </g>
    <g
       id="g40083">
      <g
         id="g40085"
         clip-path="url(#clipPath40089)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,159.45,315.27)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text40093"><tspan
             x="0"
             y="0"
             id="tspan40091">に</tspan></text>
      </g>
    </g>
    <g
       id="g40095">
      <g
         id="g40097"
         clip-path="url(#clipPath40101)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,168.85,315.27)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text40105"><tspan
             x="0 12"
             y="0"
             sodipodi:role="line"
             id="tspan40103">出場</tspan></text>
      </g>
    </g>
    <g
       id="g40107">
      <g
         id="g40109"
         clip-path="url(#clipPath40113)">
        <text
           xml:space="preserve"
           transform="matrix(1,0,0,-1,192.88,315.27)"
           style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
           id="text40117"><tspan
             x="0 10.176 19.392"
             y="0"
             sodipodi:role="line"
             id="tspan40115">する。</tspan></text>
      </g>
    </g>
  </g>
</svg>
</div>

<style>
  .pdf {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-primary-orange-300);
    background-color: var(--color-white);
    margin-bottom: 10px;
  }
  .embedPdf {
    width: 100%;
    aspect-ratio: 1/1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
</style>
