<div class="embedPdf">
  <svg
    class="pdf"
    version="1.1"
    id="svg9"
    width="793.33301"
    height="1122.6667"
    viewBox="0 0 793.333 1122.6667"
  >
    <defs id="defs13">
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36801">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36799"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36845">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36843"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36881">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36879"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36893">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36891"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36905">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36903"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36917">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36915"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36929">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36927"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36941">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36939"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36953">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36951"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36965">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36963"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36977">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36975"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath36989">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36987"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37001">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path36999"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37013">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37011"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37025">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37023"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37037">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37035"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37049">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37047"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37061">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37059"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37073">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37071"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37085">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37083"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37105">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37103"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37117">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37115"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37129">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37127"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37141">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37139"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37153">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37151"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37165">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37163"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37177">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37175"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37189">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37187"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37201">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37199"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37213">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37211"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37225">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37223"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37237">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37235"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37257">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37255"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37269">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37267"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37281">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37279"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37293">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37291"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37305">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37303"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37317">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37315"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37329">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37327"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37349">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37347"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37361">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37359"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37373">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37371"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37385">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37383"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37397">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37395"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37409">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37407"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37421">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37419"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37433">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37431"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37445">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37443"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37457">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37455"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37469">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37467"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37481">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37479"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37493">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37491"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37513">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37511"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37525">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37523"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37537">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37535"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37549">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37547"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37561">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37559"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37597">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37595"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37609">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37607"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37621">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37619"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37633">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37631"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37645">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37643"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37657">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37655"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37669">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37667"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37681">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37679"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37693">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37691"></path>
      </clipPath>
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath37705">
        <path
          d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
          clip-rule="evenodd"
          id="path37703"></path>
      </clipPath>
    </defs>
    <sodipodi:namedview
      id="namedview11"
      pagecolor="#ffffff"
      bordercolor="#000000"
      borderopacity="0.25"
      inkscape:showpageshadow="2"
      inkscape:pageopacity="0.0"
      inkscape:pagecheckerboard="0"
      inkscape:deskcolor="#d1d1d1"
      showgrid="false"
      inkscape:zoom="0.1269139"
      inkscape:cx="3849.0663"
      inkscape:cy="307.29496"
      inkscape:window-width="1920"
      inkscape:window-height="1009"
      inkscape:window-x="-8"
      inkscape:window-y="-8"
      inkscape:window-maximized="1"
      inkscape:current-layer="g449"></sodipodi:namedview>
    <g
      id="g36793"
      transform="matrix(1.3333333,0,0,-1.3333333,-4.5954243e-5,1122.6667)"
    >
      <g id="g36795">
        <g id="g36797" clip-path="url(#clipPath36801)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,291.5,72.425)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'MS Gothic';-inkscape-font-specification:MS-PGothic;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36805"><tspan x="0 6" y="0" id="tspan36803">16</tspan></text
          >
        </g>
      </g>
      <g id="g36839">
        <g id="g36841" clip-path="url(#clipPath36845)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,273.3,746.78)"
            style="font-variant:normal;font-weight:normal;font-size:20px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36849"
            ><tspan x="0 20 40" y="0" id="tspan36847">ハンデ</tspan></text
          >
        </g>
      </g>
      <g id="g36875">
        <g id="g36877" clip-path="url(#clipPath36881)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,77.225,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36885"><tspan x="0" y="0" id="tspan36883">○</tspan></text
          >
        </g>
      </g>
      <g id="g36887">
        <g id="g36889" clip-path="url(#clipPath36893)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,89.225,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36897"
            ><tspan x="0 12 24" y="0" id="tspan36895">経験者</tspan></text
          >
        </g>
      </g>
      <g id="g36899">
        <g id="g36901" clip-path="url(#clipPath36905)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,125.25,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36909"
            ><tspan x="0 12 24 36" y="0" id="tspan36907">ハンデ：</tspan></text
          >
        </g>
      </g>
      <g id="g36911">
        <g id="g36913" clip-path="url(#clipPath36917)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,173.25,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36921"><tspan x="0" y="0" id="tspan36919">・</tspan></text
          >
        </g>
      </g>
      <g id="g36923">
        <g id="g36925" clip-path="url(#clipPath36929)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,185.27,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36933"
            ><tspan x="0 12" y="0" id="tspan36931">男女</tspan></text
          >
        </g>
      </g>
      <g id="g36935">
        <g id="g36937" clip-path="url(#clipPath36941)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,209.27,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36945"
            ><tspan x="0 12 24" y="0" id="tspan36943">ともに</tspan></text
          >
        </g>
      </g>
      <g id="g36947">
        <g id="g36949" clip-path="url(#clipPath36953)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,245.27,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36957"
            ><tspan x="0 12 24" y="0" id="tspan36955">小学生</tspan></text
          >
        </g>
      </g>
      <g id="g36959">
        <g id="g36961" clip-path="url(#clipPath36965)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,281.3,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36969"><tspan x="0" y="0" id="tspan36967">～</tspan></text
          >
        </g>
      </g>
      <g id="g36971">
        <g id="g36973" clip-path="url(#clipPath36977)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,293.3,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36981"
            ><tspan x="0 12" y="0" id="tspan36979">現在</tspan></text
          >
        </g>
      </g>
      <g id="g36983">
        <g id="g36985" clip-path="url(#clipPath36989)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,317.33,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text36993"
            ><tspan x="0 12 24 36 48" y="0" id="tspan36991">にかけて、</tspan
            ></text
          >
        </g>
      </g>
      <g id="g36995">
        <g id="g36997" clip-path="url(#clipPath37001)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,377.32,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37005"
            ><tspan x="0 12 24 36" y="0" id="tspan37003">サッカー</tspan></text
          >
        </g>
      </g>
      <g id="g37007">
        <g id="g37009" clip-path="url(#clipPath37013)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,425.35,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37017"><tspan x="0" y="0" id="tspan37015">の</tspan></text
          >
        </g>
      </g>
      <g id="g37019">
        <g id="g37021" clip-path="url(#clipPath37025)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,437.35,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37029"
            ><tspan x="0 12 24" y="0" id="tspan37027">部活動</tspan></text
          >
        </g>
      </g>
      <g id="g37031">
        <g id="g37033" clip-path="url(#clipPath37037)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,473.38,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37041"
            ><tspan x="0 12 24 36" y="0" id="tspan37039">もしくは</tspan></text
          >
        </g>
      </g>
      <g id="g37043">
        <g id="g37045" clip-path="url(#clipPath37049)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,521.38,724.17)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37053"
            ><tspan x="0 12" y="0" id="tspan37051">クラ</tspan></text
          >
        </g>
      </g>
      <g id="g37055">
        <g id="g37057" clip-path="url(#clipPath37061)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,77.825,707.38)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37065"
            ><tspan x="0 12 24 36" y="0" id="tspan37063">ブチーム</tspan></text
          >
        </g>
      </g>
      <g id="g37067">
        <g id="g37069" clip-path="url(#clipPath37073)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,125.85,707.38)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37077"><tspan x="0" y="0" id="tspan37075">に</tspan></text
          >
        </g>
      </g>
      <g id="g37079">
        <g id="g37081" clip-path="url(#clipPath37085)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,137.85,707.38)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37089"
            ><tspan x="0 12 24 36" y="0" id="tspan37087">三年以上</tspan></text
          >
        </g>
      </g>
      <g id="g37099">
        <g id="g37101" clip-path="url(#clipPath37105)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,189.88,707.38)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37109"
            ><tspan x="0 12" y="0" id="tspan37107">所属</tspan></text
          >
        </g>
      </g>
      <g id="g37111">
        <g id="g37113" clip-path="url(#clipPath37117)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,213.88,707.38)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37121"
            ><tspan x="0 12 24 36 48 60 72 84 96" y="0" id="tspan37119"
              >していたことのある</tspan
            ></text
          >
        </g>
      </g>
      <g id="g37123">
        <g id="g37125" clip-path="url(#clipPath37129)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,321.92,707.38)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37133"
            ><tspan x="0 12" y="0" id="tspan37131">者。</tspan></text
          >
        </g>
      </g>
      <g id="g37135">
        <g id="g37137" clip-path="url(#clipPath37141)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,345.92,707.38)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37145"
            ><tspan x="0 12 24" y="0" id="tspan37143">また、</tspan></text
          >
        </g>
      </g>
      <g id="g37147">
        <g id="g37149" clip-path="url(#clipPath37153)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,381.92,707.38)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37157"
            ><tspan x="0 12 24 36 48 60" y="0" id="tspan37155"
              >現在明石高専</tspan
            ></text
          >
        </g>
      </g>
      <g id="g37159">
        <g id="g37161" clip-path="url(#clipPath37165)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,453.95,707.38)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37169"
            ><tspan x="0 12 24 36" y="0" id="tspan37167">において</tspan></text
          >
        </g>
      </g>
      <g id="g37171">
        <g id="g37173" clip-path="url(#clipPath37177)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,501.98,707.38)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37181"
            ><tspan x="0 12 24 36" y="0" id="tspan37179">サッカー</tspan></text
          >
        </g>
      </g>
      <g id="g37183">
        <g id="g37185" clip-path="url(#clipPath37189)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,77.825,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37193"><tspan x="0" y="0" id="tspan37191">部</tspan></text
          >
        </g>
      </g>
      <g id="g37195">
        <g id="g37197" clip-path="url(#clipPath37201)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,89.825,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37205"><tspan x="0" y="0" id="tspan37203">(</tspan></text
          >
        </g>
      </g>
      <g id="g37207">
        <g id="g37209" clip-path="url(#clipPath37213)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,94.225,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37217"
            ><tspan x="0 12 24 36 48" y="0" id="tspan37215">フットサル</tspan
            ></text
          >
        </g>
      </g>
      <g id="g37219">
        <g id="g37221" clip-path="url(#clipPath37225)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,154.25,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37229"
            ><tspan x="0 12 24" y="0" id="tspan37227">同好会</tspan></text
          >
        </g>
      </g>
      <g id="g37231">
        <g id="g37233" clip-path="url(#clipPath37237)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,190.27,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37241"><tspan x="0" y="0" id="tspan37239">も</tspan></text
          >
        </g>
      </g>
      <g id="g37251">
        <g id="g37253" clip-path="url(#clipPath37257)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,206.28,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37261"><tspan x="0" y="0" id="tspan37259">含</tspan></text
          >
        </g>
      </g>
      <g id="g37263">
        <g id="g37265" clip-path="url(#clipPath37269)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,218.27,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37273"><tspan x="0" y="0" id="tspan37271">む</tspan></text
          >
        </g>
      </g>
      <g id="g37275">
        <g id="g37277" clip-path="url(#clipPath37281)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,230.27,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37285"><tspan x="0" y="0" id="tspan37283">)</tspan></text
          >
        </g>
      </g>
      <g id="g37287">
        <g id="g37289" clip-path="url(#clipPath37293)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,234.68,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37297"><tspan x="0" y="0" id="tspan37295">に</tspan></text
          >
        </g>
      </g>
      <g id="g37299">
        <g id="g37301" clip-path="url(#clipPath37305)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,246.7,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37309"
            ><tspan x="0 12" y="0" id="tspan37307">所属</tspan></text
          >
        </g>
      </g>
      <g id="g37311">
        <g id="g37313" clip-path="url(#clipPath37317)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,270.7,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37321"
            ><tspan x="0 11.796 23.796 35.796001" y="0" id="tspan37319"
              >している</tspan
            ></text
          >
        </g>
      </g>
      <g id="g37323">
        <g id="g37325" clip-path="url(#clipPath37329)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,318.52,690.58)"
            style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37333"
            ><tspan x="0 12" y="0" id="tspan37331">者。</tspan></text
          >
        </g>
      </g>
      <g id="g37343">
        <g id="g37345" clip-path="url(#clipPath37349)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,77.225,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37353"><tspan x="0" y="0" id="tspan37351">※</tspan></text
          >
        </g>
      </g>
      <g id="g37355">
        <g id="g37357" clip-path="url(#clipPath37361)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,91.225,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37365"
            ><tspan x="0 14 28" y="0" id="tspan37363">経験者</tspan></text
          >
        </g>
      </g>
      <g id="g37367">
        <g id="g37369" clip-path="url(#clipPath37373)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,133.25,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37377"><tspan x="0" y="0" id="tspan37375">が</tspan></text
          >
        </g>
      </g>
      <g id="g37379">
        <g id="g37381" clip-path="url(#clipPath37385)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,147.25,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37389"><tspan x="0" y="0" id="tspan37387">４</tspan></text
          >
        </g>
      </g>
      <g id="g37391">
        <g id="g37393" clip-path="url(#clipPath37397)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,161.25,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37401"><tspan x="0" y="0" id="tspan37399">人</tspan></text
          >
        </g>
      </g>
      <g id="g37403">
        <g id="g37405" clip-path="url(#clipPath37409)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,175.25,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37413"><tspan x="0" y="0" id="tspan37411">に</tspan></text
          >
        </g>
      </g>
      <g id="g37415">
        <g id="g37417" clip-path="url(#clipPath37421)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,189.27,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37425"
            ><tspan x="0 14" y="0" id="tspan37423">以上</tspan></text
          >
        </g>
      </g>
      <g id="g37427">
        <g id="g37429" clip-path="url(#clipPath37433)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,217.27,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37437"
            ><tspan x="0 14" y="0" id="tspan37435">いる</tspan></text
          >
        </g>
      </g>
      <g id="g37439">
        <g id="g37441" clip-path="url(#clipPath37445)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,245.27,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37449"
            ><tspan x="0 14" y="0" id="tspan37447">場合</tspan></text
          >
        </g>
      </g>
      <g id="g37451">
        <g id="g37453" clip-path="url(#clipPath37457)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,273.3,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37461"
            ><tspan x="0 14" y="0" id="tspan37459">相手</tspan></text
          >
        </g>
      </g>
      <g id="g37463">
        <g id="g37465" clip-path="url(#clipPath37469)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,301.3,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37473"><tspan x="0" y="0" id="tspan37471">の</tspan></text
          >
        </g>
      </g>
      <g id="g37475">
        <g id="g37477" clip-path="url(#clipPath37481)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,315.3,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37485"
            ><tspan x="0 14 28" y="0" id="tspan37483">チーム</tspan></text
          >
        </g>
      </g>
      <g id="g37487">
        <g id="g37489" clip-path="url(#clipPath37493)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,357.33,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37497"><tspan x="0" y="0" id="tspan37495">に</tspan></text
          >
        </g>
      </g>
      <g id="g37507">
        <g id="g37509" clip-path="url(#clipPath37513)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,375.92,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37517"
            ><tspan x="0 10.4" y="0" id="tspan37515">1</tspan></text
          >
        </g>
      </g>
      <g id="g37519">
        <g id="g37521" clip-path="url(#clipPath37525)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,390.95,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37529"><tspan x="0" y="0" id="tspan37527">点</tspan></text
          >
        </g>
      </g>
      <g id="g37531">
        <g id="g37533" clip-path="url(#clipPath37537)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,404.95,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37541"><tspan x="0" y="0" id="tspan37539">を</tspan></text
          >
        </g>
      </g>
      <g id="g37543">
        <g id="g37545" clip-path="url(#clipPath37549)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,418.95,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37553"><tspan x="0" y="0" id="tspan37551">加</tspan></text
          >
        </g>
      </g>
      <g id="g37555">
        <g id="g37557" clip-path="url(#clipPath37561)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,432.95,666.55)"
            style="font-variant:normal;font-weight:normal;font-size:14px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37565"
            ><tspan x="0 14 28" y="0" id="tspan37563">える。</tspan></text
          >
        </g>
      </g>
      <g id="g37591">
        <g id="g37593" clip-path="url(#clipPath37597)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,77.225,645.55)"
            style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37601"><tspan x="0" y="0" id="tspan37599">※</tspan></text
          >
        </g>
      </g>
      <g id="g37603">
        <g id="g37605" clip-path="url(#clipPath37609)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,87.825,645.55)"
            style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37613"
            ><tspan x="0 10.6" y="0" id="tspan37611">なお</tspan></text
          >
        </g>
      </g>
      <g id="g37615">
        <g id="g37617" clip-path="url(#clipPath37621)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,108.85,645.55)"
            style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37625"
            ><tspan x="0 10.6" y="0" id="tspan37623">両者</tspan></text
          >
        </g>
      </g>
      <g id="g37627">
        <g id="g37629" clip-path="url(#clipPath37633)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,129.85,645.55)"
            style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37637"
            ><tspan x="0 10.6" y="0" id="tspan37635">とも</tspan></text
          >
        </g>
      </g>
      <g id="g37639">
        <g id="g37641" clip-path="url(#clipPath37645)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,150.85,645.55)"
            style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37649"
            ><tspan x="0 10.6 20.9986" y="0" id="tspan37647">ハンデ</tspan
            ></text
          >
        </g>
      </g>
      <g id="g37651">
        <g id="g37653" clip-path="url(#clipPath37657)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,182.47,645.55)"
            style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37661"
            ><tspan x="0 10.3986 20.9986" y="0" id="tspan37659">がつく</tspan
            ></text
          >
        </g>
      </g>
      <g id="g37663">
        <g id="g37665" clip-path="url(#clipPath37669)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,213.88,645.55)"
            style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37673"
            ><tspan x="0 10.6" y="0" id="tspan37671">場合</tspan></text
          >
        </g>
      </g>
      <g id="g37675">
        <g id="g37677" clip-path="url(#clipPath37681)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,234.88,645.55)"
            style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37685"
            ><tspan x="0 10.6" y="0" id="tspan37683">は、</tspan></text
          >
        </g>
      </g>
      <g id="g37687">
        <g id="g37689" clip-path="url(#clipPath37693)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,255.9,645.55)"
            style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37697"
            ><tspan x="0 10.6" y="0" id="tspan37695">相殺</tspan></text
          >
        </g>
      </g>
      <g id="g37699">
        <g id="g37701" clip-path="url(#clipPath37705)">
          <text
            xml:space="preserve"
            transform="matrix(1,0,0,-1,276.9,645.55)"
            style="font-variant:normal;font-weight:normal;font-size:10.6px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
            id="text37709"
            ><tspan x="0 10.6 21.200001" y="0" id="tspan37707">する。</tspan
            ></text
          >
        </g>
      </g>
    </g>
  </svg>
</div>

<style>
  .pdf {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-primary-orange-300);
    background-color: var(--color-white);
    margin-bottom: 10px;
  }
  .embedPdf {
    width: 100%;
    aspect-ratio: 1/1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
</style>
