---
import SubTitle from "../../components/SubTitle.astro";
import DelayNewsItem from "../../components/DelayNewsItem.astro";

const delayValues = [];

fetch('https://sheets.googleapis.com/v4/spreadsheets/1CcYDhpQ0fVs-cLe5Atvh80xaY3PO5J-VyEvwsxxqpIg/values/%E9%81%85%E5%BB%B6%E6%83%85%E5%A0%B1?key=AIzaSyDle92oc8MZGEQaid_EyAwhAWGomGwSz08')
  .then(response => response.json())
  .then(data => {
    let values = data.values;

    for (let i = 1; i < values.length; i++) {
      delayValues.push({
        name: values[i][0],
        updateAt: values[i][2],
        delay: values[i][1],
      });
    }

    console.log(delayValues);
  })
  .catch(error => console.error('Error fetching data:', error));
---

<div class="delayNews">
  <SubTitle title="遅延情報" subTitle="目安程度に。５分前行動厳守！"/>
  <div class="table">
    <div class="tableTitle">
      <div class="name text-12">遅延種目</div>
      <div class="delayValueTitle">
        <div class="updateAt text-10">更新時刻</div>
        <div class="delay text-12">遅延時間</div>
      </div>
    </div>
    {delayValues.length != 0 ? 
    (
    delayValues.map((delayValue, index) => (
      <DelayNewsItem name={delayValue.name} updateAt={delayValue.updateAt} delay={delayValue.delay} isLastContent={index == delayValues.length - 1} />
    ))
    ): (
      <div>{delayValues.length}</div>
    )}
  </div>
</div>

<style>
  .table {
    width: 100%;
    border-radius: 4px;
    border-spacing: 0;
  }
  .tableTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-primary-orange-200);
    border-radius: 4px 4px 0 0;
    color: var(--color-white);
  }
  .name {
    flex: 1;
  }
  .delayValueTitle {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
</style>

<script>
</script>