---
import { Icon } from 'astro-iconify';

import SubTitle from "../../components/SubTitle.astro";
import DelayNewsItem from "../../components/DelayNewsItem.astro";

---

<div class="delayNews" id="contents-delayNews">
  <SubTitle title="遅延情報" subTitle="目安程度に。５分前行動厳守！"/>
  <div class="table">
    <div class="tableTitle">
      <div class="name text-12">遅延種目</div>
      <div class="delayValueTitle">
        <div class="updateAt text-10">更新時刻</div>
        <div class="delay text-12">遅延時間</div>
      </div>
    </div>
    <!-- DelayNewsItem -->
    <div class="tableContent" id="sport00">
        <span class="name text-16">バスケ</span>
        <div class="delayValue">
            <div class="updateAt">
                <Icon name="ion:time-outline" class="timeIcon" />
                <span class="updateAtTime num-10">03:34</span>
            </div>
            <div class="delay text-12">
                <span class="delayTime num-24"><Icon name="line-md:downloading-loop" class="loading" /></span>
                分
            </div>
        </div>
    </div>
    <div class="tableContent" id="sport01">
        <span class="name text-16">卓球</span>
        <div class="delayValue">
            <div class="updateAt">
                <Icon name="ion:time-outline" class="timeIcon" />
                <span class="updateAtTime num-10">03:34</span>
            </div>
            <div class="delay text-12">
                <span class="delayTime num-24"><Icon name="line-md:downloading-loop" class="loading" /></span>
                分
            </div>
        </div>
    </div>
    <div class="tableContent" id="sport02">
        <span class="name text-16">硬式テニス</span>
        <div class="delayValue">
            <div class="updateAt">
                <Icon name="ion:time-outline" class="timeIcon" />
                <span class="updateAtTime num-10">03:34</span>
            </div>
            <div class="delay text-12">
                <span class="delayTime num-24"><Icon name="line-md:downloading-loop" class="loading" /></span>
                分
            </div>
        </div>
    </div>
    <div class="tableContent" id="sport03">
        <span class="name text-16">ソフトボール</span>
        <div class="delayValue">
            <div class="updateAt">
                <Icon name="ion:time-outline" class="timeIcon" />
                <span class="updateAtTime num-10">03:34</span>
            </div>
            <div class="delay text-12">
                <span class="delayTime num-24"><Icon name="line-md:downloading-loop" class="loading" /></span>
                分
            </div>
        </div>
    </div>
    <div class="tableContent" id="sport04">
        <span class="name text-16">サッカー</span>
        <div class="delayValue">
            <div class="updateAt">
                <Icon name="ion:time-outline" class="timeIcon" />
                <span class="updateAtTime num-10">03:34</span>
            </div>
            <div class="delay text-12">
                <span class="delayTime num-24"><Icon name="line-md:downloading-loop" class="loading" /></span>
                分
            </div>
        </div>
    </div>
    <div class="tableContent" id="sport05">
        <span class="name text-16">バドミントン</span>
        <div class="delayValue">
            <div class="updateAt">
                <Icon name="ion:time-outline" class="timeIcon" />
                <span class="updateAtTime num-10">03:34</span>
            </div>
            <div class="delay text-12">
                <span class="delayTime num-24"><Icon name="line-md:downloading-loop" class="loading" /></span>
                分
            </div>
        </div>
    </div>
    <div class="tableContent" id="sport06">
        <span class="name text-16">バレーボール</span>
        <div class="delayValue">
            <div class="updateAt">
                <Icon name="ion:time-outline" class="timeIcon" />
                <span class="updateAtTime num-10">03:34</span>
            </div>
            <div class="delay text-12">
                <span class="delayTime num-24"><Icon name="line-md:downloading-loop" class="loading" /></span>
                分
            </div>
        </div>
    </div>
    <div class="tableContent" id="sport07">
        <span class="name text-16">リレー</span>
        <div class="delayValue">
            <div class="updateAt">
                <Icon name="ion:time-outline" class="timeIcon" />
                <span class="updateAtTime num-10">03:34</span>
            </div>
            <div class="delay text-12">
                <span class="delayTime num-24"><Icon name="line-md:downloading-loop" class="loading" /></span>
                分
            </div>
        </div>
    </div>
    <div class="tableContent" id="sport08">
        <span class="name text-16">綱引き</span>
        <div class="delayValue">
            <div class="updateAt">
                <Icon name="ion:time-outline" class="timeIcon" />
                <span class="updateAtTime num-10">03:34</span>
            </div>
            <div class="delay text-12">
                <span class="delayTime num-24"><Icon name="line-md:downloading-loop" class="loading" /></span>
                分
            </div>
        </div>
    </div>
  </div>
</div>

<style>
  .table {
    width: 100%;
    border-radius: 4px;
    border-spacing: 0;
  }
  .tableTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-primary-orange-200);
    border-radius: 4px 4px 0 0;
    color: var(--color-white);
  }
  .name {
    flex: 1;
  }
  .delayValueTitle {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  /* DelayNewsItem */
  .tableContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-primary-orange-300);
    color: var(--color-black);
  }

  .timeIcon {
    width: 12px;
    height: 12px;
    color: var(--color-black);
  }
  .name {
    flex: 1;
  }
  .updateAt {
    display: flex;
    align-items: center;
  }
  .delayValue {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .delay {
    text-align: right;
    width: fit-content;
    min-width: 45px;
  }
  .delayTime {
    color: var(--color-primary-orange-100);
  }
  #sport08 {
    border-radius: 0 0 4px 4px;
  }
  .loading {
    width: 24px;
    height: 24px;
    color: var(--color-primary-orange-100);
  }
</style>

<script>
  import { getDelayNewsData } from "../../lib/getDelayNewsData";

  async function fetchData() {
  const response = await fetch(
    "https://script.google.com/macros/s/AKfycbzGDVB1KrosnxhTdX-TsP-_TW6w19PQF2UQ8v3OkPIsu5IZzweF031sKcvYoTKzzlyf/exec",
  );
  const fetchData = await response.json();
  return fetchData;
}
  const response = await fetchData();

  const getData = await getDelayNewsData(response[1]);

  // const response = [
  //   {name: "那須家", updateAt: "02:34", delay: "10"},
  //   {name: "井上家", updateAt: "12:34", delay: "11"},
  //   {name: "田神家", updateAt: "22:34", delay: "12"},
  //   {name: "川村家", updateAt: "32:34", delay: "13"},
  //   {name: "酒井家", updateAt: "42:34", delay: "14"},
  //   {name: "井上家", updateAt: "12:34", delay: "11"},
  //   {name: "田神家", updateAt: "22:34", delay: "12"},
  //   {name: "川村家", updateAt: "32:34", delay: "13"},
  //   {name: "酒井家", updateAt: "42:34", delay: "14"},
  // ]

  for(let i=0; i < 9; i++) {
    var nameElement = document.querySelector('#sport0' + i + ' .name');
    var updateAtTimeElement = document.querySelector('#sport0' + i + ' .updateAtTime');
    var delayTimeElement = document.querySelector('#sport0' + i + ' .delayTime');

    nameElement.innerHTML = getData[i].name;
    updateAtTimeElement.innerHTML = getData[i].updateAt;
    delayTimeElement.innerHTML = getData[i].delay;
  }
</script>