---
import SubTitle from "../../components/SubTitle.astro";
import DelayNewsItem from "../../components/DelayNewsItem.astro";
---

<div class="delayNews">
  <SubTitle title="遅延情報" subTitle="５分前行動厳守！"/>
  <div class="table">
    <div class="tableTitle">
      <div class="name text-12">種目</div>
      <div class="delayValue">
        <div class="updateAt text-10">更新時刻</div>
        <div class="delay text-12">遅延時間</div>
      </div>
    </div>
    <DelayNewsItem name="ソフトテニス" updateAt="12:30" delay="10" isLastContent=false />
    <DelayNewsItem name="サッカー" updateAt="11:30" delay="10" isLastContent=false />
    <DelayNewsItem name="野球" updateAt="12:00" delay="10" isLastContent=true />
  </div>
</div>

<style>
  .table {
    width: 100%;
    border-radius: 4px;
    border-spacing: 0;
  }
  .tableTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-primary-orange-200);
    border-radius: 4px 4px 0 0;
    color: var(--color-white);
  }
  .name {
    flex: 1;
  }
  .delayValue {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
</style>