---
import SubTitle from "../../components/SubTitle.astro";
import NewsItem from "../../components/NewsItem.astro";
import { fetchNewsData } from "../../lib/fetchNewsData";

const response = await fetchNewsData();

---

<div class="news" id="contents-news">
    <SubTitle title="お知らせ" />
    <div class="news-container">
        <div id="announcement-container">

                {response.length !== 0 ? 
                    (
                      response.map((NewsValue, index) => (
                        <NewsItem content={NewsValue.content} updateAt={NewsValue.updateAt} />
                      ))
                    ) : (
                        <div class="text-12 text-center">お知らせはありません。</div>
                    )
                }
        </div>
    </div>
</div>

<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.news-container {
    max-height: 240px;
    overflow-y: scroll;
    width: 100%;
    margin: 20px auto;
    padding: 0;
}

#announcement-container {
    display: flex;
    flex-direction: column-reverse;
}
</style>