---
import SubTitle from "../../components/SubTitle.astro";

---

<div class="news">
    <SubTitle title="お知らせ" />
    <div class="container">
    <div id="announcement-container"></div>
</div>
</div>

<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.announcement-item {
    display: flex;
    align-items: center; /* アイテムを中央に揃える */
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.date {
    color: #888;
    font-size: 0.8em;
}

.title {
    margin-left: 30px; /* タイトルと更新日時の間隔を設定 */
}

</style>

<script>

</script>
