---
import SubTitle from "../SubTitle.astro";
---


<div class="map">
  <SubTitle title="会場リスト" />
  <div class="map-container">
        <div class="modal-container">
          <img src="/map_ground.svg" />
        </div>
        <div class="modal-container">
          <img src="/map_tennis.svg" />
        </div>
        <div id="gym12" class="modal-container">
          <img src="/map_gym.svg" />
        </div>
        <div class="modal-container">
          <img src="/map_dojo.svg" />
        </div>
</div>
</div>

<style is:global>
   #allmap {	
	position: relative;
  width: 100%;
  margin: auto;
  display: block;
	z-index: 1;
   }
  
.map-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1em;
}

  .hukidashi svg{
    width: 100%;
    
  }


   .modal-toggle{
	position: absolute;
	margin: 0 !important;
	z-index: 2;
   }
   
  
  #modalU1{
    top: 90px;
    left: 755px;
  }

  #modalT1{
    top: 192px;
    left: 1030px;
  }
  
  #modalG1{
    top: 170px;
    left: 721px;
  }

  #modalB1{
    top:271px;
    left: 670px;
  }

  .modal-toggle{
   border: none;
   background: transparent;
   position: absolute;
  }

  
  .modal {
  display: none;
  position: absolute;
  z-index: 8887;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 1s ease-in-out;
}
.modal-container .img {

    margin-bottom: 15px;
}
.modal-container p {
    margin-bottom: 10px;
}
.modal-content {
    background: #FFF;
    overflow-y: auto;
    padding: 0 10px 25px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 440px;
    animation: show 0.6s linear 0s;
    
}
.modal-top {
    
    position: absolute;
    right: 5px;
    top: 5px;
}
.modal-close {
    color: #4e454a;
    text-decoration: none;
    font-size: 2rem;
    line-height: 1;
    padding: 0 8px;
}
.modal-close:hover, .modal-close:focus {
  text-decoration: none;
  cursor: pointer;
}
.modal-title {
  color: #FFF;
}
@keyframes show{
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}
</style>

<script>
  const modalBtns = document.querySelectorAll(".modal-toggle");
 modalBtns.forEach(function (btn) {
   btn.onclick = function () {
     var modal = btn.getAttribute('data-modal');
     document.getElementById(modal).style.display = "block";
   };
 });
 const closeBtns = document.querySelectorAll(".modal-close");
 closeBtns.forEach(function (btn) {
   btn.onclick = function () {
     var modal = btn.closest('.modal');
     modal.style.display = "none";
   };
 });
 
 window.onclick = function (event) {
   if (event.target.className === "modal") {
     event.target.style.display = "none";
   }
 };
 </script> 