---
import SubTitle from "../../components/SubTitle.astro";
import TimeTableItem from "../../components/TimeTableItem.astro";
import Basket01 from "../timeTableItem/Basket01.astro"
import Basket02 from "../timeTableItem/Basket02.astro"
import Soft01 from "../timeTableItem/Soft01.astro"
import Soft02 from "../timeTableItem/Soft02.astro"
import Soft03 from "../timeTableItem/Soft03.astro"
import Soft04 from "../timeTableItem/Soft04.astro"
import Soccer01 from "../timeTableItem/Soccer01.astro"
import Soccer02 from "../timeTableItem/Soccer02.astro"
import TableTennis01 from "../timeTableItem/TableTennis01.astro"
import TableTennis02 from "../timeTableItem/TableTennis02.astro"
import Tennis01 from "../timeTableItem/Tennis01.astro"
import Tennis02 from "../timeTableItem/Tennis02.astro"
import Tennis03 from "../timeTableItem/Tennis03.astro"
import Badminton from "../timeTableItem/Badminton.astro"
import Valley from "../timeTableItem/Valley.astro"
---

<div class="timeTable">
  <SubTitle title="タイムテーブル" />
</div>
<Basket01 />
<Basket02 />
<Soft01 />
<Soft02 />
<Soccer01 />
<TableTennis01 />
<TableTennis02 />
<Tennis01 />
<Tennis02 />
<Tennis03 />
<Badminton />      <!-- 二日目 -->
<Valley />         <!-- 二日目 -->
<Soft03 />         <!-- 二日目 -->
<Soft04 />         <!-- 二日目 -->
<Soccer02 />       <!-- 二日目 -->
