---
import SubTitle from "../SubTitle.astro";
import TimeTableD1 from "../TimeTableD1.astro";
import TimeTableD2 from "../TimeTableD2.astro";

---

<div class="timeTable">
  <SubTitle title="タイムテーブル" />
  <TimeTableD1 />
  <TimeTableD2 />
</div>