---
import SubTitle from "../../components/SubTitle.astro";
import TimeTableItem from "../../components/TimeTableItem.astro";
import Basket01 from "../timeTableItem/Basket01.astro"
import Basket02 from "../timeTableItem/Basket02.astro"
import Soft01 from "../timeTableItem/Soft01.astro"
import Soft02 from "../timeTableItem/Soft02.astro"
---

<div class="timeTable">
  <SubTitle title="タイムテーブル" />
</div>

<Basket01 />
<Basket02 />
<Soft01 />
<Soft02 />
