---
import SubTitle from "../../components/SubTitle.astro";
import TimeTableItem from "../../components/TimeTableItem.astro";
---

<div class="timeTable">
  <SubTitle title="タイムテーブル" />
</div>

<TimeTableItem />

