---
import SubTitle from "../../components/SubTitle.astro";
import TimeTableItem from "../../components/TimeTableItem.astro";
---

<div class="timeTable">
  <SubTitle title="タイムテーブル" />
</div>

<TimeTableItem />

<style>
  .plus {
    align-items: center;

  }
  .kyogi {
    display: flex;
    flex-direction: column;
  }
  .place {
    display: flex;
    flex-direction: row;
  }
</style>