---
import SubTitle from "../../components/SubTitle.astro";
---

<div class="twitter">
  <SubTitle title="Twitter情報" />
  <div class="se">
  <h1>Twitter</h1>
  <p>~忘れ物情報など~</p>
  </div>
</div>
<style>
  .twitter{
    width: 100%;
    height: auto;

  }
  h1{
    text-align:left;
    
  }
  p{
    
  }
  .se{
    float: left;
    
  }