---
import SubTitle from "../../components/SubTitle.astro";
---


  <SubTitle title="Twitter情報" />
  <div class="twitter">
  
    <span>
      <div class="se">
       <h2 class="title text-20">Twitter</h2>
       <h3 class="subTitle text-12">～忘れ物など~</h3>
      </div>
    </span>

   
    <a class="twitter-timeline" href="https://twitter.com/NitacGakuseikai?ref_src=twsrc%5Etfw">Tweets by NitacGakuseikai</a>
     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
    </script>
  </div>

<style>
 
 .twitter{
    width: 100%;
    height: auto;
    text-align: center;
    margin:0 auto;
  }

.test{
  width:100%;
  position:relative;
  
}
  .se{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  span{
    vertical-align:baseline;
  }

  h3{
    padding-left:10px;
  }
</style>