---
import Svgmap from '/tournaments/soccer.svg?raw'
---

<div class="svg-map">
    <Fragment set:html={Svgmap} />
</div>

<script>
    import { getWinner } from "../../lib/getTornamentWinner";
    const response = await fetch('https://script.google.com/macros/s/AKfycbzGDVB1KrosnxhTdX-TsP-_TW6w19PQF2UQ8v3OkPIsu5IZzweF031sKcvYoTKzzlyf/exec');
    const fetchData = await response.json();
    getWinner("soccer", fetchData[6]);
</script>