<div class="RopeRelay-Container">
    <slot />
</div>

<style>
    .RopeRelay-Container {
        width: 100%;
        height: 100%;
		display: flex;
		justify-content: center;
        position: relative;
        overflow: hidden;
    }

@keyframes fall01 {
    0% {
        opacity: 0;
        top: 0;
        transform: translateX(5px);
        transform: rotate(-180deg);
    }
    10% {
        opacity: var(--opacity-leaves);
        transform: translateX(-5px);
        transform: rotate(-144deg);
    }
    20% {
        transform: translateX(5px);
        transform: rotate(-108deg);
    }
    30% {
        transform: translateX(-5px);
        transform: rotate(-72deg);
    }
    40% {
        transform: translateX(5px);
        transform: rotate(-36deg);
    }
    50% {
        transform: translateX(-5px);
        transform: rotate(0deg);
    }
    60% {
        transform: translateX(5px);
        transform: rotate(36deg);
    }
    70% {
        transform: translateX(-5px);
        transform: rotate(72deg);
    }
    80% {
        transform: translateX(5px);
        transform: rotate(108deg);
    }
    90% {
        opacity: var(--opacity-leaves);
        transform: translateX(-5px);
        transform: rotate(144deg);
    }
    100% {
        opacity: 0;
        top: 100vh;
        transform: translateX(5px);
        transform: rotate(180deg);
    }
}

@keyframes fall02 {
    0% {
        opacity: 0;
        top: 0;
        transform: translateX(5px);
        transform: rotate(180deg);
    }
    10% {
        opacity: var(--opacity-leaves);
        transform: translateX(-5px);
        transform: rotate(144deg);
    }
    20% {
        transform: translateX(5px);
        transform: rotate(108deg);
    }
    30% {
        transform: translateX(-5px);
        transform: rotate(72deg);
    }
    40% {
        transform: translateX(5px);
        transform: rotate(36deg);
    }
    50% {
        transform: translateX(-5px);
        transform: rotate(0deg);
    }
    60% {
        transform: translateX(5px);
        transform: rotate(-36deg);
    }
    70% {
        transform: translateX(-5px);
        transform: rotate(-72deg);
    }
    80% {
        transform: translateX(5px);
        transform: rotate(-108deg);
    }
    90% {
        opacity: var(--opacity-leaves);
        transform: translateX(-5px);
        transform: rotate(-144deg);
    }
    100% {
        opacity: 0;
        top: 100vh;
        transform: translateX(5px);
        transform: rotate(-180deg);
    }
}
</style>

<style is:global>
	/* JSで管理していてmoduleCSSだとバグるので、、 */
    .Rope01 {
        background-image: url(/fallsports/rope-coil_brown.svg); /* TODO */
        background-size: cover;
        background-position: center;
        position: absolute;
        animation: fall01 10s linear;
		z-index: -1;
    }
    .Rope02 {
        background-image: url(/fallsports/rope-coil_green.svg); /* TODO */
        background-size: cover;
        background-position: center;
        position: absolute;
        animation: fall02 11s linear;
		z-index: -1;
    }
    .Rope03 {
        background-image: url(/fallsports/rope-coil_red.svg); /* TODO */
        background-size: cover;
        background-position: center;
        position: absolute;
        animation: fall01 12s linear;
		z-index: -1;
    }
    .Rope04 {
        background-image: url(/fallsports/rope-coil_yellow.svg); /* TODO */
        background-size: cover;
        background-position: center;
        position: absolute;
        animation: fall02 13s linear;
		z-index: -1;
    }
    .Relay01 {
        background-image: url(/fallsports/run_brown.svg); /* TODO */
        background-size: cover;
        background-position: center;
        position: absolute;
        animation: fall02 14s linear;
		z-index: -1;
    }
    .Relay02 {
        background-image: url(/fallsports/run_green.svg); /* TODO */
        background-size: cover;
        background-position: center;
        position: absolute;
        animation: fall02 15s linear;
		z-index: -1;
    }
    .Relay03 {
        background-image: url(/fallsports/run_red.svg); /* TODO */
        background-size: cover;
        background-position: center;
        position: absolute;
        animation: fall02 16s linear;
		z-index: -1;
    }
    .Relay04 {
        background-image: url(/fallsports/run_yellow.svg); /* TODO */
        background-size: cover;
        background-position: center;
        position: absolute;
        animation: fall02 17s linear;
		z-index: -1;
    }
</style>

<script>
    let leafContainer = document.querySelector(".RopeRelay-Container");
    
    const createLeaf01 = () => {
        let leaf = document.createElement("span");
        leaf.className = "Rope01";
    
        let minSize = 20;
        let maxSize = 30;
    
        let leafSize = Math.random() * (maxSize - minSize) + minSize;
        leaf.style.width = leafSize + "px";
        leaf.style.height = leafSize + "px";
        
        leaf.style.left = Math.random() * 100 + "%";

        leafContainer.appendChild(leaf);

        setTimeout(() => {
            leaf.remove();
        }, 10000);
    };
    const createLeaf02 = () => {
        let leaf = document.createElement("span");
        leaf.className = "Rope02";
    
        let minSize = 20;
        let maxSize = 30;
    
        let leafSize = Math.random() * (maxSize - minSize) + minSize;
        leaf.style.width = leafSize + "px";
        leaf.style.height = leafSize + "px";
        
        leaf.style.left = Math.random() * 100 + "%";

        leafContainer.appendChild(leaf);

        setTimeout(() => {
            leaf.remove();
        }, 11000);
    };
    const createLeaf03 = () => {
        let leaf = document.createElement("span");
        leaf.className = "Rope03";
    
        let minSize = 20;
        let maxSize = 30;
    
        let leafSize = Math.random() * (maxSize - minSize) + minSize;
        leaf.style.width = leafSize + "px";
        leaf.style.height = leafSize + "px";
        
        leaf.style.left = Math.random() * 100 + "%";

        leafContainer.appendChild(leaf);

        setTimeout(() => {
            leaf.remove();
        }, 12000);
    };
    const createLeaf04 = () => {
        let leaf = document.createElement("span");
        leaf.className = "Rope04";
    
        let minSize = 20;
        let maxSize = 30;
    
        let leafSize = Math.random() * (maxSize - minSize) + minSize;
        leaf.style.width = leafSize + "px";
        leaf.style.height = leafSize + "px";
        
        leaf.style.left = Math.random() * 100 + "%";

        leafContainer.appendChild(leaf);

        setTimeout(() => {
            leaf.remove();
        }, 13000);
    };    
    const createLeaf05 = () => {
        let leaf = document.createElement("span");
        leaf.className = "Relay01";
    
        let minSize = 20;
        let maxSize = 30;
    
        let leafSize = Math.random() * (maxSize - minSize) + minSize;
        leaf.style.width = leafSize + "px";
        leaf.style.height = leafSize + "px";
        
        leaf.style.left = Math.random() * 100 + "%";

        leafContainer.appendChild(leaf);

        setTimeout(() => {
            leaf.remove();
        }, 14000);
    };
    const createLeaf06 = () => {
        let leaf = document.createElement("span");
        leaf.className = "Relay02";
    
        let minSize = 20;
        let maxSize = 30;
    
        let leafSize = Math.random() * (maxSize - minSize) + minSize;
        leaf.style.width = leafSize + "px";
        leaf.style.height = leafSize + "px";
        
        leaf.style.left = Math.random() * 100 + "%";

        leafContainer.appendChild(leaf);

        setTimeout(() => {
            leaf.remove();
        }, 15000);
    };
    
    const createLeaf07 = () => {
        let leaf = document.createElement("span");
        leaf.className = "Relay03";
    
        let minSize = 20;
        let maxSize = 30;
    
        let leafSize = Math.random() * (maxSize - minSize) + minSize;
        leaf.style.width = leafSize + "px";
        leaf.style.height = leafSize + "px";
        
        leaf.style.left = Math.random() * 100 + "%";

        leafContainer.appendChild(leaf);

        setTimeout(() => {
            leaf.remove();
        }, 16000);
    };
    const createLeaf08 = () => {
        let leaf = document.createElement("span");
        leaf.className = "Relay04";
    
        let minSize = 20;
        let maxSize = 30;
    
        let leafSize = Math.random() * (maxSize - minSize) + minSize;
        leaf.style.width = leafSize + "px";
        leaf.style.height = leafSize + "px";
        
        leaf.style.left = Math.random() * 100 + "%";

        leafContainer.appendChild(leaf);

        setTimeout(() => {
            leaf.remove();
        }, 17000);
    };
    setInterval(createLeaf01, 2000);
    setInterval(createLeaf02, 3000);
    setInterval(createLeaf03, 4000);
    setInterval(createLeaf04, 5000);
    setInterval(createLeaf05, 6000);
    setInterval(createLeaf06, 7000);
    setInterval(createLeaf07, 8000);
    setInterval(createLeaf08, 9000);
</script>

