---
import { Icon } from 'astro-iconify';

interface Props {
 pageName: string;
}

const { pageName } = Astro.props;

---
<div class="menuprohibitscroll">
 <nav class="subete">
  <ul>
   <li><a href="/"><Icon name={pageName==="index" ? "ion:home" : "ion:home-outline"} class="navIcon" /></a></li>
   <li><a href="/results"><Icon name={pageName==="results" ? "ion:trophy" : "ion:trophy-outline"} class="navIcon" /></a></li>
   <li><a href="/map"><Icon name={pageName==="map" ? "ion:map" : "ion:map-outline"} class="navIcon" /></a></li>
   <li class="menuopen"><a href="#"><Icon name="ion:list" class="navIcon" /></a></li>
  </ul>

	</nav>
	<nav class="menu">
		<ul class="menulink contents-link">
			<li id="menuhome"><a class="text-32" href="/">Home</a></li>
			<li><a class="text-20" href="/#contents-delayNews">遅延情報</a></li>
			<li><a class="text-20" href="/#contents-timeTable">タイムテーブル</a></li>
			<li><a class="text-20" href="/#contents-rulebook">ルールブック</a></li>
			<li class="menutwitter"><a class="menutwitter text-20" href="/#contents-twitter">Twitter情報</a></li>
			<li><a class="text-20" href="/map#contents-placeMap">会場マップ</a></li>
			<li><a class="text-20" href="/results#contents-tournament">試合結果</a></li>
		</ul>
    <div class="videowrap">
     <video id="menuVideo" playsinline muted src="/menuanime.mp4"></video>
    </div>
		<ul class="barbottom">
			<li>©WEB製作研究部</li>
		</ul>
		<div class="openbtn">
			<Icon name="ion:close" class="openbtnIcon" />
		</div>
	</nav>
</div>
<style>
 .navIcon {
  width: 24px;
  height: 24px;
  color: var(--color-white);
 }
 nav {
  background-color: var(--color-primary-orange-100);
  z-index: 1;
 }
 li{
  list-style: none;
  
 }
 .subete {
  position: fixed;
  max-width: 800px;
  width: 100%;
  height: 50px;
  bottom: 0px;
  z-index: 9;
 }
 /*メニューを横並びにする*/
 .subete ul{
  display: flex;
  list-style: none;
  padding:0;
  margin:0;
  max-width: 800px;
  width:100%;
 }
 .subete li{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  max-width: 800px;
  width: 25%;
  margin:0;
 }
 .subete a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40%;
  padding-right: 40%;
 }
 .menuprohibitscroll{
  overflow-y: hidden;
  height: 40px;
 }
 .menu a{
  text-decoration: none;
  color: var(--color-white);
 }
 .menu{
  transform: translateY(100dvh);
  transition: all .10s linear;
  z-index: 9;
  max-width: 800px;
  width: 100%;
  height: 100dvh;
  position: fixed;
  align-items: bottom;
 }
 .menulink{
  padding-left: 30px;
  position: relative;
  z-index: 1;
 }
 .menulink li{
  padding-top: 15px;
 }
 #menuhome{
  padding-bottom: 5px;
  padding-top: 30px;
 }
 .menutwitter{
  padding-bottom: 15px;
 }
 .videowrap{
  /* text-align: center; */
  position: absolute;
  left: 5%;
  bottom: 90px;
  z-index: 0;
  width: 90%;
  border-bottom: solid 1px #444;
 }
 video{
  display: block;/*videoタグの下に親要素との隙間ができるのを解消*/
  width: 100%;
 }
 /* アニメーション後のメニューの状態 */
 .menu.is-active{
  z-index: 9;
  position: fixed;
  transform: translateY(calc(-100dvh + 40px));
 }
 .openbtn.is-active{
  display: flex;
  position:fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: 25%;
  height: 50px;
  justify-content: center;
  align-items: center;
 }
 .barbottom{
  display: flex;
  position: absolute;
  padding-left: 30px;
  bottom: 20px;
 }
 .barbottom li{
  color: var(--color-white);
 }
 .openbtn{
  display: none;
 }
 .openbtnIcon {
  width: 24px;
  height: 24px;
  color: var(--color-white);
 }
</style>
<script>
 document.querySelector('.menuopen').addEventListener('click', function(){
  document.querySelector('.menu').classList.toggle('is-active');
  document.querySelector('.openbtn').classList.toggle('is-active');
  document.querySelector('#menuVideo').classList.toggle('is-activeVideo');
  if (document.querySelector('#menuVideo').classList.contains('is-activeVideo')) {
    var video = document.getElementById('menuVideo');
    video.play();
    console.log("play");
  } else {
    var video = document.getElementById('menuVideo');
    video.pause();
    console.log("pause");
     video.currentTime = 0;
  }
 });
 document.querySelector('.openbtn').addEventListener('click', function(){
  document.querySelector('.menu').classList.toggle('is-active');
  document.querySelector('.openbtn').classList.toggle('is-active');
  document.querySelector('#menuVideo').classList.toggle('is-activeVideo');
  if (document.querySelector('#menuVideo').classList.contains('is-activeVideo')) {
    var video = document.getElementById('menuVideo');
    video.play();
    console.log("play");
  } else {
    var video = document.getElementById('menuVideo');
    video.pause();
    console.log("pause");
    video.currentTime = 0;
  }
 });
	document.querySelector('.contents-link').addEventListener('click', function(){
    document.querySelector('.menu').classList.toggle('is-active');
	  document.querySelector('.openbtn').classList.toggle('is-active');
        document.querySelector('#menuVideo').classList.toggle('is-activeVideo');
  if (document.querySelector('#menuVideo').classList.contains('is-activeVideo')) {
            var video = document.getElementById('menuVideo');
            video.play();
   console.log("play");
        } else {
            var video = document.getElementById('menuVideo');
            video.pause();
   console.log("pause");
            video.currentTime = 0;
        }
	});
</script>