---
interface Props {
	pageName: string;
}

const { pageName } = Astro.props;
---
<nav>
	<ul>
		<li><a href="/">H</a>
		<li><a href="/results">R</a>
		<li><a href="/map">M</a>
		<li><a href="#">L</a>
	</ul>
</nav>