---
import { Icon } from 'astro-iconify';

interface Props {
	pageName: string;
}

const { pageName } = Astro.props;

---
<div class="menuprohibitscroll">
	<nav class="subete">
		<ul>
			<li><a href="/"><Icon name={pageName==="index" ? "ion:home" : "ion:home-outline"} class="navIcon" /></a></li>
			<li><a href="/results"><Icon name={pageName==="results" ? "ion:trophy" : "ion:trophy-outline"} class="navIcon" /></a></li>
			<li><a href="/map"><Icon name={pageName==="map" ? "ion:map" : "ion:map-outline"} class="navIcon" /></a></li>
			<li class="menuopen"><a href="#"><Icon name="ion:list" class="navIcon" /></a></li>
		</ul>

	</nav>
	<nav class="menu">
		<ul class="menulink">
			<li id="menuhome"><a id="menuhome2" href="">Home</a></li>
			<li><a href="">遅延情報</a></li>
			<li><a href="">タイムテーブル</a></li>
			<li><a href="">ルールブック</a></li>
			<li class="menutwitter"><a class="menutwitter" href="">Twitter情報</a></li>
			<li><a href="">会場マップ</a></li>
			<li><a href="">試合結果</a></li>
		</ul>
		<ul class="barbottom">
			<li>©WEB製作研究部</li>
		</ul>
		<div class="openbtn">
			<span></span><span></span>
		</div>
	</nav>
</div>
<style>
	.navIcon {
		width: 1.5em;
		height: 1.5em;
		color: var(--color-white);
	}
	nav {
		background-color: var(--color-primary-orange-100);
		z-index: 1;
	}
	li{
		list-style: none;
		
	}
	.subete {
		position: fixed;
		max-width: 800px;
		width: 100%;
		height: 40px;
		bottom: 0px;
		font-size: 0;
		z-index: 9;
	}
	/*メニューを横並びにする*/
	.subete ul{
		display: flex;
		list-style: none;
		padding:0;
		margin:0;
		max-width: 800px;
		width:100%;
	}
	.subete li{
		justify-content: center;
		align-items: center;
		display: flex;
		text-align: center;
		max-width: 800px;
		width: 25%;
		padding-top: 10px;
		padding-bottom: 10px;
		margin:0;
		font-size: 14px;
	}
	.subete a{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.menuprohibitscroll{
		overflow-y: hidden;
		height: 40px;
	}
	.menu a{
		text-decoration: none;
		color: #fff;
		font-size: 20px;
	}
	.menu{
		transform: translateY(100vh);
		transition: all .3s linear;
		z-index: 9;
		max-width: 800px;
		width: 100%;
		height: 100vh;
		position: relative;
	}
	.menulink{
		padding-left: 30px;
	}
	.menulink li{
		padding-top: 15px;
	}
	#menuhome{
		padding-bottom: 5px;
		padding-top: 30px;
	}
	#menuhome2{
		font-size: 32px;
	}
	.menutwitter{
		padding-bottom: 15px;
	}
	/* アニメーション後のメニューの状態 */
	.menu.is-active{
		z-index: 9;
		position: fixed;
		transform: translateY(-95vh);
	}
	.openbtn.is-active{
		display: block;
		position:fixed;
		z-index: 10;
		bottom: 16px;
		right: 30px;
		cursor: pointer;
		width: 40px;
		height: 30px;
	}
	.openbtn.is-active span:nth-of-type(1) {
		top: 8px;
		left: 10px;
		transform: translateY(6px) rotate(-45deg);
		width: 20px;
	}
	/*.openbtn.is-active span:nth-of-type(2) {
		opacity: 0;
	}*/
	.openbtn.is-active span:nth-of-type(2){
		top: 20px;
		left: 10px;
		transform: translateY(-6px) rotate(45deg);
		width: 20px;
	}
	/*ここまで */
	.barbottom{
		display: flex;
		position: absolute;
		padding-left: 30px;
		bottom: 20px;
	}
	.barbottom li{
		color: #fff;
	}
	.openbtn{
		display: none;
	}
	.openbtn span{
		display: inline-block;
		transition: all .4s;
		position: absolute;
		
		height: 2px;
		background-color: #fff;
		border-radius: 2px;
	}
</style>
<script>
	document.querySelector('.menuopen').addEventListener('click', function(){
    document.querySelector('.menu').classList.toggle('is-active');
	document.querySelector('.openbtn').classList.toggle('is-active');
	});
	document.querySelector('.openbtn').addEventListener('click', function(){
    document.querySelector('.menu').classList.toggle('is-active');
	document.querySelector('.openbtn').classList.toggle('is-active');
	});
</script>