---
import { colors } from '../layouts/Layout.astro';

interface Props {
	pageName: string;
}

const { pageName } = Astro.props;
const { white, primaryOrange100 } = colors;

---
<nav>
	<ul>
		<li><a href="/">H</a>
		<li><a href="/results">R</a>
		<li><a href="/map">M</a>
		<li><a href="#">L</a>
	</ul>
</nav>

<style define:vars={{ white, primaryOrange100 }}>
	.navIcon {
		width: 1.5em;
		height: 1.5em;
		color: var(--white);
	}
	nav {
		background-color: var(--primaryOrange100);
	}
</style>