---
interface Props {
	content: string;
    updateAt?: string;
}

const { content, updateAt } = Astro.props;
---

<div class="announcement-item">
    {updateAt && <p class="date num-10">{updateAt}</p>}<!--2023-11-19-->
    <p class="title" class="text-12" set:html={content} /p>
</div>

<style>
.announcement-item {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #FFA114;
    padding: 10px 0;
}

.date {
    white-space: nowrap;
    padding: 10px;
}

.title {
    padding: 10px;
    margin-left: 30px;
    color: var(--color-black);
}

.title a {
    color: var(--color-primary-orange-100);
    text-decoration: none;
}
</style>
