---
const data = Astro.props;
---

<div class="announcement-item">
    <p class="date" class="num-10">2023-11-19</p>
    <p class="title" class="text-12">公開しました</p>
</div>

<style>
.announcement-item {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #FFA114;
    padding: 10px 0;
}

.date {
    font-size: 10px;
    padding: 10px;
}

.title {
    padding: 10px;
    margin-left: 30px;
    font-size: 12px;
}
</style>