---
import Rule01 from "./rulePDF/Rule01.astro"
import Rule02 from "./rulePDF/Rule02.astro"
import Rule03 from "./rulePDF/Rule03.astro"
import Rule04 from "./rulePDF/Rule04.astro"
import Rule05 from "./rulePDF/Rule05.astro"
import Rule06 from "./rulePDF/Rule06.astro"
import Rule07 from "./rulePDF/Rule07.astro"
import Rule08 from "./rulePDF/Rule08.astro"
import Rule09 from "./rulePDF/Rule09.astro"
import Rule10 from "./rulePDF/Rule10.astro"
import Rule11 from "./rulePDF/Rule11.astro"
import Rule12 from "./rulePDF/Rule12.astro"
import Rule13 from "./rulePDF/Rule13.astro"
import Rule14 from "./rulePDF/Rule14.astro"
import Rule15 from "./rulePDF/Rule15.astro"
import Rule16 from "./rulePDF/Rule16.astro"
import Rule17 from "./rulePDF/Rule17.astro"
import Rule18 from "./rulePDF/Rule18.astro"
import Rule19 from "./rulePDF/Rule19.astro"

interface Props {
	name: string;
}

const { name } = Astro.props;
---

{(() => {
    switch (name) {
      case 'all':
        return (
            <Rule01 />
            <Rule02 />
            <Rule03 />
            <Rule04 />
            <Rule05 />
            <Rule06 />
            <Rule07 />
            <Rule08 />
            <Rule09 />
            <Rule10 />
            <Rule11 />
            <Rule12 />
            <Rule13 />
            <Rule14 />
            <Rule15 />
            <Rule16 />
            <Rule17 />
            <Rule18 />
            <Rule19 />
        );
      case 'basketball':
        return (
            <Rule04 />
            <Rule05 />
        );
      case 'badminton':
        return (
            <Rule06 />
            <Rule07 />
        );
      case 'volleyball':
        return (
            <Rule08 />
        );
      case 'tableTennis':
        return (
            <Rule09 />
            <Rule10 />
        );
      case 'tennis':
        return (
            <Rule11 />
            <Rule12 />
        );
      case 'softball':
        return (
            <Rule13 />
            <Rule14 />
        );
      case 'soccer':
        return (
            <Rule15 />
            <Rule16 />
        );
      case 'relay':
        return (
            <Rule17 />
        );
      case 'rope':
        return (
            <Rule18 />
        );
      default:
        return (
            <div class="loading">
              <p class="text-24">調整中</p>  
            </div>
        );
    }
  })()}

<style>
  .loading {
    width: 100%;
    aspect-ratio: 1/1.4;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary-orange-100);
  }
</style>