---
import { Icon } from "astro-iconify"

interface Props {
	title: string;
    subTitle?: string;
    sportIcon?: string;
}

const { title, subTitle, sportIcon } = Astro.props;
---
<div class="titleContainer">
    <h2 class="title text-16">{title}</h2>
</div>

<style>
    .titleContainer {
        display: flex;
        justify-content: start;
        column-gap: 15px;
        margin-top: 12px;
        margin-bottom: 8px;
    }
    .sportIcon {
        width: 24px;
        height: 24px;
        color: var(--color-primary-orange-100);       
    }
    .subTitle {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
</style>