---
interface Props {
	title: string;
    subTitle?: string;
}

const { title, subTitle } = Astro.props;
---
<h2 class="title">{title}</h2>
{subTitle && <h3 class="subTitle">～{subTitle}～</h3>}