<div class="plus">
    <div class="kyogi">
    <div class="name">
        <li>ソフトボール</li>
    </div>
    <div class="place">
        <img src="">
        <p>テニスコート前</p>
    </div>
    </div>  
    <div class="">
    </div>
</div>