<header class="title">
<h1 class="text-24">
    スポーツ大会2023
</h1>
<img src="ion_search.svg">
</header>

<style>
    .title {
        background-color: var(--color-primary-orange-100);
        color: var(--color-white);
        display: flex;
        line-height: 34.75px;
        justify-content: space-between;
    }
    h1{
        width: 190px;
        height: 35px;
        margin: 10px 0px 10px 20px;
    }
    img{
        display: inline-block;
        position: relative;
        margin: auto 20px auto auto;
        padding: 2.25px 2.29px 2.29px 2.25px;
        width: 24px;
        height: 24px;
    }
</style>