<div class="embedPdf">
   <svg
      class="pdf"
      version="1.1"
      id="svg9"
      width="793.3335"
      height="1122.6667"
      viewBox="0 0 793.33349 1122.6667">
     <defs
        id="defs13">
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23541">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23539" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23585">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23583" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23613">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23611" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23625">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23623" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23637">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23635" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23649">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23647" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23661">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23659" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23673">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23671" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23685">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23683" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23697">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23695" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23709">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23707" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23721">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23719" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23733">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23731" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23745">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23743" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23757">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23755" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23769">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23767" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23781">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23779" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23793">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23791" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23805">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23803" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23825">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23823" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23837">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23835" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23849">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23847" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23861">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23859" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23873">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23871" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23885">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23883" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23897">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23895" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23909">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23907" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23921">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23919" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23933">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23931" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23945">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23943" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23981">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23979" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath23993">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path23991" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath24005">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path24003" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath24017">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path24015" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath24029">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path24027" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath24041">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path24039" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath24053">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path24051" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath24065">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path24063" />
       </clipPath>
       <clipPath
          clipPathUnits="userSpaceOnUse"
          id="clipPath24077">
         <path
            d="M 8.866e-6,0 H 595.00001 V 842 H 8.866e-6 Z"
            clip-rule="evenodd"
            id="path24075" />
       </clipPath>
     </defs>
     <sodipodi:namedview
        id="namedview11"
        pagecolor="#ffffff"
        bordercolor="#000000"
        borderopacity="0.25"
        inkscape:showpageshadow="2"
        inkscape:pageopacity="0.0"
        inkscape:pagecheckerboard="0"
        inkscape:deskcolor="#d1d1d1"
        showgrid="false"
        inkscape:zoom="0.1269139"
        inkscape:cx="3849.0663"
        inkscape:cy="307.29496"
        inkscape:window-width="1920"
        inkscape:window-height="1009"
        inkscape:window-x="-8"
        inkscape:window-y="-8"
        inkscape:window-maximized="1"
        inkscape:current-layer="g449" />
     <g
        id="g23533"
        transform="matrix(1.3333333,0,0,-1.3333333,-2.7572545e-5,1122.6667)">
       <g
          id="g23535">
         <g
            id="g23537"
            clip-path="url(#clipPath23541)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,291.5,72.425)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'MS Gothic';-inkscape-font-specification:MS-PGothic;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23545"><tspan
                x="0 6"
                y="0"
                
                id="tspan23543">10</tspan></text>
         </g>
       </g>
       <g
          id="g23579">
         <g
            id="g23581"
            clip-path="url(#clipPath23585)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,267.7,746.78)"
              style="font-variant:normal;font-weight:normal;font-size:20px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23589"><tspan
                x="0 20 40"
                y="0"
                
                id="tspan23587">ハンデ</tspan></text>
         </g>
       </g>
       <g
          id="g23607">
         <g
            id="g23609"
            clip-path="url(#clipPath23613)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,77.225,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23617"><tspan
                x="0"
                y="0"
                id="tspan23615">○</tspan></text>
         </g>
       </g>
       <g
          id="g23619">
         <g
            id="g23621"
            clip-path="url(#clipPath23625)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,89.225,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23629"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan23627">経験者</tspan></text>
         </g>
       </g>
       <g
          id="g23631">
         <g
            id="g23633"
            clip-path="url(#clipPath23637)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,125.25,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23641"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan23639">ハンデ：</tspan></text>
         </g>
       </g>
       <g
          id="g23643">
         <g
            id="g23645"
            clip-path="url(#clipPath23649)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,173.25,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23653"><tspan
                x="0 12"
                y="0"
                
                id="tspan23651">男女</tspan></text>
         </g>
       </g>
       <g
          id="g23655">
         <g
            id="g23657"
            clip-path="url(#clipPath23661)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,197.28,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23665"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan23663">ともに</tspan></text>
         </g>
       </g>
       <g
          id="g23667">
         <g
            id="g23669"
            clip-path="url(#clipPath23673)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,233.28,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23677"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan23675">小学生</tspan></text>
         </g>
       </g>
       <g
          id="g23679">
         <g
            id="g23681"
            clip-path="url(#clipPath23685)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,269.3,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23689"><tspan
                x="0"
                y="0"
                id="tspan23687">～</tspan></text>
         </g>
       </g>
       <g
          id="g23691">
         <g
            id="g23693"
            clip-path="url(#clipPath23697)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,281.3,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23701"><tspan
                x="0 12"
                y="0"
                
                id="tspan23699">現在</tspan></text>
         </g>
       </g>
       <g
          id="g23703">
         <g
            id="g23705"
            clip-path="url(#clipPath23709)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,305.3,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23713"><tspan
                x="0 12 24 36 48"
                y="0"
                
                id="tspan23711">にかけて、</tspan></text>
         </g>
       </g>
       <g
          id="g23715">
         <g
            id="g23717"
            clip-path="url(#clipPath23721)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,365.33,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23725"><tspan
                x="0 12"
                y="0"
                
                id="tspan23723">卓球</tspan></text>
         </g>
       </g>
       <g
          id="g23727">
         <g
            id="g23729"
            clip-path="url(#clipPath23733)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,389.35,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23737"><tspan
                x="0"
                y="0"
                id="tspan23735">の</tspan></text>
         </g>
       </g>
       <g
          id="g23739">
         <g
            id="g23741"
            clip-path="url(#clipPath23745)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,401.35,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23749"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan23747">部活動</tspan></text>
         </g>
       </g>
       <g
          id="g23751">
         <g
            id="g23753"
            clip-path="url(#clipPath23757)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,437.35,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23761"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan23759">もしくは</tspan></text>
         </g>
       </g>
       <g
          id="g23763">
         <g
            id="g23765"
            clip-path="url(#clipPath23769)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,485.38,724.17)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23773"><tspan
                x="0 12 24 36 48"
                y="0"
                
                id="tspan23771">クラブチー</tspan></text>
         </g>
       </g>
       <g
          id="g23775">
         <g
            id="g23777"
            clip-path="url(#clipPath23781)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,77.825,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23785"><tspan
                x="0"
                y="0"
                id="tspan23783">ム</tspan></text>
         </g>
       </g>
       <g
          id="g23787">
         <g
            id="g23789"
            clip-path="url(#clipPath23793)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,89.825,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23797"><tspan
                x="0"
                y="0"
                id="tspan23795">に</tspan></text>
         </g>
       </g>
       <g
          id="g23799">
         <g
            id="g23801"
            clip-path="url(#clipPath23805)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,101.82,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23809"><tspan
                x="0 12 24 36 48 60"
                y="0"
                
                id="tspan23807">三年以上所属</tspan></text>
         </g>
       </g>
       <g
          id="g23819">
         <g
            id="g23821"
            clip-path="url(#clipPath23825)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,177.88,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23829"><tspan
                x="0 12 24 36 48 60 72 84 96"
                y="0"
                
                id="tspan23827">していたことのある</tspan></text>
         </g>
       </g>
       <g
          id="g23831">
         <g
            id="g23833"
            clip-path="url(#clipPath23837)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,285.9,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23841"><tspan
                x="0 12"
                y="0"
                
                id="tspan23839">者。</tspan></text>
         </g>
       </g>
       <g
          id="g23843">
         <g
            id="g23845"
            clip-path="url(#clipPath23849)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,309.9,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23853"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan23851">また、</tspan></text>
         </g>
       </g>
       <g
          id="g23855">
         <g
            id="g23857"
            clip-path="url(#clipPath23861)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,345.92,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23865"><tspan
                x="0 12 24 36 48 60"
                y="0"
                
                id="tspan23863">現在明石高専</tspan></text>
         </g>
       </g>
       <g
          id="g23867">
         <g
            id="g23869"
            clip-path="url(#clipPath23873)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,417.95,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23877"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan23875">において</tspan></text>
         </g>
       </g>
       <g
          id="g23879">
         <g
            id="g23881"
            clip-path="url(#clipPath23885)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,465.98,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23889"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan23887">卓球部</tspan></text>
         </g>
       </g>
       <g
          id="g23891">
         <g
            id="g23893"
            clip-path="url(#clipPath23897)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,501.98,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23901"><tspan
                x="0"
                y="0"
                id="tspan23899">に</tspan></text>
         </g>
       </g>
       <g
          id="g23903">
         <g
            id="g23905"
            clip-path="url(#clipPath23909)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,513.97,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23913"><tspan
                x="0 12"
                y="0"
                
                id="tspan23911">所属</tspan></text>
         </g>
       </g>
       <g
          id="g23915">
         <g
            id="g23917"
            clip-path="url(#clipPath23921)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,538,707.38)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23925"><tspan
                x="0"
                y="0"
                id="tspan23923">し</tspan></text>
         </g>
       </g>
       <g
          id="g23927">
         <g
            id="g23929"
            clip-path="url(#clipPath23933)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,77.825,690.58)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23937"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan23935">ている</tspan></text>
         </g>
       </g>
       <g
          id="g23939">
         <g
            id="g23941"
            clip-path="url(#clipPath23945)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,113.85,690.58)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:HGMaruGothicMPRO;-inkscape-font-specification:HGMaruGothicMPRO;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23949"><tspan
                x="0 12"
                y="0"
                
                id="tspan23947">者。</tspan></text>
         </g>
       </g>
       <g
          id="g23975">
         <g
            id="g23977"
            clip-path="url(#clipPath23981)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,77.225,644.75)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23985"><tspan
                x="0 12 24 36"
                y="0"
                
                id="tspan23983">※経験者</tspan></text>
         </g>
       </g>
       <g
          id="g23987">
         <g
            id="g23989"
            clip-path="url(#clipPath23993)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,125.25,644.75)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text23997"><tspan
                x="0 9.8000002 19.6"
                y="0"
                
                id="tspan23995">がいる</tspan></text>
         </g>
       </g>
       <g
          id="g23999">
         <g
            id="g24001"
            clip-path="url(#clipPath24005)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,154.05,644.75)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text24009"><tspan
                x="0 12"
                y="0"
                
                id="tspan24007">場合</tspan></text>
         </g>
       </g>
       <g
          id="g24011">
         <g
            id="g24013"
            clip-path="url(#clipPath24017)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,178.08,644.75)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text24021"><tspan
                x="0 10.2"
                y="0"
                
                id="tspan24019">は、</tspan></text>
         </g>
       </g>
       <g
          id="g24023">
         <g
            id="g24025"
            clip-path="url(#clipPath24029)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,196.27,644.75)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text24033"><tspan
                x="0 12"
                y="0"
                
                id="tspan24031">相手</tspan></text>
         </g>
       </g>
       <g
          id="g24035">
         <g
            id="g24037"
            clip-path="url(#clipPath24041)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,220.28,644.75)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text24045"><tspan
                x="0"
                y="0"
                id="tspan24043">に</tspan></text>
         </g>
       </g>
       <g
          id="g24047">
         <g
            id="g24049"
            clip-path="url(#clipPath24053)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,232.68,644.75)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text24057"><tspan
                x="0"
                y="0"
                id="tspan24055">4</tspan></text>
         </g>
       </g>
       <g
          id="g24059">
         <g
            id="g24061"
            clip-path="url(#clipPath24065)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,243.08,644.75)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text24069"><tspan
                x="0 12 24"
                y="0"
                
                id="tspan24067">点加点</tspan></text>
         </g>
       </g>
       <g
          id="g24071">
         <g
            id="g24073"
            clip-path="url(#clipPath24077)">
           <text
              xml:space="preserve"
              transform="matrix(1,0,0,-1,279.1,644.75)"
              style="font-variant:normal;font-weight:normal;font-size:12px;font-family:'Meiryo UI';-inkscape-font-specification:MeiryoUI;writing-mode:lr-tb;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
              id="text24081"><tspan
                x="0 10.176 19.392"
                y="0"
                
                id="tspan24079">する。</tspan></text>
         </g>
       </g>
     </g>
   </svg>
   
</div>

<style>
    .pdf {
        width: 100%;
        border: 2px solid var(--color-primary-orange-300);
        background-color: var(--color-white);
        margin-bottom: 10px;
    }
    .embedPdf {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
</style>