---
import { Icon } from "astro-iconify";
import BattleGroup from "../BattleGroup.astro";
---
<div class="plus">
    <div class="kyogi">
        <div class="name text-16">
            バスケ
        </div>
        <div class="place">
            <Icon name="ph:map-pin-fill" class="placeIcon" />
            <p class="text-12">体育館(前)</p>
        </div>
    </div>
    <div class="table"> <!-- typeはlunch, battleに。startIdはstart0900-1540まで。endIdは0920-1600まで。kouとotsuはなくてもOk  -->
        <BattleGroup type="lunch" startId="start0900" endId="end0920" />
        <BattleGroup type="battle" startId="start0920" endId="end0940" kou="0" otsu="2E" />
        <BattleGroup type="battle" startId="start0940" endId="end1020" kou="1M" otsu="2E" />
        <BattleGroup type="battle" startId="start1100" endId="end1120" kou="1M" otsu="2E" />
        <BattleGroup type="battle" startId="start1540" endId="end1600" kou="3M" otsu="専" />
    </div>
</div>

<style>
    .plus {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1910px;
        height: 60px;
    }
    .kyogi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        row-gap: 5px;
        width: 150px;
    }
    .place {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        width: 100%;
    }
    .name {
        width: 100%;
    }
    .placeIcon {
        width: 16px;
        height: 16px;
        color: red;
    }
    .table {
        height: 100%;
        width: 1768px;
        align-items: center;
        display: grid;
        gap: 4px;
        grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px; /* 21 */
    }
</style>