<div class="plus">
    <div class="kyogi">
        <div class="name">
            <p>バスケ</p>
        </div>
        <div class="place">
            <img src="https://th.bing.com/th/id/OIP.hzOyTKYEVa5V2QgyMnd2pAHaKM?pid=ImgDet&rs=1" width=9px>
            <p>体育館(前)</p>
        </div>
    </div>  
    <div class="koiya"></div>
    <div class="koiya"></div>
    <div class="koiya"></div> 
    <div class="battle-group">
        <p>1M vs 1E</p>
    </div>
    <div class="battle-group">
        <p>2M vs 2E</p>
    </div>
    <div class="battle-group">
        <p>3M vs 3E</p>
    </div>
    <div class="battle-group">
        <p>4M vs 4E</p>
    </div>
    <div class="battle-group" >
        <p>5M vs 5E</p>
    </div>
    <div class="battle-group">
        <p>不 vs 不</p>
    </div>
    <div class="koiya"></div>
    <div class="koiya"></div>
    <div class="koiya"></div>
    <div class="battle-group">
        <p>不 vs 不</p>
    </div>
    <div class="battle-group">
        <p>不 vs 不</p>
    </div>
    <div class="battle-group">
        <p>不 vs 不</p>
    </div>
    <div class="koiya"></div>
    <div class="battle-group">
        <p>不 vs 専</p>
    </div>
    <div class="koiya"></div>
    <div class="battle-group">
        <p>不 vs 不</p>
    </div>
    <div class="koiya"></div>
    <div class="koiya"></div>
</div>

<style>
    .plus {
        display: flex;
        padding: 5px;
        flex-direction: row;
        align-items: center;
    }
    .kyogi {
        display: flex;
        flex-direction: column;
        width: 100px;
        font-size: 14px;
    }
    .place {
        display: flex;
        flex-direction: row;
        font-size: 10px;
        width: 100px;
    }
    .koiya {
        display: grid;
        grid-area: koiya;
        grid-template-rows: 10px 1fr 10px;
        grid-template-columns: 50px 1fr;
        margin: 2px;
    }
    .battle-group {
        width: 50px;
        height: 20px;
        margin: 50px 0px;
        border-radius: 5px;
        font-size: 10px;
        margin: 2px;
        padding: 0px;
        text-align: center;
        background: #FDD483;
    }
    .battle-group > *{
        width: 50px;
        margin: 2px  0px;
    }
</style>