<div class="plus">
    <div class="kyogi">
        <div class="name">
            <p>ソフトボール</p>
        </div>
        <div class="place">
            <img src="https://th.bing.com/th/id/OIP.hzOyTKYEVa5V2QgyMnd2pAHaKM?pid=ImgDet&rs=1" width=9px>
            <p>グラウンド(２コース)</p>
        </div>
    </div>  
    <div class="battle-group" id="one">
        <p>5M vs 5E</p>
    </div>
    <div class="battle-group" id="two">
        <p>3A vs 3M</p>
    </div>
    <div class="battle-group" id="three">
        <p>4A vs 4M</p>
    </div>
    <div class="battle-group" id="four">
        <p>2A vs 2M</p>
    </div>
    <div class="battle-group" id="five">
        <p>1A vs 1M</p>
    </div>
    <div class="battle-group" id="six">
        <p>不 vs 不</p>
    </div>
    <div class="battle-group" id="seven">
        <p>不 vs 不</p>
    </div>
</div>

<style>
    .plus {
        display: flex;
        padding: 5px;
        flex-direction: row;
        align-items: center;
    }
    .kyogi {
        display: flex;
        flex-direction: column;
        width: 100px;
        font-size: 14px;
    }
    .place {
        display: flex;
        flex-direction: row;
        font-size: 10px;
        width: 100px;
    }
    .battle-group {
        display: grid;
        margin: 50px 0px;
        grid-template-rows: 10px 11fr 10px;
        grid-template-columns: 100px 1fr;
        grid-template-areas:
        ". . . one two three . . . four five six seven ";  
        
        border-radius: 15%;
        font-size: 10px;
        margin: 2px;
        text-align: center;
    }
    .battle-group > *{
        padding: 3px;
    }

    #one {
        grid-area: one;
        grid-row: 1;
        grid-column: 4 / 21;
        background: #FDD483;
    }
    #two {
        grid-area: two;
        grid-row: 1;
        grid-column: 6 / 21;
        background: #FDD483;
    }
    #three {
        grid-area: three;
        grid-row: 1;
        grid-column: 8 / 21;
        background: #FDD483;
    }
    #four {
        grid-area: four;
        grid-row: 1;
        grid-column: 13 / 21;
        background: #FDD483;
    }
    #five {
        grid-area: five;
        grid-row: 1;
        grid-column: 15 / 21;
        background: #FDD483;
    }
    #six {
        grid-area: six;
        grid-row: 1;
        grid-column: 17 / 21;
        background: #FDD483;
    }
    #seven {
        grid-area: seven;
        grid-row: 1;
        grid-column: 19 / 21;
        background: #FDD483;
    }
</style>